<form class="form-horizontal" ng-if="isCard">
    <div class="main-div title">
        <fieldset>
        <div class=" row ">
            <div class="col-md-9">
                <h4>{{VO.contractName}}</h4>
            </div>
            <div class="col-md-3 text-right" add-card-btn>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="label {{VO.billstatus == 34?'label-success':VO.billstatus == 33?'label-warning':VO.billstatus == 37?'label-warning;':VO.billstatus == 36?'label-warning;':'label-default' }}">{{VO.billstatus | SELECT_BILLSTATUS}}</span>
                <span class="label label-danger">{{VO.projectType | SELECT_PROJECT_TYPE}}</span>
                <span class="label label-info">{{VO.projectEpibolyType | SELECT_PROJECT_EPIBOLY_TYPE}}</span>
                <span class="label label-inverse">{{VO.projectClass | SELECT_PROJECT_CLASS}}</span>
            </div>
        </div>
        </fieldset>
    </div>
    <div class="main-div">
        <fieldset>
            <legend>
                基本信息
            </legend>
            <div class="row">
                <div class="col-md-12">
                    <span>项目名称：</span><span class="fontStyle">{{VO.pkProject.name}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <span>合同金额：</span><span class="fontStyle">{{VO.contractAmount | currency: "¥"}}元</span>
                </div>

                <div class="col-md-4">
                    <span>合作单位：</span><span class="fontStyle">{{VO.partner}}</span>
                </div>

                <div class="col-md-4">
                    <span>统一社会信用代码：</span><span class="fontStyle">{{VO.partnerCode}}</span>
                </div>
            </div>

<!--            <div class="row">-->
<!--                <div class="col-md-4">-->
<!--                    <span>账号：</span><span class="fontStyle">{{VO.partnerAccount}}</span>-->
<!--                </div>-->

<!--                <div class="col-md-4">-->
<!--                    <span>开户行：</span><span class="fontStyle">{{VO.partnerBank}}</span>-->
<!--                </div>-->

<!--                <div class="col-md-4">-->
<!--                    <span>开户行联号：</span><span class="fontStyle">{{VO.partnerBankNo}}</span>-->
<!--                </div>-->
<!--            </div>-->
        </fieldset>
    </div>
    <div class="main-div">
        <fieldset>
            <legend>
                收付款信息
            </legend>
            <div class="row" ng-if="VO.payments.length > 0">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="10%">期次</th>
                        <th>支付比例</th>
                        <th>支付金额(元)</th>
                        <th>付款说明</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="item in VO.payments">
                        <td>{{ item.stages}}</td>
                        <td>{{ item.planRatio | RATIO_FILTER}}</td>
                        <td>{{ item.planAmount |AMOUNT_FILTER }}</td>
                        <td>{{ item.payConditions}}</td>
                    </tr>
                </table>
            </div>
            <div class="row" ng-if="VO.payments.length == 0">
                <span>没有相关数据</span>
            </div>
        </fieldset>
    </div>

    <div class="main-div">
        <fieldset>
            <legend>
                协议信息
            </legend>
            <div class="row"  ng-if="agreements.length > 0">
                <table class="table">
                    <thead>
                    <tr>
                        <th>协议编号</th>
                        <th>协议名称</th>
                        <th>是否涉及合同金额变更</th>
                        <th>协议金额</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="agreement in agreements">
                        <td>{{ agreement.pkRpaContract.code }}</td>
                        <td>{{ agreement.pkRpaContract.name }}</td>
                        <td>{{ agreement.changePament | SELECT_YESNONUM }}</td>
                        <td>{{ agreement.agreementAmount }}</td>
                    </tr>
                </table>
            </div>
            <div class="row"  ng-if="agreements.length == 0">
                <span>没有相关数据</span>
            </div>
        </fieldset>
    </div>

    <div class="main-div">
        <fieldset>
            <legend>
                附件信息
            </legend>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">文件名称</th>
                        <th>文件大小</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="item in VO.dealAttachmentB">
                        <td class="text-center">{{ item.fileName }}</td>
                        <td>{{ item.fileSize/1024/1024|number:2 }}MB</td>
                        <td nowrap>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="onDownLoadFile(item.id,item.fileName)">
                                <span class="fa fa-download"></span> 下载
                            </button>
                        </td>
                    </tr>

                </table>
            </div>
        </fieldset>
    </div>
    </div>
</form>
