<div style="height: 164px;"  ng-controller="checkPasswordCtrl">
    <div class="main-form-style">
        <form class="form-horizontal" name="appForm" verify-scope="tipStyle: 1">
            <div class="lr-contant">
                <div class="form-group">
                    <div class="col-md-8">
                        <label class="col-md-5 control-label">请输入您的密码：</label>
                        <div class="col-md-7">
                            <input class="form-control" type="password" ng-model="VO.password">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="pull-right">
        <button ng-click="confirm()" style="margin-right: 10px;" class="btn btn-sm btn-info">确定</button>
        <button style="margin-right: 10px;" class="btn btn-sm btn-info" ng-click="closeWin()">取消</button>
    </div>
</div>