<div class="main-form-style" ng-controller="passwordRestCtrl">
    <form class="form-horizontal" name="appForm" verify-scope="tipStyle: 1">
        <div class="lr-contant">
            <div style="color: red">{{VO.message}}</div>
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-5 control-label">新密码：</label>
                    <div class="col-md-7">
                        <input class="form-control" ng-disabled="isSubDisabled" type="password"
                               ng-model="VO.password">
                        <span>
                            <div ng-class="{progress: true, 'progress-striped': true}" class="col-md-4">
                        <div ng-class="['progress-bar', process.style]" ng-style="{width: process.progress + '%'}">
                            <div ng-if="process.progress">{{process.text}}</div>
                        </div>
                    </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-5 control-label">再次输入新密码：</label>
                    <div class="col-md-7">
                        <input class="form-control" ng-disabled="isSubDisabled" type="password" ng-model="VO.confirmPassword">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="pull-right">

        <div class="col-md-12" style="align-self: center;">
             <button style="float:right;" class="btn btn-sm btn-info" ng-show="true" ng-click="closeWin()">
                <span>取消</span>
            </button>

            <button style="float:right;" class="btn btn-sm btn-info" ng-show="true" ng-click="confirm()">
                <span>确定</span>
            </button>

        </div>
        <div style="clear: both"></div>
    </div>
</div>