<form class="form-horizontal" ng-if="card">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn btn-azure" type="button" ng-click="onSave()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-if="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>
            <button class="btn btn-azure" ng-click="onCancel()" ng-if="!isGrid&&isEdit">
                <i class="fa fa-undo"></i>
                <span>取消</span>
            </button>
            <button class="btn btn-azure" ng-click="onSubmit()" ng-if="!isEdit&&(VO.billstatus==31||VO.billstatus==36)">
                <i class="ti-save"></i>
                <span>提交</span>
            </button>
            <button class="btn btn-azure" ng-click="sendvoucher()" ng-if="!isEdit&&(VO.billstatus==34)&&isAudit">
                <i class="ti-check"></i>
                <span>审核</span>
            </button>
            <button class="btn btn-azure" ng-click="viewvoucher()" ng-if="!isEdit&&!isAudit&&VO.sapCustomernCode==3">
                <i class="ti-check"></i>
                <span>查看凭证</span>
            </button>
            <button class="btn btn-azure" ng-click="onBack()" ng-if="isBack">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
            <button class="btn btn-azure" ng-click="onTemporary(VO)" ng-show="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>暂存</span>
            </button>
        </div>
    </div>
    <div class="main-div">
        <div class="col-md-12 title">
            <h4>{{VO.rechargeNo}}</h4>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span class="{{VO.billstatus == 34?'span-background-tg':VO.billstatus == 33?'span-background-shz':VO.billstatus == 37?'span-background-zc':VO.billstatus == 36?'span-background-bh':'' }}">{{VO.billstatus | SELECT_BILLSTATUS}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 title">
            <p style="font-size:20px">详细信息</p>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>认款信息编号：</span><span class="fontStyle">{{VO.rechargeNo}}</span>
                </div>
                <div class="col-md-4">
                    <span>充值流水号：</span><span class="fontStyle">{{VO.rechargeRecord[0].rechargeNo}}</span>
                </div>
                <div class="col-md-4">
                    <span class="lr-verify">过账日期：</span><input class="form-control"  ng-disabled="!isAudit" type="text" wdate-picker
                                      ng-model="VO.sendDay" style="display: inline-block;width: 200px">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>SAP 凭证状态：</span><span class="fontStyle">{{VO.sapCustomernCode | SELECT_SAPTYPE}}</span>
                </div>
                <div class="col-md-4">
                    <span class="lr-verify" style="display: inline-block">成本中心：</span>
                        <input class="form-control" ng-disabled="!isAudit" ui-popup-ref="caibSapCostCenterRef"
                               url="'caibSapCostCenterRef/queryForGrid'" ng-click="" popup-model="VO"
                               popup-model-field="'sapCenter'"
                               ng-model="VO.sapCenter.NAME" type="text" placeholder="" style="display: inline-block;width: 200px">
                </div>

                <div class="col-md-4">
                    <span class="lr-verify" style="display: inline-block">财务客商名称：</span>
                    <input class="form-control" ng-disabled="!isAudit" ui-popup-ref="uiPopupRef"
                           url="'sapCustomerRef/queryForGrid'" ng-click="" popup-model="VO"
                           popup-model-field="'factCustomer'"
                           ng-model="VO.factCustomer.NAME" type="text" placeholder="" style="display: inline-block;width: 200px">
                </div>
            </div>
            <div class="col-md-12 card-grid">
                <div>
                    <tabset justified="false">
                        <tab index="1" heading="银行流水" select="selectTab('accountStatementGridOption')">
                            <div ui-grid="accountStatementGridOption" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize
                                 ui-grid-resize-columns class="grid" style="height: 200px"></div>
                        </tab>
                    </tabset>
                    <tabset justified="false">
                        <tab index="3" heading="充值记录" select="selectTab('rechargeRecordGridOption')">
                            <div ui-grid="rechargeRecordGridOption" ui-grid-edit ui-grid-cellnav ui-grid-selection
                                 ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
        <div class="col-md-12 font-style-audit-title title" ng-show="mess">
            <p class="taskmess">审批信息</p>

            <div ng-repeat="item in VO.taskHis" style="color: black;border-bottom:1px solid 	#C0C0C0">
                <p><span><b>{{item.operate_name}}: </b></span><span ng-bind-html="item.pk_process.name"></span></p>
                <p>{{item.opinion}}</p>
                <p style="text-align: right">{{item.process_time}}</p>
            </div>
        </div>
    </div>
</form>
