<div ng-controller="documentsCtrl">
    <div class="col-md-3" style="min-height: 70px">
        <div class="btn-group" >
            <button class="btn lr-main-btn" ng-click="add_branch()">
                <i class="fa fa-plus"></i>
                添加目录
            </button>
            <button class="btn lr-main-btn" ng-click="edit_branch()">
                <i class="fa fa-plus"></i>
                修改目录
            </button>
            <button class="btn lr-main-btn" ng-click="delete_branch()">
                <i class="fa fa-plus"></i>
                删除目录
            </button>
        </div>
        <div class="btn-group" >
            <abn-tree tree-data = "treeData" tree-control = "my_tree" initial-selection="my_tree_selected" on-select="my_tree_handler(branch)" expand-level = "0" icon-leaf = "fa fa-file-o" icon-expand = "fa fa-plus" icon-collapse ="fa fa-minus"></abn-tree>
        </div>
    </div>
    <div class="col-md-9">
        <div class="grid-style lr-page-less-margin" data-ng-include="getURL('insurance/view/documents/documentsGrid.html')" ng-show="isGrid"></div>
        <div class="form-style lr-page-less-margin" data-ng-include="getURL('insurance/view/documents/documentsCard.html')" ng-show="isCard"></div>
        <div class="form-style lr-page-less-margin" data-ng-include="getURL('insurance/view/documents/documentsForm.html')" ng-show="!isGrid&&!isCard"></div>
    </div>
</div>
