<div class="form-horizontal">
    <accordion>
        <accordion-group is-open="status.open" class="lr-page-bg-gray" grid-button="true">
            <accordion-heading class="lr-page-bg-white">
                <div class="btn lr-page-bg-indigo" ng-click="changeOpen();">
                    <i class="fa fa-search lr-page-color" aria-hidden="true"></i>
                    <span class="lr-page-color">查询条件</span>
                </div>
                <div class="form-group pull-right">
                    <div class="btn-group">
                        <button class="btn lr-main-btn" ng-click="queryTotal = !queryTotal">
                            <i class="fa fa-ellipsis-h"></i>
                            <span>高级查询</span>
                        </button>
                        <button class="btn lr-main-btn" ng-click="onQuery();">
                            <i class="fa fa-search"></i>
                            <span>查询</span>
                        </button>
                        <button class="btn lr-main-btn" ng-click="onReset();">
                            <i class="fa fa-undo"></i>
                            <span>重置</span>
                        </button>
                    </div>
                </div>
            </accordion-heading>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-md-253 control-label">全文检索</label>
                        <div class="col-md-252">
                            <input class="form-control" type="text" placeholder="请输入以空格隔开的关键字"
                                   ng-model="QUERY['wideArea']"/>
                        </div>
                    </div>
                </div>
                <div ng-if="queryTotal">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">交易账号</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="QUERY['transaction_account']" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">交易期间</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" wdate-picker ng-model="QUERY['c_0_transaction_date_f']" style="display: inline-block;width: 46%;"/>
                                -
                                <input class="form-control" type="text" wdate-picker ng-model="QUERY['c_0_transaction_date_l']" style="display: inline-block;width: 47%;"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">对方账号</label>
                            <div class="col-md-8" style="display: inline-block">
                                <input class="form-control" type="text" ng-model="QUERY['reciprocal_account']" />
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">借方金额</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="QUERY['borrower_amount']" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">匹配状态</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="QUERY['matchingState']"
                                        ng-options="item.id as item.name for item in SELECT.MATCHINGSTATE">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </accordion-group>
    </accordion>
</div>

<input type="file" id="inputFile"  accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="display: none" onchange="angular.element(this).scope().onImportUploads(false)"/>
<div class="lr-grid-container">
    <div>
        <accordion>
            <accordion-group is-open="true" grid-button="true">
                <accordion-heading class="lr-page-bg-white">
                <div class="lr-grid-toolbar">
                    <div class="btn lr-page-bg-indigo">
                        <i class="fa fa-database lr-page-color" aria-hidden="true"></i> <span class="lr-page-color">查询结果</span>
                    </div>
                    <div class="btn-group lr-grid-btn-right" add-grid-btn>  </div>
                </div>
        </accordion-heading>
            <div class="clearfix lr-page-margin" ng-style="getGridHtmlStyle('','',470,0)">
                <div ui-grid="gridOptions" ui-grid-pagination ui-grid-exporter ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection ui-grid-pinning class="grid" style="min-height: 100%"></div>
            </div>
    </div>
</div>