<form class="form-horizontal" name="appForm" verify-scope="tipStyle: 1" ng-if="isForm">
    <div class="lr-contant">
        <div class="lr-contant text-right " add-form-btn>
        </div>
    </div>
    <div class="lr-contant">
        <fieldset>
            <legend>
                基本信息
            </legend>
            <div class="form-group">
                <div class="col-md-8">
                    <label class="col-md-2 control-label lr-verify">项目信息：</label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <ui-select ng-model="VO.pkProject" ng-verify="{required:true}" theme="bootstrap">
                                <ui-select-match placeholder="只能选择到通过项目批复的项目，且该项目要在经法系统中完成合同流程。">
                                    <span class="text-dark">{{VO.pkProject.name}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in projectRefData | filter: $select.search">
                                    <span class="no-wrap" ng-bind-html="item.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                    <button ng-click="VO.pkProject = undefined" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button> </span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="lr-contant">
                <fieldset>
                    <legend>
                        采购申请详情
                    </legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-255 control-label lr-verify">①项目需求概括及定价规则情况：</label>
                            <div class="col-md-254">
                                <textarea maxlength="512" class="form-control limited autosize area-animated msd-elastic: \n;" ng-verify="{required:true}" ng-model="VO.data.requirement" placeholder="最多输入500个汉字。" placeholder="最多输入500个汉字。"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-255 control-label lr-verify">②事先明确单价或折扣率情况说明：</label>
                            <div class="col-md-254">
                                <textarea maxlength="512" class="form-control limited autosize area-animated msd-elastic: \n;" ng-verify="{required:true}" ng-model="VO.data.priceInfo" placeholder="最多输入500个汉字。"></textarea>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-255 control-label lr-verify">③履约评价及其他事项说明：</label>
                            <div class="col-md-254">
                                <textarea maxlength="512" class="form-control limited autosize area-animated msd-elastic: \n;" ng-verify="{required:true}" ng-model="VO.data.evaluation" placeholder="最多输入500个汉字。"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-255 control-label lr-verify">③推荐选择服务商名单及理由说明：</label>
                            <div class="col-md-254">
                                <textarea maxlength="512" class="form-control limited autosize area-animated msd-elastic: \n;" ng-verify="{required:true}" ng-model="VO.data.partnerInfo" placeholder="最多输入500个汉字。"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="lr-contant">
                <fieldset>
                    <legend>
                        推荐选择服务商名单
                    </legend>
                    <div class="text-right">
                        <!--                        <button class="btn btn-sm btn-primary" type="button" ng-click="onAddLine('patnersGrid')">增行</button>-->
                    </div>
                    <div ui-grid="patnersGrid" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize
                         ui-grid-resize-columns class="grid" style="height: 150px"></div>
                </fieldset>
            </div>
        </div>
        <div class="col-md-12">
            <div class="lr-contant">
                <fieldset>
                    <legend>
                        项目附件
                    </legend>
                    <input-file-uploader instructions="'框架项目采购申请补充材料'" func-code="funcCode" model-data="VO.dealAttachmentB"></input-file-uploader>
                </fieldset>
            </div>
        </div>
    </div>

</form>
