<div class="form-horizontal">
    <accordion>
        <accordion-group is-open="status.open" class="lr-page-bg-gray" grid-button="true">
            <accordion-heading class="lr-page-bg-white">
                <div class="btn lr-page-bg-indigo" ng-click="changeOpen();">
                    <i class="fa fa-search lr-page-color" aria-hidden="true"></i>
                    <span class="lr-page-color">查询条件</span>
                </div>
                <div class="form-group pull-right">
                    <div class="btn-group">
                        <button class="btn lr-main-btn" ng-click="queryTotal = !queryTotal">
                            <i class="fa fa-ellipsis-h"></i>
                            <span>高级查询</span>
                        </button>
                        <button class="btn lr-main-btn" ng-click="onQuery();">
                            <i class="fa fa-search"></i>
                            <span>查询</span>
                        </button>
                        <button class="btn lr-main-btn" ng-click="onReset();">
                            <i class="fa fa-undo"></i>
                            <span>重置</span>
                        </button>
                    </div>
                </div>
            </accordion-heading>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-md-253 control-label">产品名称</label>
                        <div class="col-md-252">
                            <input class="form-control" type="text" placeholder="请输入产品名称" ng-model="QUERY['insurance_man_product']" maxlength="20"/>
                        </div>
                    </div>
                </div>
                <div ng-if="queryTotal">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">保险公司</label>
                            <div class="col-md-8">
                                <input class="form-control" ui-popup-ref
                                       url="'agreement/queryForGridRef'" popup-model="QUERY"
                                       popup-model-field="'insurance_man0_0Obj_name'" popup-model-value="{customerType :'(3,4)'}"
                                       ng-model="QUERY.insurance_man0_0Obj_name.name" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">保险公司险种</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" placeholder="请输入保险公司险种" ng-model="QUERY['insurance_man_insurance']" maxlength="20"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">是否互联网业务</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="QUERY['if_fictitious0_0eq']"
                                        ng-options="item.id as item.name for item in SELECT.YESNO">
                                    <option value="">--请选择是否互联网业务--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">制单年度</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="QUERY['substr(create_time,1,4)0_0eq']"
                                        ng-options="item.id as item.name for item in SELECT.BUSIYEAR">
                                    <option value="">--请选择制单年度--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">制单月度</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="QUERY['substr(create_time,6,2)0_0eq']"
                                        ng-options="item.id as item.name for item in SELECT.MONTH">
                                    <option value="">--请选择制单月度--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">业务单位</label>
                            <div class="col-md-8">
                                <input class="form-control" ui-popup-ref
                                       url="'orgRef/queryForGrid'" popup-model="QUERY"
                                       popup-model-field="'pk_org0_0Obj_name'"
                                       ng-model="QUERY.pk_org0_0Obj_name.name" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </accordion-group>
    </accordion>
</div>

<div class="lr-grid-container">
    <div>
        <accordion>
            <accordion-group is-open="true" grid-button="true">
                <accordion-heading class="lr-page-bg-white">
                    <div class="lr-grid-toolbar">
                        <div class="btn lr-page-bg-indigo">
                            <i class="fa fa-database lr-page-color" aria-hidden="true"></i>
                            <span class="lr-page-color">查询结果</span>
                        </div>
                        <div class="btn-group lr-grid-btn-right" add-grid-btn>
                            <!--              不存库的按钮写在这里              -->
                        </div>
                    </div>
                </accordion-heading>
                <div class="clearfix lr-page-margin" ng-style="getGridHtmlStyle('','',470,0)">
                    <div ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-exporter
                         ui-grid-selection ui-grid-pinning class="grid" style="min-height: 100%"></div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>