<div class="form-horizontal" >
    <accordion>
        <accordion-group is-open="status.open" class="lr-page-bg-gray" grid-button="true">
            <accordion-heading class="lr-page-bg-white">
                <div class="btn lr-page-bg-indigo" ng-click="changeOpen();">
                    <i class="fa fa-search lr-page-color" aria-hidden="true"></i>
                    <span class="lr-page-color">查询条件</span>
                </div>
                <div class="form-group pull-right">
                    <div class="btn-group">
                        <div ng-init="queryTotal = false"></div>
                        <button class="btn lr-main-btn" ng-click="queryTotal = !queryTotal">
                            <i class="fa fa-ellipsis-h"></i>
                            <span>高级查询</span>
                        </button>
                        <button class="btn lr-main-btn" ng-click="onQuery();">
                            <i class="fa fa-search"></i>
                            <span>查询</span>
                        </button>
                        <button class="btn lr-main-btn" ng-click="onReset();">
                            <i class="fa fa-undo"></i>
                            <span>重置</span>
                        </button>
                    </div>
                </div>
            </accordion-heading>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">附件名称</label>
                        <div class="col-md-8">
                            <input class="col-md-12 form-control" type="text" ng-model="QUERY['file_name']"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">上传人</label>
                        <div class="col-md-8">
                            <input class="col-md-12 form-control" type="text"  ng-model="QUERY['user_name']"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">业务单位</label>
                        <div class="col-md-8">
                           <!-- <input class="col-md-12 form-control" type="text" ng-model="QUERY['pk_org']"/>-->
                            <input class="form-control" ui-popup-ref
                                   url="'orgSetRef/queryForGrid'" popup-model="QUERY"
                                   popup-model-field="'pk_org'"
                                   ng-model="QUERY.pk_org.name" type="text" placeholder="">
                        </div>
                    </div>
                </div>
                <div ng-if="queryTotal">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">所属单据名称</label>
                        <div class="col-md-8">
                            <input class="col-md-12 form-control" type="text" ng-model="QUERY['zm']"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">所属单据编号</label>
                        <div class="col-md-8">
                            <input class="col-md-12 form-control" type="text" ng-model="QUERY['code']"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">开始日期</label>
                        <div class="col-md-8">
                            <input class="col-md-12 form-control" wdate-picker type="text" ng-model="QUERY['begin']"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">结束日期</label>
                        <div class="col-md-8">
                            <input class="col-md-12 form-control" wdate-picker type="text" ng-model="QUERY['end']"/>
                        </div>
                    </div>
                </div>
                    </div>
            </form>
        </accordion-group>
    </accordion>
</div>

<div class="lr-grid-container">
    <div>
        <accordion>
            <accordion-group is-open="true"  grid-button="true">
                <accordion-heading class="lr-page-bg-white">
                    <div class="lr-grid-toolbar" >
                        <div class="btn lr-page-bg-indigo">
                            <i class="fa fa-database lr-page-color" aria-hidden="true"></i>
                            <span class="lr-page-color">查询结果</span>
                        </div>
                        <!--  <div class="btn-group lr-grid-btn-right" >
                              <button class="btn lr-main-btn" ng-click="onAdd()">
                                  <i class="fa fa-plus"></i>
                                  增加
                              </button>
                              <button class="btn lr-main-btn" ng-click="onEdit()">
                                  <i class="fa fa-plus"></i>
                                  修改
                              </button>
                              <button class="btn lr-main-btn" ng-click="onSave()">
                                  <i class="fa fa-plus"></i>
                                  保存
                              </button>
                              <button class="btn lr-main-btn" ng-click="onCancel()">
                                  <i class="fa fa-plus"></i>
                                  取消
                              </button>
                              <button class="btn lr-main-btn" ng-click="onDelete()">
                                  <i class="fa fa-plus"></i>
                                  删除
                              </button>
                              <button class="btn lr-main-btn" ng-click="onCard()">
                                  <i class="fa fa-plus"></i>
                                  卡片
                              </button>
                               <button class="btn lr-main-btn" ng-click="viewClause(gridApi)" ng-disabled="checkStatus(gridApi,'','',true)" >
                                <i class="fa fa-joomla"></i>
                                查看附件
                            </button>
                          </div>-->
                    </div>
                </accordion-heading>
                <div class="clearfix lr-page-margin" ng-style="getGridHtmlStyle('','',470,0)">
                    <div ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection ui-grid-pinning class="grid" style="min-height: 100%"></div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>