<form class="form-horizontal" name="appForm" verify-scope="tipStyle: 1" ng-if="form">
    <div class="lr-toolbar">
        <div class="btn-group">

            <button class="btn lr-main-btn" ng-click="onBack()" ng-show="!isBack">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
            <button class="btn btn-azure" type="button" ng-click="onPullData(VO)">
                <i class="fa fa-edit"></i>
                <span>拉取</span>
            </button>
            <button type="button" class="btn btn-azure" ng-click="onSave(VO)"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}"
                    ng-if="!isGrid&&!isCard&&isEdit||VO.fbillstatus==1">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>
            <button class="btn btn-azure" type="button" ng-click="onFileSubmit()" ng-if="VO.billstatus==31||VO.billstatus==36">
                <i class="ti-save"></i>
                <span>提交</span>
            </button>
            <button class="btn btn-azure" type="button" ng-click="onRecall()" ng-if="VO.billstatus==33||VO.billstatus==32">
                <i class="ti-check"></i>
                <span>撤回</span>
            </button>
            <button class="btn btn-azure" ng-click="onLinkAuditFlow()">
                <i class="fa fa-plus"></i>
                <span>查看流程图</span>
            </button>
        </div>
    </div>
    <div class="alert alert-success" style="background-color: #edfaff;color: #6c7072">
        <p style="font-weight: bold">
            <i class="fa fa-info-circle fa-2x" style="color: #0a9dc7">  帮助信息</i>
            <br><br>
            1.新增客户必须留存【客户告知书】；续保业务必须留存【保险到期提示函】
            <br><br>
            2.股东业务必须留存：【保险方案确认函】、【出单通知书/暂保申请/保单批改申请书】、【投保单/保险单/暂保单/批单】
            <br><br>
            3.财产险必须上传【保险方案】（或通过招标方式在招标文件中确定的保险方案）；人身险必须上传保险建议书/保险方案
            <br><br>
            4.年收入10万元（含）以上的客户必须上传【客户服务档案】
        </p>
    </div>
    <div class="lr-contant">
        <accordion class="">
            <accordion-group is-open="true" class="lr-page-bg-gray">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo">
                        <i class="fa fa-hand-o-right lr-page-color" aria-hidden="true"></i>
                        <span class="lr-page-color">档案基本信息</span>
                    </div>
                    <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">立项名称：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-verify ng-disabled="isDisabled" ui-popup-ref="projectRef"
                                   url="archivesPath+'fileAdministration/fileAdministrationRef'" ng-click=""
                                   popup-model="VO"
                                   popup-model-field="'pkProject'" popup-model-value="param"
                                   ng-model="VO.pkProject.name" type="text" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">立项编号 ：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text" ng-model="VO.pkProject.code">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">客户产权关系：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text"
                                   ng-model="VO.pkProject.tradetype_name">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">经纪业务档案编号：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text" ng-model="VO.fbillno">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">业务类型：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text"
                                   ng-value="VO.pkProject.c_2_type|SELECT_MARKETTYPE">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">档案所属期：</label>
                        <div class="col-md-7">
                            <select class="form-control" ng-verify  ng-model="VO.period"
                                    ng-options="item.id as item.name for item in SELECT.BUSIYEAR">
                                <option value="">--请选择所属期--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">档案状态：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text"
                                   ng-value="VO.fbillstatus|SELECT_BUSSINESFILESSTATUS">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">客户名称：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text"
                                   ng-model="VO.pkProject.cinsureman_name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">业务状态：</label>
                        <div class="col-md-7">
                            <select class="form-control" ng-verify ng-model="VO.bussinessStatus" ng-disabled="isDisable"
                                    required
                                    ng-options="item.id as item.name for item in SELECT.BUSSINESSSTATUS">
                                <option value="">--请选择业务状态--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">立项经办人：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text"
                                   ng-value="VO.pkProject.pkOperator_name">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">档案经办人：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text"
                                   ng-model="VO.pkOperator.name">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-md-255 control-label" for="exampleFormControlTextarea1">备注：</label>
                        <div class="col-md-254">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" type="text"  value="" ng-disabled="isDisable" style="resize:none"
                                  ng-model="VO.c1Execitem">
                            </textarea>
                        </div>
                </div>
                </div>
            </accordion-group>
        </accordion>
        <table class="table table-hover" id="sample-table-1">
            <thead>
            <tr>
                <th>档案状态一览(份)</th>
                <th class="hidden-xs"></th>
                <th class="hidden-xs"></th>
                <th class="hidden-xs"></th>
                <th class="hidden-xs"></th>
                <th class="hidden-xs"></th>
                <th class="hidden-xs"></th>
                <th class="hidden-xs"></th>
                <th class="hidden-xs"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="hidden-xs">
                    <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="基础档案"><i class="fa fa-pencil"></i></a>
                    基础档案</td>
                <td class="lr-verify">客户告知书（新增客户必须上传）：{{VO.fileStatusList.customerNotification}}</td>
                <td class="lr-verify">保险到期提示函（续保业务必须上传）：{{VO.fileStatusList.insuranceExpire}}</td>
                <td class="hidden-xs">中标通知书：{{VO.fileStatusList.markNotice}}</td>
                <td class="lr-verify">保险方案确认函（股东业务必留存）：{{VO.fileStatusList.insurScheme}}</td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
            </tr>
            <tr>
                <td class="hidden-xs">
                    <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="结算档案"><i class="fa fa-pencil"></i></a>
                    结算档案</td>
                <td class="hidden-xs">保险公司结算单：{{VO.fileStatusList.companyStatement}}</td>
                <td class="lr-verify">业务收入确认书：{{VO.fileStatusList.businessIncome}}</td>
                <td class="lr-verify">发票开具申请单：{{VO.fileStatusList.billApplication}}</td>
                <td class="lr-verify">发票扫描件：{{VO.fileStatusList.packingList}}</td>
                <td class="lr-verify">保费缴纳通知书：{{VO.fileStatusList.premiumNotice}}</td>
                <td class="lr-verify">资金到账通知书：{{VO.fileStatusList.receiptNoitce}}</td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
            </tr>
            <tr>
                <td class="hidden-xs">
                    <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="合同档案"><i class="fa fa-pencil"></i></a>
                    合同档案</td>
                <td class="hidden-xs">经纪业务委托合同：{{VO.fileStatusList.mandate}}</td>
                <td class="lr-verify">经纪业务合作协议：{{VO.fileStatusList.economicCooperation }}</td>
                <td class="hidden-xs">经纪业务三方协议：{{VO.fileStatusList.economicTripartite}}</td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
            </tr>
            <tr>
                <td class="hidden-xs">
                    <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="单据档案"><i class="fa fa-pencil"></i></a>
                    单据档案</td>
                <td class="lr-verify">保险方案/保险建议书：{{VO.fileStatusList.insuranceSchemes}}</td>
                <td class="lr-verify">出单通知书：{{VO.fileStatusList.issueNotices}}</td>
                <td class="lr-verify">保单：{{VO.fileStatusList.insurancePolicy}}</td>
                <td class="lr-verify">批单：{{VO.fileStatusList.endorsement}}</td>
                <td class="lr-verify">暂保单：{{VO.fileStatusList.coverNote}}</td>
                <td class="lr-verify">暂保申请: {{VO.fileStatusList.coverNoteApply}}</td>
                <td class="lr-verify">保单批改申请书: {{VO.fileStatusList.insuranceChangeApply}}</td>
                <td class="lr-verify">保险单: {{VO.fileStatusList.insuranceBill}}</td>
            </tr>
            <tr>
                <td class="hidden-xs">
                    <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="其他档案"><i class="fa fa-pencil"></i></a>
                    其他档案</td>
                <td class="lr-verify">领取报酬情况表：{{VO.fileStatusList.drawReward}}</td>
                <td class="hidden-xs">其他附件：{{VO.fileStatusList.otherAttachments}}</td>
                <td class="lr-verify">装盒照片：{{VO.fileStatusList.boxPictures}}</td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
            </tr>
            <tr>
                <td class="hidden-xs">
                    <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="客户服务档案"><i class="fa fa-pencil"></i></a>
                    客户服务档案</td>
                <td class="lr-verify">客户服务计划表:{{VO.customerServiceList.schedule}}</td>
                <td class="lr-verify">客户服务工作报告: {{VO.customerServiceList.workReport}}</td>
                <td class="hidden-xs">客户培训资料：{{VO.customerServiceList.trainingMaterials}}</td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
            </tr>
            </tbody>
        </table>
        <accordion close-others="oneAtATime" class="" >
              <div ng-if="VO.bussinessStatus ==1">
                  <div class="form-group" id="baseFilesId" >
                      <accordion-group class="lr-page-bg-gray" aria-expanded="true"  aria-hidden="false" is-open="true">
                          <accordion-heading class="lr-page-bg-white">
                              <div class="btn lr-page-bg-indigo" style="margin-left: 15px">
                                  <i class="fa fa-hand-o-right lr-page-color"></i>
                                  <span class="lr-page-color">基础档案</span>
                              </div>
                          </accordion-heading>
                          <div class="pull-right lr-mr10 lr-mt10">
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onUploads('baseFilesGridOptions');">增加
                              </button>
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onDeleteLine('baseFilesGridOptions');">删除
                              </button>
                          </div>
                          <tabset justified="false" aria-expanded="true">
                              <tab heading="附件" select="selectTab('baseFilesGridOptions')">
                                  <div ui-grid="baseFilesGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                                       ui-grid-auto-resize ui-grid-resize-columns class="grid"
                                       style="height: 200px"></div>
                              </tab>
                          </tabset>

                      </accordion-group>
                  </div>

                  <div class="form-group" aria-expanded="true" id="junctionFilesId">
                      <accordion-group class="lr-page-bg-gray" is-open="true">
                          <accordion-heading class="lr-page-bg-white">
                              <div class="btn lr-page-bg-indigo" style="margin-left: 15px">
                                  <i class="fa fa-hand-o-right lr-page-color"></i>
                                  <span class="lr-page-color">结算档案</span>
                              </div>
                          </accordion-heading>
                          <div class="pull-right lr-mr10 lr-mt10">
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onUploads('junctionFilesGridOptions');">增加
                              </button>
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onDeleteLine('junctionFilesGridOptions');">删除
                              </button>
                          </div>
                          <tabset justified="false" aria-expanded="true">
                              <tab index="3" heading="附件" select="selectTab('junctionFilesGridOptions')">
                                  <div ui-grid="junctionFilesGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                                       ui-grid-auto-resize ui-grid-resize-columns class="grid"
                                       style="height: 200px"></div>
                              </tab>
                          </tabset>
                      </accordion-group>
                  </div>

                  <div class="form-group" id="mainContractId">
                      <accordion-group class="lr-page-bg-gray" is-open="true">
                          <accordion-heading class="lr-page-bg-white">
                              <div class="btn lr-page-bg-indigo">
                                  <i class="fa fa-hand-o-right lr-page-color" style="margin-left: 15px"></i>
                                  <span class="lr-page-color">合同信息</span>
                              </div>
                          </accordion-heading>
                          <div class="pull-right lr-mr10 lr-mt10">
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="relationPage('mainContractGridOptions');">增加
                              </button>
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onDeleteLine('mainContractGridOptions');">删除
                              </button>
                          </div>
                          <tabset justified="false" aria-expanded="true">
                              <tab heading="附件" select="selectTab('mainContractGridOptions')">
                                  <div ui-grid="mainContractGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                                       ui-grid-auto-resize ui-grid-resize-columns class="grid"
                                       style="height: 200px"></div>
                              </tab>
                          </tabset>
                      </accordion-group>
                  </div>
                  <div class="form-group" id="uploadContractFileId">
                      <accordion-group class="lr-page-bg-gray" is-open="true">
                          <accordion-heading class="lr-page-bg-white">
                              <div class="btn lr-page-bg-indigo">
                                  <i class="fa fa-hand-o-right lr-page-color" style="margin-left: 15px"></i>
                                  <span class="lr-page-color">其他合同附件信息</span>
                              </div>
                          </accordion-heading>
                          <div class="pull-right lr-mr10 lr-mt10">
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="relationPage('uploadContractFileGridOptions');">增加
                              </button>
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onDeleteLine('uploadContractFileGridOptions');">删除
                              </button>
                          </div>
                          <tabset justified="false" aria-expanded="true">
                              <tab heading="附件" select="selectTab('uploadContractFileGridOptions')">
                                  <div ui-grid="uploadContractFileGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                                       ui-grid-auto-resize ui-grid-resize-columns class="grid"
                                       style="height: 200px"></div>
                              </tab>
                          </tabset>
                      </accordion-group>
                  </div>

                  <div class="form-group" id="insuranceSchemeId">
                      <accordion-group class="lr-page-bg-gray" is-open="true">
                          <accordion-heading class="lr-page-bg-white">
                              <div class="btn lr-page-bg-indigo" style="margin-left: 15px">
                                  <i class="fa fa-hand-o-right lr-page-color"></i>
                                  <span class="lr-page-color">保险方案/保险建议书附件</span>
                              </div>
                          </accordion-heading>
                          <div class="pull-right lr-mr10 lr-mt10">
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onUploads1('insuranceSchemeGridOptions');">上传
                              </button>
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onDeleteLine('insuranceSchemeGridOptions');">删除
                              </button>
                          </div>
                          <tabset justified="false" aria-expanded="true">
                              <tab index="3" heading="附件" select="selectTab('insuranceSchemeGridOptions')">
                                  <div ui-grid="insuranceSchemeGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                                       ui-grid-auto-resize ui-grid-resize-columns class="grid"
                                       style="height: 200px"></div>
                              </tab>
                          </tabset>
                      </accordion-group>
                  </div>

                  <div class="form-group" id="issueNoticeId">
                      <accordion-group class="lr-page-bg-gray" is-open="true">
                          <accordion-heading class="lr-page-bg-white">
                              <div class="btn lr-page-bg-indigo" style="margin-left: 15px">
                                  <i class="fa fa-hand-o-right lr-page-color"></i>
                                  <span class="lr-page-color">出单通知书附件</span>
                              </div>
                          </accordion-heading>
                          <div class="pull-right lr-mr10 lr-mt10">
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onUploads1('issueNoticeGridOptions');">上传
                              </button>
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onDeleteLine('issueNoticeGridOptions');">删除
                              </button>
                          </div>
                          <tabset justified="false">
                              <tab index="3" heading="附件" select="selectTab('issueNoticeGridOptions')">
                                  <div ui-grid="issueNoticeGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                                       ui-grid-auto-resize ui-grid-resize-columns class="grid"
                                       style="height: 200px"></div>
                              </tab>
                          </tabset>
                      </accordion-group>
                  </div>

                  <div class="form-group" id="projectInsuranceId">
                      <accordion-group class="lr-page-bg-gray" is-open="true">
                          <accordion-heading class="lr-page-bg-white">
                              <div class="btn lr-page-bg-indigo">
                                  <i class="fa fa-hand-o-right lr-page-color" style="margin-left: 15px"></i>
                                  <span class="lr-page-color">保单附件</span>
                              </div>
                          </accordion-heading>
                        <!--  <div class="pull-right lr-mr10 lr-mt10">
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onUploads('projectInsuranceGridOptions');">上传
                              </button>
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onDeleteLine('projectInsuranceGridOptions');">删除
                              </button>
                          </div>-->
                          <tabset justified="false">
                              <tab index="3" heading="附件" select="selectTab('projectInsuranceGridOptions')">
                                  <div ui-grid="projectInsuranceGridOptions" ui-grid-edit ui-grid-cellnav
                                       ui-grid-selection
                                       ui-grid-auto-resize ui-grid-resize-columns class="grid"
                                       style="height: 200px"></div>
                              </tab>
                          </tabset>
                      </accordion-group>
                  </div>
                  <div class="form-group" id="changeBillCheckId">
                      <accordion-group class="lr-page-bg-gray" is-open="true">
                          <accordion-heading class="lr-page-bg-white">
                              <div class="btn lr-page-bg-indigo">
                                  <i class="fa fa-hand-o-right lr-page-color" style="margin-left: 15px"></i>
                                  <span class="lr-page-color">批单附件</span>
                              </div>
                          </accordion-heading>
                         <!-- <div class="pull-right lr-mr10 lr-mt10">
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onUploads('changeBillCheckGridOptions');">上传
                              </button>
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onDeleteLine('changeBillCheckGridOptions');">删除
                              </button>
                          </div>-->
                          <tabset justified="false">
                              <tab index="3" heading="附件" select="selectTab('changeBillCheckGridOptions')">
                                  <div ui-grid="changeBillCheckGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                                       ui-grid-auto-resize ui-grid-resize-columns class="grid"
                                       style="height: 200px"></div>
                              </tab>
                          </tabset>
                      </accordion-group>
                  </div>
                  <div class="form-group" id="provisionalPolicyId">
                      <accordion-group class="lr-page-bg-gray" is-open="true">
                          <accordion-heading class="lr-page-bg-white">
                              <div class="btn lr-page-bg-indigo" style="margin-left: 15px">
                                  <i class="fa fa-hand-o-right lr-page-color"></i>
                                  <span class="lr-page-color">暂保单附件</span>
                              </div>
                          </accordion-heading>
                         <!-- <div class="pull-right lr-mr10 lr-mt10">
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                              </button>
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onDeleteLine('provisionalPolicyGridOptions');">删除
                              </button>
                          </div>-->
                          <tabset justified="false">
                              <tab index="3" heading="附件" select="selectTab('provisionalPolicyGridOptions')">
                                  <div ui-grid="provisionalPolicyGridOptions" ui-grid-edit ui-grid-cellnav
                                       ui-grid-selection
                                       ui-grid-auto-resize ui-grid-resize-columns class="grid"
                                       style="height: 200px"></div>
                              </tab>
                          </tabset>
                      </accordion-group>
                  </div>

                  <div class="form-group" id="dealAttachmentBId">
                      <accordion-group class="lr-page-bg-gray" is-open="true">
                          <accordion-heading class="lr-page-bg-white">
                              <div class="btn lr-page-bg-indigo" style="margin-left: 15px">
                                  <i class="fa fa-hand-o-right lr-page-color"></i>
                                  <span class="lr-page-color">其他附件</span>
                              </div>
                          </accordion-heading>
                          <div class="pull-right lr-mr10 lr-mt10">
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onUploads('dealAttachmentBGridOptions');">上传
                              </button>
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onDeleteLine('dealAttachmentBGridOptions');">删除
                              </button>
                          </div>
                          <tabset justified="false">
                              <tab index="3" heading="附件" select="selectTab('dealAttachmentBGridOptions')">
                                  <div ui-grid="dealAttachmentBGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                                       ui-grid-auto-resize ui-grid-resize-columns class="grid"
                                       style="height: 200px"></div>
                              </tab>
                          </tabset>
                      </accordion-group>
                  </div>

                  <div class="form-group" id="customerServiceId">
                      <accordion-group class="lr-page-bg-gray" is-open="true">
                          <accordion-heading class="lr-page-bg-white">
                              <div class="btn lr-page-bg-indigo" style="margin-left: 15px">
                                  <i class="fa fa-hand-o-right lr-page-color"></i>
                                  <span class="lr-page-color">客户服务档案</span>
                              </div>
                          </accordion-heading>
                          <div class="pull-right lr-mr10 lr-mt10">
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onUploads('customerServiceGridOptions');">上传
                              </button>
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onDeleteLine('customerServiceGridOptions');">删除
                              </button>
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onGetTrainingMaterials();">拉取客户培训资料
                              </button>
                          </div>
                          <tabset justified="false">
                              <tab index="3" heading="附件" select="selectTab('customerServiceGridOptions')">
                                  <div ui-grid="customerServiceGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                                       ui-grid-auto-resize ui-grid-resize-columns class="grid"
                                       style="height: 200px"></div>
                              </tab>
                          </tabset>
                      </accordion-group>
                  </div>
                  <div class="form-group">
                      <accordion-group class="lr-page-bg-gray" is-open="true">
                          <accordion-heading class="lr-page-bg-white">
                              <div class="btn lr-page-bg-indigo" style="margin-left: 15px">
                                  <i class="fa fa-hand-o-right lr-page-color"></i>
                                  <span class="lr-page-color">单据档案</span>
                              </div>
                          </accordion-heading>
                          <div class="pull-right lr-mr10 lr-mt10">
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onUploads('billApplyGridOptions');">上传
                              </button>
                              <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                      ng-click="onDeleteLine('billApplyGridOptions');">删除
                              </button>
                          </div>
                          <tabset justified="false">
                              <tab index="3" heading="附件" select="selectTab('billApplyGridOptions')">
                                  <div ui-grid="billApplyGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                                       ui-grid-auto-resize ui-grid-resize-columns class="grid"
                                       style="height: 200px"></div>
                              </tab>
                          </tabset>
                      </accordion-group>
                  </div>
              </div>
          </accordion>
    </div>
</form>