<div class="container-fluid container-fullw" ng-controller="ProjectDialogCtrl">
    <form class="form-horizontal" name="appForm">
        <div class="form-horizontal">
            <accordion>
                <accordion-group is-open="true" class="lr-page-bg-gray" grid-button="true">
                    <accordion-heading class="lr-page-bg-white">
                        <div class="btn lr-page-bg-indigo">
                            <i class="fa fa-search lr-page-color" aria-hidden="true"></i>
                            <span class="lr-page-color">查询条件</span>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm" ng-click="onRefQuery();">
                                    <i class="fa fa-search"></i>
                                    <span>查询</span>
                                </button>
                            </div>
                        </div>
                    </accordion-heading>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">项目名称：</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="queryData.project_name">
                            </div>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div class="row">
            <div class="form-horizontal" style="background: #fff; padding: 10px;">
                <div ui-grid="projectInfoGridOptions" ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns
                     class="grid" style="height:300px"></div>
            </div>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-sm btn-primary" ng-click="onCheck() && confirm(selectProjectInfos)"><i class="glyphicon glyphicon-check"></i>确定</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="closeThisDialog(0)"><i class="fa fa-times"></i>取消</button>
        </div>
    </form>
</div>