<!-- 首页：右下部分 商业信息预警（如，融资还款逾期预警..） -->

<!--<div class="form-horizontal">-->
    <!--<uib-tabset>-->
        <!--<uib-tab index="0" heading="保后风险评级预警" ng-click="">-->
            <!--<div data-ng-include="getURL('factoring/view/mainView/infoEarlyWarning/gatherOverdueWarning.html')"></div>-->
        <!--</uib-tab>-->
        <!--<uib-tab index="1"  heading="商业纠纷预警"  ng-click="changeTabPage(getURL('factoring/view/projectScheme/projectScheme.html'))"></uib-tab>-->
        <!--<uib-tab index="2"  heading="融资还款逾期预警"  ng-click="changeTabPage(getURL('factoring/view/projectFactor/projectFactor.html'))"></uib-tab>-->
    <!--</uib-tabset>-->
    <!--<div ng-include="tabPage"></div>-->
<!--</div>-->

<div class="form-horizontal lr-no-padding-col">
    <div>
        <nav class="lr-main-navbar navbar-default navbar-fixed-top" role="navigation">
            <ul class="nav navbar-nav">
                <li class="lr-nav-li" ng-class="active1">
                    <a class="lr-nav-a" ng-click="changeNavPage();">
                        <span class="title"> {{navName.afterFactorRisk}} </span>
                    </a>
                </li>
                <li class="lr-nav-li" ng-class="active2">
                    <a class="lr-nav-a" ng-click="changeNavPage();">
                        <span class="title"> {{navName.tradeDispute}} </span>
                    </a>
                </li>
                <li class="lr-nav-li" ng-class="active3">
                    <a class="lr-nav-a" ng-click="changeNavPage(getURL('factoring/view/mainView/infoEarlyWarning/gatherOverdueWarning.html'));">
                        <span class="title"> {{navName.overdueWarning}} </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div data-ng-include="navPage"></div>
</div>
