<form class="form-horizontal" name="appForm" verify-scope="tipStyle: 1" ng-if="form">
    <div class="lr-toolbar">
        <div class="btn-group lr-grid-btn-right">
          <button class="btn btn-azure" type="button" ng-click="onSave()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-if="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>
            <button class="btn btn-azure" ng-click="onConfirmVO()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-if="!isEdit&&(VO.billstatus==28||VO.billstatus==46)">
                <i class="fa fa-undo"></i>
                <span>确认完成</span>
            </button>
            <button class="btn btn-azure" ng-click="onCancel()" ng-if="!isGrid&&isEdit">
                <i class="ti-close"></i>
                <span>取消</span>
            </button>
            <button class="btn btn-azure" ng-click="onEdit()" ng-if="!isEdit&&(VO.billstatus==28||VO.billstatus==46||VO.billstatus==36)">
                <i class="fa fa-edit"></i>
                <span>修改</span>
            </button>
            <button class="btn btn-azure" ng-click="onBack()" ng-if="!isBack">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
        </div>
    </div>
    <div class="lr-contant">
         <!--   <accordion class="" close-others="oneAtATime">
            <accordion-group is-open="true" class="lr-page-bg-gray">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo">
                        <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                        <span class="lr-page-color">基本信息</span>
                    </div>
                    <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>-->
                        <div class="form-group">
                                <div class="col-md-4">
                                    <label class="col-md-5 control-label">客户回访计划编号：</label>
                                <div class="col-md-7">
                                    <input class="form-control" ng-disabled="true" type="text" ng-model="VO.serialNo">
                                </div>
                                </div>
                                    <div class="col-md-4">
                                        <label class="col-md-5 control-label">回访计划年度：</label>
                                    <div class="col-md-7">
                                        <select class="form-control" ng-disabled="isDisabled" ng-model="VO.planYear"
                                                required
                                                ng-options="item.id as item.name for item in SELECT.BUSIYEAR">
                                            <option value="">--请选择回访计划年度--</option>
                                        </select>
                                    </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-md-5 control-label">回访计划月度：</label>
                                    <div class="col-md-7">
                                        <select class="form-control" ng-disabled="isDisabled" ng-model="VO.planMonth"
                                                required
                                                ng-options="item.id as item.name for item in SELECT.MARMONTH">
                                            <option value="">--请选择回访计划月度--</option>
                                        </select>
                                    </div>
                                    </div>
                        </div>
                      <!--  <div class="form-group">
                                <div class="col-md-4">
                                    <label class="col-md-5 control-label">业务部门：</label>
                                <div class="col-md-7">
                                    <input class="form-control" ng-disabled="isDisabled" ui-popup-ref
                                           url="'deptTreeRef/queryForGrid'" ng-click="" popup-model="VO"
                                           popup-model-field="'pkDept'"
                                           ng-model="VO.pkDept.name" type="text" placeholder="">
                                </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-5 control-label">制单时间：</label>
                                <div class="col-md-7">
                                    <input class="form-control" ng-disabled="isDisabled" type="text" ng-model="VO.operateTime">
                                </div>
                                </div>
                        </div>-->
        <!--    </accordion-group>
        </accordion>-->
    </div>
    <div>
        <div class="pull-right lr-mr10 lr-mt10">
            <button class="btn btn-sm btn-info" ng-show="isEdit" ng-click="onAddLine();">增行</button>
            <button class="btn btn-sm btn-info" ng-show="isEdit" ng-click="onDeleteLine();">减行</button>
        </div>
        <tabset justified="false">
                    <tab index="1" heading="客户回访计划子表" select="selectTab('visitPlanBGridOptions')">
                        <div ui-grid="visitPlanBGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>
                    </tab>
        </tabset>
    </div>
    <accordion class="" close-others="oneAtATime">
    <accordion-group is-open="false" class="lr-page-bg-gray">
        <accordion-heading class="lr-page-bg-white">
            <div class="btn lr-page-bg-indigo">
                <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                <span class="lr-page-color" ng-bind="getDisName('操作信息','')"></span>
            </div>
            <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
               ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
                <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-5 control-label">单据状态：</label>
                            <div class="col-md-7 div-cao-zuo">
                                {{VO.billstatus}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-5 control-label">经办人：</label>
                            <div class="col-md-7 div-cao-zuo">
                                {{VO.pkOperator.name}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-5 control-label">业务单位：</label>
                            <div class="col-md-7 div-cao-zuo">
                                {{VO.pkOrg.name}}
                            </div>
                        </div>
                </div>
                <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-5 control-label">制单日期：</label>
                            <div class="col-md-7 div-cao-zuo">
                                {{VO.operateDate}}
                            </div>
                        </div>
                </div>
    </accordion-group>
    </accordion>
</form>
