<!--附件公共界面-->
<div class="main-form-style" ng-controller="visitPlanBVOGridOptionsCtrl">
    <div class="form-horizontal" style="background: #fff; padding: 10px;">
        <accordion class="" close-others="oneAtATime">
            <div ng-init="status={open:true}"></div>
            <accordion-group is-open="status.open">
                <accordion-heading>
                    客户回访计划子表 <i class="pull-right glyphicon"
                            ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <div class="panel-body">
                    <form name="form">
                                <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">考核范围：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="visitPlanBVO.scopeType">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">客户名称：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="visitPlanBVO.pkCustomer">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">客户相关部门/单位：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="visitPlanBVO.customerDept">
                                            </div>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">回访日期：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="visitPlanBVO.visitDate">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">回访执行人：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="visitPlanBVO.visitors">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">回访任务：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="visitPlanBVO.visitTask">
                                            </div>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">备注：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="visitPlanBVO.remarks">
                                            </div>
                                        </div>
                                </div>
                    </form>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div class="pull-right">
        <button ng-click="onSave()"  style="margin-right: 10px;"class="btn btn-sm btn-info" >确定</button>
        <button ng-click="onCancel()" style="margin-right: 10px;"class="btn btn-sm btn-info" >返回</button>
    </div>
    <div style="clear: both"></div>
</div>
