<div class="container-fluid container-fullw" ng-controller="examinesDialogCtrl">
    <div class="main-form-style">
        <form name="appForm" class="form-horizontal" verify-scope="tipStyle: 1" AUTOCOMPLETE="ON">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel padding-left-25">
                        <div class="radio clip-radio radio-success radio-inline">
                            <input type="radio" id="radio1" ng-model="examines.examineOpinion" value="1" checked="checked">
                            <label for="radio1">
                                同意
                            </label>
                        </div>
                        <div class="radio clip-radio radio-danger radio-inline">
                            <input type="radio" id="radio2" ng-model="examines.examineOpinion" value="0">
                            <label for="radio2">
                                驳回修改
                            </label>
                        </div>
                        <div class="radio clip-radio radio-purple radio-inline">
                            <input type="radio" id="radio3" ng-model="examines.examineOpinion" value="-1">
                            <label for="radio3">
                                不同意
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="checkType ==0"  style="height: 30px">
                <div class="col-md-12">
                    <span class="alert alert-dismissable">请说明该项目开展的必要性。</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea maxlength="512" class="form-control limited autosize area-animated msd-elastic: \n;" ng-model="examines.examineMsg" placeholder="最多输入500个汉字。" placeholder="最多输入500个汉字。"></textarea>
                </div>
            </div>
            <div class="pull-right lr-page-margin">
                <button type="button" class="btn btn-sm btn-primary" ng-click="check() && confirm(examines)"><i class="glyphicon glyphicon-check"></i>确定</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="closeThisDialog(0)"><i class="fa fa-times"></i>取消</button>
            </div>
        </form>
    </div>
</div>