<form class="form-horizontal" ng-if="card">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn btn-azure" type="button" ng-click="onSave()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-if="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>
            <button class="btn btn-azure" ng-click="onCancel()" ng-if="!isGrid&&isEdit">
                <i class="fa fa-undo"></i>
                <span>取消</span>
            </button>
            <button class="btn btn-azure" ng-click="onSubmit()" ng-if="!isEdit&&(VO.billstatus==0||VO.billstatus==36)">
                <i class="ti-save"></i>
                <span>提交</span>
            </button>
            <button class="btn btn-azure" ng-click="onAudit()" ng-if="!isEdit&&VO.billstatus==40||VO.billstatus==32||VO.billstatus==33">
                <i class="ti-check"></i>
                <span>复核</span>
            </button>
            <button class="btn btn-azure" ng-click="onLinkAuditFlow()" ng-if="!isEdit">
                <i class="ti-share-alt"></i>
                <span>查看流程图</span>
            </button>
            <!--<button class="btn btn-azure" ng-click="onEdit()" ng-if="!isEdit">-->
            <!--<i class="fa fa-edit"></i>-->
            <!--<span>修改</span>-->
            <!--</button>-->
            <button class="btn btn-azure" ng-click="onBack()" ng-if="isBack">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
            <button class="btn btn-azure" ng-click="onTemporary(VO)" ng-show="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>暂存</span>
            </button>
        </div>
    </div>
    <div class="main-div">
        <div class="col-md-12 title">
            <h4>{{VO.c0Name}}</h4>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span class="{{VO.billstatus == 1?'span-background-tg':VO.billstatus == 34?'span-background-tg':VO.billstatus == 33?'span-background-shz':VO.billstatus == 37?'span-background-zc':VO.billstatus == 36?'span-background-bh':'' }}">{{VO.billstatus | SELECT_BILLSTATUS}}</span>
                    <span class="span-background-zc">{{VO.tag}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 title">
            <p style="font-size:20px">详细信息</p>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>保险公司编码：</span><span class="fontStyle">{{VO.c0Code}}</span>
                </div>
                <div class="col-md-4">
                    <span>保险公司类型：</span><span class="fontStyle">{{VO.enumInsureCompType | SELECT_INSURECOMPTYPE}}</span>
                </div>
                <div class="col-md-4">
                    <span>注册号/统一社会信用代码：</span><span class="fontStyle">{{VO.c1Institution}}</span>
                </div>
            </div>
            <div class="col-md-12">

                <div class="col-md-4">
                    <span>是否是集团成员单位：</span><span class="fontStyle">{{VO.c0HasCustomerTop | SELECT_YESNO}}</span>
                </div>
                <div class="col-md-4">
                    <span>上级公司：</span><span class="fontStyle">{{VO.upCustomer.name}}</span>
                </div>
                <div class="col-md-4">
                    <span>保险公司级别：</span><span class="fontStyle">{{VO.enumInsuranceLevel | SELECT_INSURANCELEVEL}}</span>
                </div>
            </div>
            <div class="col-md-12">

                <div class="col-md-4">
                    <span>单位性质：</span><span class="fontStyle">{{VO.enumEntkind.name}}</span>
                </div>
                <div class="col-md-4">
                    <span>所在区域：</span><span class="fontStyle">{{VO.c1Province.name}}</span>
                </div>
                <div class="col-md-4">
                    <span>地址：</span><span class="fontStyle">{{VO.c0Address}}</span>
                </div>
            </div>
            <div class="col-md-12">

                <div class="col-md-4">
                    <span>公司电话：</span><span class="fontStyle">{{VO.c1Phone}}</span>
                </div>
                <div class="col-md-4">
                    <span>传真：</span><span class="fontStyle">{{VO.c1Fax}}</span>
                </div>
                <div class="col-md-4">
                    <span>业务部门：</span><span class="fontStyle">{{VO.pkDept.name}}</span>
                </div>
            </div>
            <div class="col-md-12">

                <div class="col-md-4">
                    <span>制单时间：</span><span class="fontStyle">{{VO.operateTime}}</span>
                </div>
            </div>
<!--            <div class="col-md-12 card-grid">-->
<!--                <div style="overflow-x: auto; overflow-y: auto;">-->
<!--                    <div class="pull-right lr-mr10 lr-mt10">-->
<!--                        <button class="btn btn-sm btn-info" ng-click="onDownLoads();" ng-show="upOrDown">批量下载</button>-->
<!--                    </div>-->
<!--                    <tabset justified="false" >-->
<!--                        <tab index="1" heading="账户信息" select="selectTab('accountGridOptions')">-->
<!--                            <div ui-grid="accountGridOptions" uui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height:200px"></div>-->
<!--                        </tab>-->
<!--                        <tab index="2" heading="联系人" select="selectTab('linkmanGridOptions')">-->
<!--                            <div ui-grid="linkmanGridOptions" ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height:200px"></div>-->
<!--                        </tab>-->
<!--                        <tab index="3" heading="变更信息" select="selectTab('customerChangeCompareGridOptions')">-->
<!--                            <div ui-grid="customerChangeCompareGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns-->
<!--                                 class="grid" style="height: 200px"></div>-->
<!--                        </tab>-->
<!--                        <tab index="4" heading="附件信息" select="selectTab('dealAttachmentBGridOptions')">-->
<!--                            <div ui-grid="dealAttachmentBGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection-->
<!--                                 ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>-->
<!--                        </tab>-->
<!--                    </tabset>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <!--        账户信息-->
        <div class="col-md-12 title" ng-show="AccountList.length>0">
            <p style="font-size:20px">账户信息</p>
            <div class="col-md-12">
                <div ng-repeat="item in AccountList" style="background:#ffffff">
                    <accordion class=""  >
                        <accordion-group is-open="true" class="lr-page-bg-gray">
                            <div class="col-md-12" >
                                <div class="col-md-4">
                                    <span>账户类型：</span><span class="fontStyle">{{item.accType | SELECT_ACCTYPE}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>开户名称：</span><span class="fontStyle">{{item.accName}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>账号：</span><span class="fontStyle"> {{item.accNum}}</span>
                                </div>
                            </div>
                            <div class="col-md-12" >
                                <div class="col-md-4">
                                    <span>开户银行：</span><span class="fontStyle">{{item.accBlank}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>银行联行号：</span><span class="fontStyle">{{item.jointBankNum}}</span>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
        <!--        联系人信息-->
        <div class="col-md-12 title" ng-show="LinkmanList.length>0">
            <p style="font-size:20px">联系人信息</p>
            <div class="col-md-12">
                <div ng-repeat="item in LinkmanList" style="background:#ffffff">
                    <accordion class=""  >
                        <accordion-group is-open="true" class="lr-page-bg-gray">
                            <div class="form-group">
                                <div class="col-md-12" >
                                    <div class="col-md-4">
                                        <span>联系人类型：</span><span class="fontStyle">{{item.linkmanType | SELECT_LINKMANTYPE}}</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>联系人姓名：</span><span class="fontStyle">{{item.name}}</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>联系人部门：</span><span class="fontStyle">{{item.dept}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12" >
                                    <div class="col-md-4">
                                        <span>联系人地址：</span><span class="fontStyle">{{item.address}}</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>邮编：</span><span class="fontStyle">{{item.post}}</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>联系人电话：</span><span class="fontStyle"> {{item.tele}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12" >
                                    <div class="col-md-4">
                                        <span>传真：</span><span class="fontStyle"> {{item.fax}}</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>电子邮箱：</span><span class="fontStyle"> {{item.mail}}</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>备注：</span><span class="fontStyle"> {{item.memo}}</span>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
        <!--        附件信息-->
        <div class="col-md-12 title" ng-if="VO.dealAttachmentB.length!=0">
            <p style="font-size:20px">附件信息</p>
            <div class="col-md-12"  ng-if="VO.dealAttachmentB.length!=0">
                <div class="table-responsive">
                    <p style="font-size: 14px;color: #748390;margin-left: 0px;font-weight: 600">其他附件</p>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>附件名称</th>
                            <th>下载</th>
                            <th>在线预览</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in VO.dealAttachmentB">
                            <td>{{item.attachment_name}}</td>
                            <td>
                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                    <a href="#" ng-click="onDownLoadsCard(item.pk_project_id)"
                                       class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="下载" style="color: #af2b27"><i
                                            class="fa fa-download"></i></a>
                                </div>
                            </td>
                            <td>
                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                    <a href="#" ng-click="onPreviewFile(item.pk_project_id,item.attachment_name)"
                                       class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="在线预览"><i
                                            class="fa fa-eye"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12 font-style-audit-title title" ng-show="mess">
            <p class="taskmess">审批信息</p>

            <table style="width: 100%; text-align: center;">
                <tr>
                    <td>操作人</td>
                    <td>提交人</td>
                    <td>提交时间</td>
                    <td>处理人</td>
                    <td>处理时间</td>
                    <td>审批结果</td>
                    <td>审批意见</td>
                    <td>处理状态</td>
                    <td>持续时间</td>
                </tr>
                <tr ng-repeat="item in VO.taskHis" style="color: black;">

                    <td ng-bind-html="item.operate_name" style="padding-top: 5px;"></td>
                    <td ng-bind-html="item.pk_submitter.name"></td>
                    <td ng-bind-html="item.submit_time"></td>

                    <td ng-bind-html="item.pk_process.name"></td>
                    <td ng-bind-html="item.process_time"></td>

                    <td ng-bind-html="item.result"></td>
                    <td ng-bind-html="item.opinion"></td>
                    <td ng-bind-html="item.process_status | SELECT_WORKFLOW_PROCESS_STATUS"></td>
                    <td ng-bind-html="item.durationLabel"></td>
                </tr>
            </table>
        </div>
    </div>
</form>
