<form class="form-horizontal" ng-if="isCard">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn btn-azure" ng-click="onBack()">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>

        </div>
    </div>
    <div class="main-div">
        <div class="col-md-12 title">
            <p style="font-size:20px">详细信息</p>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>模板名称：</span><span class="fontStyle">{{VO.templateName}}</span>
                </div>
                <div class="col-md-4">
                    <span>项目类型：</span><span class="fontStyle">{{VO.projectType | SELECT_PROJECTTYPES}}</span>
                </div>

            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>生效日期：</span><span class="fontStyle">{{VO.startDate | date_cell_date}}</span>
                </div>
                <div class="col-md-4">
                    <span>结束日期：</span><span class="fontStyle">{{VO.endDate | date_cell_date}}</span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-4">
                    <span>服务内容：</span><span class="fontStyle">
                    <div ng-repeat="sercice in VO.serviceType">
                        {{sercice.name}}
                    </div>
                </span>
                </div>
                <div class="col-md-4">
                    <span>单据状态：</span><span class="fontStyle">{{VO.billstatus | SELECT_LOCALIZEDBILLSTATUS}}</span>
                </div>
            </div>
        </div>
    </div>
</form>
