<div style="">
    <div style="overflow-x: auto; overflow-y: auto;" ng-bind-html="html|strToHtml"></div>
    <div style="text-align: center;">
        <button ng-click="onVoucherUnPass()"  style="margin-right: 10px;"class="btn lr-main-btn" ng-disabled="isDisabled" >审核不通过</button>
        <button ng-click="onVoucherPass()" style="margin-right: 10px;"class="btn btn lr-main-btn" >审核通过</button>
        <button ng-click="onVoucherCancel()" style="margin-right: 10px;"class="btn btn lr-main-btn" >取消</button>
    </div>
</div>
