<div class="main-form-style">
    <div class="form-horizontal" >
        <accordion>
            <accordion-group is-open="status.open" class="lr-page-bg-gray" grid-button="true">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo" ng-click="changeOpen();">
                        <i class="fa fa-search lr-page-color" aria-hidden="true"></i>
                        <span class="lr-page-color">查询条件</span>
                    </div>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button class="btn lr-main-btn" ng-click="onQueryChildren();">
                                <i class="fa fa-search"></i>
                                <span>查询</span>
                            </button>
                            <button class="btn lr-main-btn" ng-click="onResetChildren();">
                                <i class="fa fa-undo"></i>
                                <span>重置</span>
                            </button>
                        </div>
                    </div>
                </accordion-heading>
                <form class="form-horizontal">
<!--                    <div class="form-group">-->
<!--                        <div class="col-md-4">-->
<!--                            <label class="col-md-4 control-label">购买方名称</label>-->
<!--                            <div class="col-md-8">-->
<!--                                <input class="form-control" type="text" ng-model="QUERYCHILDREN.org_name"/>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </form>
            </accordion-group>
        </accordion>
    </div>
    <div class="form-horizontal" style="background: #fff; padding: 10px;">
        <div ui-grid="clearingDetailSelectGridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection ui-grid-pinning class="grid" style="height:200px"></div>
    </div>
    <div class="pull-right">
        <button ng-click="onSaveSelection()"  style="margin-right: 10px;"class="btn btn-sm btn-info" >确定</button>
        <button ng-click="onCancel()" style="margin-right: 10px;"class="btn btn-sm btn-info" >返回</button>
    </div>
    <div style="clear: both"></div>
</div>

