<form class="form-horizontal" ng-if="isCard">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn btn-azure" ng-click="onSubmit()" ng-if="isCard&&(VO.billstatus==31||VO.billstatus==36)">
                <i class="ti-save"></i>
                <span>提交</span>
            </button>
            <button class="btn btn-azure" ng-click="onAudit()" ng-if="isCard&&(VO.billstatus==33||VO.billstatus==32)">
                <i class="ti-check"></i>
                <span>审核</span>
            </button>
            <button class="btn btn-azure" ng-click="onRecall()" ng-if="isCard&&(VO.billstatus==33||VO.billstatus==32)">
                <i class="ti-check"></i>
                <span>撤回</span>
            </button>
            <button class="btn btn-azure" ng-click="onLinkAuditFlow()" ng-if="isCard">
                <i class="ti-share-alt"></i>
                <span>查看流程图</span>
            </button>
            <button class="btn btn-azure" ng-click="onBack()" ng-if="isCard">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
        </div>
    </div>
    <div class="main-div">
        <div class="col-md-12 title">
            <h4>{{VO.clearingName}}</h4>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span class="{{VO.billstatus == 34?'span-background-tg':VO.billstatus == 33?'span-background-shz':VO.billstatus == 37?'span-background-zc':VO.billstatus == 36?'span-background-bh':'' }}">{{VO.billstatus | SELECT_BILLSTATUS}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 title">
            <p style="font-size:20px">详细信息</p>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>结算单编号：</span><span class="fontStyle">{{VO.clearingCode}}</span>
                </div>
                <div class="col-md-4">
                    <span>代理人名称：</span><span class="fontStyle">{{VO.pkAgent.name}}</span>
                </div>
                <div class="col-md-4">
                    <span>是否标记为已结算：</span><span class="fontStyle">{{VO.ifPay | SELECT_YESNONUMNEW}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>保费含税总金额（元）：</span><span class="fontStyle">{{VO.insuranceAmount | AMOUNT_FILTER}}</span>
                </div>
                <div class="col-md-4">
                    <span>佣金含税金额（元）：</span><span class="fontStyle">{{VO.receiveFee | AMOUNT_FILTER}}</span>
                </div>
                <div class="col-md-4">
                    <span>应结手续费总金额（元）：</span><span class="fontStyle">{{VO.planServiceCharge | AMOUNT_FILTER}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>代扣款项合计（元）：</span><span class="fontStyle">{{VO.withholding | AMOUNT_FILTER}}</span>
                </div>
                <div class="col-md-4">
                    <span>手续费实付总金额（元）：</span><span class="fontStyle">{{VO.factServiceCharge | AMOUNT_FILTER}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 title">
            <div class="table-responsive">
                <p style="font-size: 16px;color: #8e8e93">结算信息</p>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="info center">
                        <th>保单信息编号</th>
                        <th>保单号</th>
                        <th>项目名称</th>
                        <th>险种</th>
                        <th>期数</th>
                        <th>本次结算手续费（含税）</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in VO.agentClearingBList">
                        <td>{{item.pkInsurancebill.insuranceinfono}}</td>
                        <td>{{item.pkInsurancebill.code}}</td>
                        <td>{{item.pkInsurancebill.name}}</td>
                        <td>{{item.pkInsurance.name}}</td>
                        <td>{{item.stages}}</td>
                        <td>{{item.factServiceCharge | AMOUNT_FILTER}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <p style="font-size: 14px;color: #748390;margin-left: 0px;font-weight: 600">附件</p>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="info center">
                        <th>附件名称</th>
                        <th>上载时间</th>
                        <th>下载</th>
                        <th>在线预览</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in VO.dealattachmentb">
                        <td>{{item.attachment_name}}</td>
                        <td>{{item.cUpdate}}</td>
                        <td>
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a href="#" ng-click="onDownLoadsCard(item.pk_project_id)"
                                   class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="下载" style="color: #af2b27"><i
                                        class="fa fa-download"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a href="#" ng-click="onPreviewFile(item.pk_project_id,item.attachment_name)"
                                   class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="在线预览"><i
                                        class="fa fa-eye"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
