<form class="form-horizontal" ng-if="card">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn btn-azure" type="button" ng-click="onSave()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-if="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>
            <button class="btn btn-azure" ng-click="onCancel()" ng-if="!isGrid&&isEdit">
                <i class="fa fa-undo"></i>
                <span>取消</span>
            </button>
            <button class="btn btn-azure" ng-click="onSubmit()" ng-if="!isEdit&&(VO.billstatus==31||VO.billstatus==36)">
                <i class="ti-save"></i>
                <span>提交</span>
            </button>
            <button class="btn btn-azure" ng-click="onAudit()" ng-if="!isEdit&&(VO.billstatus==33||VO.billstatus==32)">
                <i class="ti-check"></i>
                <span>审核</span>
            </button>
            <!--<button class="btn btn-azure" ng-click="onRecall()" ng-if="!isEdit&&(VO.billstatus==33||VO.billstatus==32)">-->
                <!--<i class="ti-check"></i>-->
                <!--<span>撤回</span>-->
            <!--</button>-->
            <button class="btn btn-azure" ng-click="onLinkAuditFlow()" ng-if="!isEdit">
                <i class="ti-share-alt"></i>
                <span>查看流程图</span>
            </button>
            <!--<button class="btn btn-azure" ng-click="onEdit()" ng-if="!isEdit&&(VO.billstatus==31||VO.billstatus==36)">-->
                <!--<i class="fa fa-edit"></i>-->
                <!--<span>修改</span>-->
            <!--</button>-->
            <button class="btn btn-azure" ng-click="onBack()" ng-if="isBack">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
        </div>
    </div>

    <div class="main-div">
        <div class="col-md-12 title">
            <h4>{{VO.recordYear}}年{{VO.recordMonth}}月{{VO.pkOrg.name}} 股东业务月度计划</h4>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span class="{{VO.billstatus == 34?'span-background-tg':VO.billstatus == 33?'span-background-shz':VO.billstatus == 37?'span-background-zc':VO.billstatus == 36?'span-background-bh':'' }}">{{VO.billstatus | SELECT_BILLSTATUS}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 title">
            <p style="font-size:20px">详细信息</p>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>营销计划流水号：</span><span class="fontStyle">{{VO.serialNo}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>股东业务计划总额（万元）：</span>
                    <span class="fontStyle"> {{VO.sumDef1}}</span>
                </div>
                <div class="col-md-4">
                    <span>电网业务部小计（万元）：</span>
                    <span class="fontStyle">{{VO.sumDef2}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>市场业务部小计（万元）：</span>
                    <span class="fontStyle"> {{VO.sumDef3}}</span>
                </div>
                <div class="col-md-4">
                    <span>新能源业务部小计（万元）：</span>
                    <span class="fontStyle">{{VO.sumDef4}}</span>
                </div>
            </div>
            <div class="col-md-12 card-grid">
                <tabset justified="false">
                    <tab index="1" heading="营销计划明细(万元)" select="selectTab('childgridOptions')">
                        <div ui-grid="childgridOptions"  ui-grid-cellnav ui-grid-selection class="grid" style="height: 450px"></div>
                    </tab>
                </tabset>
            </div>

            <div class="col-md-12">

                <div class="col-md-4">
                    <span>发起人：</span><span class="fontStyle">{{VO.pkOperator.name}}</span>
                </div>
                <div class="col-md-4">
                    <span>制单时间：</span><span class="fontStyle">{{VO.operateTime}}</span>
                </div>
                <div class="col-md-4">
                    <span>业务部门：</span><span class="fontStyle">{{VO.pkOrg.name}}-{{VO.pkDept.name}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 font-style-audit-title title" ng-show="mess">
        <p class="taskmess">审批信息</p>

        <div ng-repeat="item in VO.taskHis" style="color: black;border-bottom:1px solid 	#C0C0C0">
            <p><span><b>{{item.operate_name}}: </b></span><span ng-bind-html="item.pk_process.name"></span></p>
            <p>{{item.opinion}}</p>
            <p style="text-align: right">{{item.process_time}}</p>
        </div>
    </div>
</form>
