<form class="form-horizontal bg-white" ng-if="isCard">

    <div class="main-div">
        <div class="row title">
            <div class="col-md-9 ">
                <h4>{{VO.clearingName}}</h4>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <span class="label {{VO.billstatus == 34?'label-success':VO.billstatus == 33?'label-warning':VO.billstatus == 37?'label-warning;':VO.billstatus == 36?'label-warning;':'label-default' }}">{{VO.billstatus | SELECT_BILLSTATUS}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-right" add-card-btn>
            </div>
        </div>
    </div>
    <div class="row main-div">
        <fieldset>
            <legend>
                基本信息
            </legend>
            <div class="row main-div">
                <div class="col-md-4">
                    <span class="text-bold">付款编号：</span><span class="fontStyle">{{VO.serialNumber}}</span>
                </div>
                <div class="col-md-4">
                    <span class="text-bold">付款类型：</span><span class="fontStyle">{{VO.clearingType | SELECT_CLEARING_TYPE}}</span>
                </div>
                <div class="col-md-4">
                    <span class="text-bold">上次付款申请编号：</span><span class="fontStyle">{{VO.pkPayment.clearingCode}}</span>
                </div>
                <div class="col-md-4">
                    <span class="text-bold">合同编号：</span><span class="fontStyle">{{VO.pkContract.code}}</span>
                </div>

                <div class="col-md-4">
                    <span class="text-bold">合同名称：</span><span class="fontStyle">{{VO.pkContract.name}}</span>
                </div>
                <div class="col-md-4">
                    <span class="text-bold">付款合同期次：</span><span class="fontStyle">{{VO.pkPayment.stages}}</span>
                </div>
                <div class="col-md-4">
                    <span class="text-bold">计划金额：</span><span class="fontStyle">{{VO.pkPayment.planAmount|AMOUNT_FILTER}}</span>
                </div>

                <div class="col-md-4">
                    <span class="text-bold">付款条件：</span><span class="fontStyle">{{VO.pkPayment.payConditions}}</span>
                </div>
            </div>
            <div class="row main-div">
                <div class="col-md-12">
                    <span class="text-bold">付款说明：</span><span class="fontStyle">{{VO.memo}}</span>
                </div>
            </div>
            <div class="row main-div">
                <div class="col-md-4">
                    <span class="text-bold">合作单位：</span><span class="fontStyle">{{VO.partner}}</span>
                </div>
                <div class="col-md-4">
                    <span class="text-bold">统一社会信用代码：</span><span class="fontStyle">{{VO.partnerCode}}</span>
                </div>
                <div class="col-md-4">
                    <span class="text-bold">账号：</span><span class="fontStyle">{{VO.partnerAccount}}</span>
                </div>

                <div class="col-md-4">
                    <span class="text-bold">开户行：</span><span class="fontStyle">{{VO.partnerBank}}</span>
                </div>

                <div class="col-md-4">
                    <span class="text-bold">开户行联号：</span><span class="fontStyle">{{VO.partnerBankNo}}</span>
                </div>
            </div>
            <div class="row main-div">
                <div class="col-md-4">
                    <span class="text-bold">发票类型：</span><span class="fontStyle">{{VO.invoiceType | SELECT_INVOICE_TYPE}}</span>
                </div>
                <div class="col-md-4">
                    <span class="text-bold">税率：</span><span class="fontStyle">{{VO.taxRate | RATIO_FILTER}}</span>
                </div>
                <div class="col-md-4">
                    <span class="text-bold">报销金额：</span><span class="fontStyle">{{VO.sumAmount | AMOUNT_FILTER}}</span>
                </div>
                <div class="col-md-4">
                    <span class="text-bold">付款金额：</span><span class="fontStyle">{{VO.payAmount | AMOUNT_FILTER}}</span>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="row main-div" ng-if="VO.clearingB.length>0">
        <fieldset>
            <legend>
                付款明细
            </legend>
            <div class="row main-div">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="10%">发票编号</th>
                        <th>价税合计</th>
                        <th>税额</th>
                        <th>不含税</th>
                        <th>备注说明</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="item in VO.clearingB">
                        <td>{{ item.data.invoiceNo}}</td>
                        <td>{{ item.data.leviedTotal |AMOUNT_FILTER}}</td>
                        <td>{{ item.data.tax |AMOUNT_FILTER}}</td>
                        <td>{{ item.data.taxExclusive |AMOUNT_FILTER}}</td>
                        <td>{{ item.data.memo }}</td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </div>
    <div class="row main-div">
        <fieldset>
            <legend>
                附件
            </legend>
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">文件名称</th>
                    <th>文件大小</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tr ng-repeat="item in VO.dealAttachmentB">
                    <td><a href="#" ng-click="onPreviewFile(item.id,item.fileName)" class="text-primary" tooltip="点击浏览文件"> {{ item.fileName }}</a></td>
                    <td>{{ item.fileSize/1024/1024|number:2 }}MB</td>
                    <td nowrap>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="onDownLoadFile(item.id,item.fileName)">
                            <span class="fa fa-download"></span> 下载
                        </button>
                    </td>
                </tr>

            </table>
        </fieldset>
    </div>

</form>