<form class="form-horizontal" name="appForm" verify-scope="tipStyle: 1" ng-if="form">
    <div class="lr-toolbar" >
        <div class="btn-group">
            <button class="btn btn-azure" type="button" ng-click="onSave()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-if="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>
            <button class="btn btn-azure" ng-click="onCancel()" ng-if="!isGrid&&isEdit">
                <i class="fa fa-undo"></i>
                <span>取消</span>
            </button>
            <button class="btn btn-azure" ng-click="onSubmit()" ng-if="!isEdit&&(VO.billstatus==31||VO.billstatus==36) && VO.id !=null">
                <i class="ti-save"></i>
                <span>提交</span>
            </button>
            <button class="btn btn-azure" ng-click="onAudit()" ng-if="!isEdit&&(VO.billstatus==33||VO.billstatus==32)&& VO.id !=null">
                <i class="ti-check"></i>
                <span>审核</span>
            </button>
            <button class="btn btn-azure" ng-click="onRecall()" ng-if="!isEdit&&(VO.billstatus==33||VO.billstatus==32)&& VO.id !=null">
                <i class="ti-check"></i>
                <span>撤回</span>
            </button>
            <button class="btn btn-azure" ng-click="onLinkAuditFlow()" ng-if="!isEdit&& VO.id">
                <i class="ti-share-alt"></i>
                <span>查看流程图</span>
            </button>
            <button class="btn btn-azure" ng-click="onEdit(VO.id)" ng-if="!isEdit&&(VO.billstatus==31||VO.billstatus==36)&& VO.id !=null">
                <i class="fa fa-edit"></i>
                <span>修改</span>
            </button>
            <button class="btn btn-azure ng-scope" ng-click="onAdd()" ng-disabled="null" ng-if="!isEdit&&(VO.billstatus==31||VO.billstatus==36||VO.billstatus==37||VO.billstatus==46||VO.billstatus==32)"> <i class="fa fa-plus"></i>增加</button>
            <button class="btn btn-azure" ng-click="onBack()" ng-if="!isBack">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
            <button class="btn btn-azure" ng-click="onTemporary(VO)" ng-show="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>暂存</span>
            </button>
        </div>
    </div>
    <div class="lr-contant">

        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label lr-verify">批单类型：</label>
                <div class="col-md-7">
                    <select class="form-control" ng-disabled="isDisabled" ng-verify ng-model="VO.vdef1no"
                            required
                            ng-options="item.id as item.name for item in SELECT.CHANGEBILLCHECKTYPE">
                        <option value="">--请选择批单类型--</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4" ng-if="VO.vdef1no == 1">
                <label class="col-md-5 control-label lr-verify">批单编号：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="isDisabled||isType" type="text"
                           ng-model="VO.insurancecheckno" ng-verify>
                </div>
            </div>
            <div class="col-md-4" ng-if="VO.vdef1no == 2 || VO.vdef1no == 3 || VO.vdef1no == 4">
                <label class="col-md-5 control-label">批单编号：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="isDisabled||isType" type="text"
                           ng-model="VO.insurancecheckno">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">批单信息编号：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="true" type="text" ng-model="VO.vbillno">
                </div>
            </div>
        </div>
        <div ng-show="VO.vdef1no == 1 || VO.vdef1no == 2 || VO.vdef1no == 3 || VO.vdef1no == 4">
            <div class="form-group" ng-if="VO.vdef1no == 1 || VO.vdef1no == 2 || VO.vdef1no == 3 || VO.vdef1no == 4">
                <div class="col-md-4" ng-if="VO.vdef1no == 1 || VO.vdef1no == 2">
                    <label class="col-md-5 control-label lr-verify">批改原因：</label>
                    <div class="col-md-7" ng-if="VO.vdef1no == 1">
                        <select class="form-control" ng-disabled="isDisabled" ng-verify ng-model="VO.correctingReasons"
                                required
                                ng-options="item.id as item.name for item in SELECT.CORRECTINGREASONSTYPE_1">
                            <option value="">--请选择批改原因类型--</option>
                        </select>
                    </div>
                    <div class="col-md-7" ng-if="VO.vdef1no == 2">
                        <select class="form-control" ng-disabled="isDisabled" ng-verify ng-model="VO.correctingReasons"
                                required
                                ng-options="item.id as item.name for item in SELECT.CORRECTINGREASONSTYPE_2">
                            <option value="">--请选择批改原因类型--</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4" ng-if="VO.vdef1no == 2 && VO.correctingReasons==2">
                    <label class="col-md-5 control-label lr-verify">修改类型：</label>
                    <div class="col-md-7">
                        <select class="form-control" ng-disabled="isDisabled" ng-verify ng-model="VO.changebillType"
                                required
                                ng-options="item.id as item.name for item in SELECT.CHANGEBILLTYPE">
                            <option value="">--请选择修改类型--</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4" ng-show="(VO.correctingReasons != null && VO.correctingReasons!=2) || (VO.correctingReasons==2 && VO.changebillType!=null) || VO.vdef1no == 3 || VO.vdef1no == 4">
                    <label class="col-md-5 control-label lr-verify">保单号：</label>
                    <div class="col-md-7">
                        <input class="form-control" ng-disabled="isDisabled" ui-popup-ref="changeBillRef"
                               url="'changeBillRef/queryForGrid'" ng-click="" popup-model="VO"
                               popup-model-field="'srcBillno'"
                               ng-verify
                               ng-model="VO.srcBillno.code" type="text" placeholder="">
                    </div>
                </div>
                <div class="col-md-4" ng-show="(VO.correctingReasons != null && VO.correctingReasons!=2) || (VO.correctingReasons==2 && VO.changebillType!=null) || VO.vdef1no == 3 || VO.vdef1no == 4">
                    <label class="col-md-5 control-label lr-verify">保单信息编号：</label>
                    <div class="col-md-7">
                        <input class="form-control" ng-disabled="true" ng-model="VO.srcBillno.insuranceinfono" type="text" placeholder="">
                    </div>
                </div>
            </div>
            <!--    保险期延长    -->
            <div class="form-group" ng-if="VO.vdef1no == 1 && VO.correctingReasons==3">
                <div class="col-md-4">
                    <label class="col-md-5 control-label lr-verify">到期日变更：</label>
                    <div class="col-md-7">
                        <input class="form-control" ng-disabled="isDisabled" type="text" wdate-picker ng-model="VO.dueDate"  ng-verify>
                    </div>
                </div>
            </div>
            <!--    保单录入错误    -->
            <div class="form-group" ng-if="VO.vdef1no == 2 && VO.correctingReasons==2">
                <div class="col-md-4" ng-if="VO.changebillType==2">
                    <label class="col-md-5 control-label lr-verify">保单号变更：</label>
                    <div class="col-md-7">
                        <input class="form-control" ng-disabled="isDisabled" type="text" ng-model="VO.vdef5"  ng-verify="{max:100}">
                    </div>
                </div>
            </div>
            <!--    保费变更&&退保&&修改金额    -->
            <div class="form-group" ng-if="VO.correctingReasons==8 || VO.correctingReasons==4">
                <div class="col-md-4">
                    <label class="col-md-5 control-label lr-verify">保险金额变更：</label>
                    <div class="col-md-7">
                        <input class="form-control" ng-disabled="isDisabled" type="text" ng-model="VO.insurancemoneychange" ng-verify format-number>
                    </div>
                </div>
            </div>
            <!--    修改金额    -->
            <div class="form-group" ng-if="(VO.correctingReasons==2 && VO.changebillType==0) || VO.vdef1no == 3 || VO.vdef1no == 4">
                <div class="col-md-4">
                    <label class="col-md-5 control-label">保险金额变更：</label>
                    <div class="col-md-7">
                        <input class="form-control" ng-disabled="isDisabled" type="text" ng-model="VO.insurancemoneychange" format-number>
                    </div>
                </div>
            </div>
            <!--    通用    -->
            <div class="form-group">
                <div class="col-md-4" ng-if="VO.correctingReasons==8 || VO.correctingReasons==4">
                    <label class="col-md-5 control-label lr-verify">保费变更：</label>
                    <div class="col-md-7">
                        <input class="form-control" ng-disabled="isDisabled" type="text" format-number
                               ng-model="VO.insurancechargechange" ng-verify="{max:20}">
                    </div>
                </div>
                <div class="col-md-4" ng-if="VO.correctingReasons==3 || (VO.correctingReasons==2 && VO.changebillType==0) || VO.vdef1no == 3 || VO.vdef1no == 4">
                    <label class="col-md-5 control-label">保费变更：</label>
                    <div class="col-md-7">
                        <input class="form-control" ng-disabled="isDisabled" type="text" format-number
                               ng-model="VO.insurancechargechange" ng-verify="{required:false,max:20}">
                    </div>
                </div>
                <div class="col-md-4" ng-if="(VO.vdef1no == 1 || VO.vdef1no == 2 ) && (VO.correctingReasons==8 || VO.correctingReasons==4 || VO.correctingReasons==6) || VO.vdef1no == 3 || VO.vdef1no == 4">
                    <label class="col-md-5 control-label lr-verify">佣金变更：</label>
                    <div class="col-md-7">
                        <input class="form-control" ng-disabled="isDisabled" type="text" format-number ng-model="VO.feechange" onchange="angular.element(this).scope().watchfeechange()" ng-verify="{max:20}">
                    </div>
                </div>
                <div class="col-md-4" ng-if="VO.correctingReasons==3 || (VO.correctingReasons==2 && VO.changebillType==0) || VO.correctingReasons==9">
                    <label class="col-md-5 control-label">佣金变更：</label>
                    <div class="col-md-7">
                        <input class="form-control" ng-disabled="isDisabled" type="text" format-number ng-model="VO.feechange" onchange="angular.element(this).scope().watchfeechange()" ng-verify="{required:false,max:20}">
                    </div>
                </div>
                <div ng-if="VO.correctingReasons==3 || VO.correctingReasons==8 || VO.correctingReasons==4 || (VO.correctingReasons==2 && VO.changebillType==0) || VO.vdef1no == 3 || VO.vdef1no == 4 || VO.correctingReasons==9">
                    <div class="col-md-4" style="margin-top: 4px">
                        <label class="col-md-5 control-label">应收保费变更：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="isDisabled" type="text" format-number ng-model="VO.vdef2" onchange="angular.element(this).scope().watchvdef2change()"  ng-verify="{required:false,max:20}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">应解付保费变更：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="isDisabled" type="text" ng-model="VO.vdef3" onchange="angular.element(this).scope().watchvvdef3change()"  format-number ng-verify="{required:false,max:20}">
                        </div>
                    </div>
                </div>
                <div ng-if="(VO.vdef1no != null && VO.correctingReasons != null) || VO.vdef1no == 3 || VO.vdef1no == 4">
                    <div class="col-md-12" style="margin-top: 4px">
                        <div ng-if="!(VO.correctingReasons==2 && VO.changebillType == null)">
                            <div ng-if="VO.vdef1no == 2 && VO.correctingReasons==9">
                                <label class="col-md-255 control-label">具体原因：</label>
                            </div>
                            <div ng-if="!(VO.vdef1no == 2 && VO.correctingReasons==9)">
                                <label class="col-md-255 control-label lr-verify">具体原因：</label>
                            </div>
                            <div class="col-md-254" style="margin-top: 1px">
                    <textarea class="form-control" maxlength="250" style="resize:none" rows="4" ng-disabled="isDisabled" type="text"
                              ng-model="VO.content"></textarea>
                            </div>
                            <br>
                            <font color=#666666 style="display: inline-block;position: absolute;top: 56px;right: 56px;">限 250 个字符  已输入 <font ><span id="info_limit">{{VO.content.length}}</span></font> 个字</font>
                        </div>
                    </div>
                    <div ng-if="(!(VO.correctingReasons==2 && VO.changebillType == null)) && VO.vdef1no != 3 && VO.vdef1no != 4">
                        <div class="col-md-12">
                            <label class="col-md-255 control-label">备注：</label>
                            <div class="col-md-254" style="margin-top: 4px">
                    <textarea class="form-control" maxlength="250" style="resize:none" rows="4" ng-disabled="isDisabled" type="text"
                              ng-model="VO.cmemo"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--    附件和子表    -->
            <div ng-if="(VO.vdef1no == 1 || VO.vdef1no == 2) && (VO.correctingReasons==3 || VO.correctingReasons==8 || VO.correctingReasons==4 || VO.correctingReasons==9 || VO.correctingReasons==1 || VO.correctingReasons==6 || (VO.correctingReasons==2 && VO.changebillType==0)) || VO.vdef1no == 3 || VO.vdef1no == 4">
                <div class="pull-right lr-mr10 lr-mt10">
                    <button class="btn btn-sm btn-info"  ng-click="onDeleteLinepaymentGridOptions();">减行</button>
                </div>
                <div class="pull-right lr-mr10 lr-mt10" ng-if="VO.correctingReasons==1">
                    <button class="btn btn-sm btn-info"  ng-click="nvoiceSterilisation();">重置</button>
                </div>
                <tabset justified="false">
                    <tab index="1" heading="收付款信息" select="selectTab('paymentGridOptions')">
                        <div ui-grid="paymentGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize
                             ui-grid-resize-columns class="grid" style="height: 200px"></div>
                    </tab>
                </tabset>
            </div>
            <div ng-if=" VO.vdef1no == 2 && VO.correctingReasons==2 && VO.changebillType==1">
                <div class="pull-right lr-mr10 lr-mt10">
                    <button class="btn btn-sm btn-info"  ng-click="onDeleteLineinsurancemanGridOptions();">减行</button>
                </div>
                <tabset justified="false" ng-if="VO.changebillType==1">
                    <tab index="3" heading="保险人变更" select="selectTab('insurancemanGridOptions')">
                        <div ui-grid="insurancemanGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                             ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>
                    </tab>
                </tabset>
            </div>
            <div ng-if="(VO.vdef1no == 1 || VO.vdef1no == 2) && (VO.correctingReasons==3 || VO.correctingReasons==8 || VO.correctingReasons==4 || VO.correctingReasons==7 || VO.correctingReasons==1 || VO.correctingReasons==6 || VO.correctingReasons==9 || (VO.correctingReasons==2 && VO.changebillType != null)) || VO.vdef1no == 3 || VO.vdef1no == 4">
                <div class="pull-right lr-mr10 lr-mt10">
                    <button class="btn btn-sm btn-info" ng-click="onUploads();" >上传</button>
                    <button class="btn btn-sm btn-info" ng-click="onDeleteLinedealAttachmentBGridOptions();">减行</button>
                    <button class="btn btn-sm btn-info" ng-click="onDownLoads();" >下载</button>
                </div>
                <tabset justified="false">
                    <tab index="3" heading="附件" select="selectTab('dealAttachmentBGridOptions')">
                        <div ui-grid="dealAttachmentBGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                             ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>
                    </tab>
                </tabset>
            </div>
        </div>
        <!--    -----------------------------------------------------------------------------------------------     -->
    </div>
    <accordion class="" close-others="oneAtATime">
        <accordion-group is-open="false" class="lr-page-bg-gray">
            <accordion-heading class="lr-page-bg-white">
                <div class="btn lr-page-bg-indigo">
                    <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                    <span class="lr-page-color" ng-bind="getDisName('操作信息','')"></span>
                </div>
                <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                   ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-5 control-label">单据状态：</label>
                    <div class="col-md-7 div-cao-zuo">
                        {{VO.billstatus | SELECT_BILLSTATUS}}
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">经办人：</label>
                    <div class="col-md-7 div-cao-zuo">
                        {{VO.pkOperator.name}}
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">制单日期：</label>
                    <div class="col-md-7 div-cao-zuo">
                        {{VO.operateDate | date_cell_date}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-5 control-label">业务单位：</label>
                    <div class="col-md-7 div-cao-zuo">
                        {{VO.pkOrg.name}}
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>
</form>
