<form class="form-horizontal" name="appForm" verify-scope="tipStyle: 1">
    <div class="lr-toolbar">
        <div class="btn-group" add-form-btn>
            <button class="btn lr-main-btn" type="button" ng-click="onSave()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-show="isEdit">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>

        </div>
        <div class="btn-group" add-form-btn>
            <button class="btn lr-main-btn" type="button" ng-click="onEdit()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-show="!isEdit">
                <i class="fa fa-save"></i>
                <span>修改</span>
            </button>

        </div>
        <div class="btn-group" add-form-btn>
            <button class="btn lr-main-btn" type="button" ng-click="onCancel()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-show="isEdit">
                <i class="fa fa-save"></i>
                <span>取消</span>
            </button>

        </div>
    </div>
    <div class="lr-contant">
        <accordion class="" close-others="oneAtATime">
            <accordion-group is-open="true" class="lr-page-bg-gray">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo">
                        <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                        <span class="lr-page-color">密码复杂度</span>
                    </div>
                    <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">最小长度：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.minLength">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">最大长度：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.maxLength">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">是否包含数字：</label>
                        <div class="col-md-7">
                            <!--<input class="form-control" ng-disabled="true" type="text" ng-model="VO.hasNumber">-->
                            <select class="form-control" ng-disabled="!isEdit" ng-model="VO.hasNumber"
                                    required
                                    ng-options="item.id as item.name for item in SELECT.YESNOBOOLEAN">
                                <option value="">--请选择--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">是否包含字母：</label>
                        <div class="col-md-7">
                            <!--<input class="form-control" ng-disabled="true" type="text" ng-model="VO.hasLetter">-->
                            <select class="form-control" ng-disabled="!isEdit" ng-model="VO.hasLetter"
                                    required
                                    ng-options="item.id as item.name for item in SELECT.YESNOBOOLEAN">
                                <option value="">--请选择--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">是否包含特殊字符：</label>
                        <div class="col-md-7">
                            <!--<input class="form-control" ng-disabled="true" type="text" ng-model="VO.hasOther">-->
                            <select class="form-control" ng-disabled="!isEdit" ng-model="VO.hasOther"
                                    required
                                    ng-options="item.id as item.name for item in SELECT.YESNOBOOLEAN">
                                <option value="">--请选择--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">是否包大写字母：</label>
                        <div class="col-md-7">
                            <!--<input class="form-control" ng-disabled="true" type="text" ng-model="VO.hasLetter">-->
                            <select class="form-control" ng-disabled="!isEdit" ng-model="VO.hasCase"
                                    required
                                    ng-options="item.id as item.name for item in SELECT.YESNOBOOLEAN">
                                <option value="">--请选择--</option>
                            </select>
                        </div>
                    </div>
                </div>
            </accordion-group>
            <accordion-group is-open="true" class="lr-page-bg-gray">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo">
                        <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                        <span class="lr-page-color">登陆失败锁定配置</span>
                    </div>
                    <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">登陆错误次数：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.errorNo">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">锁定时间（分钟）：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.lockTime">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">自动锁定账户时长（月）：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.notLogin">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">修改密码周期（天）：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.changePWD">
                        </div>
                    </div>
                </div>
            </accordion-group>
            <accordion-group is-open="true" class="lr-page-bg-gray">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo">
                        <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                        <span class="lr-page-color">系统会话最大值</span>
                    </div>
                    <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <!--requestMaxNum-->
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">最大请求数量：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.requestMaxNum">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">session有效时间:（秒）</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.maxInactiveIntervalInSeconds">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label"></label>
                        <div class="col-md-7">
                            <!--<input class="form-control" ng-disabled="true" type="text" ng-model="VO.notLogin">-->
                        </div>
                    </div>
                </div>
            </accordion-group>
            <accordion-group is-open="true" class="lr-page-bg-gray">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo">
                        <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                        <span class="lr-page-color">日志配置</span>
                    </div>
                    <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">日志覆盖（月）：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.overrideLog">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">日志备份存储目录：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.logSaveDir">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label"></label>
                        <div class="col-md-7">
                            <!--<input class="form-control" ng-disabled="true" type="text" ng-model="VO.notLogin">-->
                        </div>
                    </div>
                </div>
            </accordion-group>
            <accordion-group is-open="true" class="lr-page-bg-gray">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo">
                        <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                        <span class="lr-page-color">邮件配置</span>
                    </div>
                    <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">系统邮箱：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.emailAccount">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">系统邮箱密码：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.emailPassword">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">系统邮箱服务器：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.emailSMTPHost">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">系统监控邮箱：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.monitorMail">

                        </div>
                    </div>
                </div>

            </accordion-group>
            <accordion-group is-open="true" class="lr-page-bg-gray">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo">
                        <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                        <span class="lr-page-color">日志容量配置</span>
                    </div>
                    <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">日志容量(M)：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.logMaxSize">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">日志预警容量(M)：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.logWarningSize">
                        </div>
                    </div>
                </div>
            </accordion-group>
            <accordion-group is-open="true" class="lr-page-bg-gray">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo">
                        <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                        <span class="lr-page-color">权限分配</span>
                    </div>
                    <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <div class="form-group">
                    <div class="col-md-5">
                        <label class="col-md-5 control-label">批量人数（上线50，否则浏览器崩溃）：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.batchCount">

                        </div>
                    </div>
                    <div class="col-md-5">
                        <label class="col-md-5 control-label">起始人数为0，否则为上次起始人数加上批量人数）：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.batchStart">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group" add-form-btn>
                            <button class="btn lr-main-btn" type="button" ng-disabled="!isEdit" ng-click="onAuthority()">
                                <i class="fa fa-save"></i>
                                <span>分配权限</span>
                            </button>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        <label class="col-md-5 control-label">隔离子公司编码（英文逗号隔开）</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="!isEdit" type="text" ng-model="VO.subsidiary">

                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</form>
