<div class="form-horizontal" >
    <accordion>
        <accordion-group is-open="status.open" class="lr-page-bg-gray" grid-button="true">
            <accordion-heading class="lr-page-bg-white">
                <div class="btn lr-page-bg-indigo" ng-click="changeOpen();">
                    <i class="fa fa-search lr-page-color" aria-hidden="true"></i>
                    <span class="lr-page-color">查询条件</span>
                </div>
                <div class="form-group pull-right">
                    <div class="btn-group">
                        <button class="btn lr-main-btn" ng-click="queryTotal = !queryTotal">
                            <i class="fa fa-ellipsis-h"></i>
                            <span>高级查询</span>
                        </button>
                        <button class="btn lr-main-btn" ng-click="onQuery();">
                            <i class="fa fa-search"></i>
                            <span>查询</span>
                        </button>
                        <button class="btn lr-main-btn" ng-click="onReset();">
                            <i class="fa fa-undo"></i>
                            <span>重置</span>
                        </button>
                    </div>
                </div>
            </accordion-heading>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-md-253 control-label">全文检索</label>
                        <div class="col-md-252">
                            <input class="form-control" type="text" placeholder="当前默认查询本年度数据，可通过'制单年度'选择其他年份进行查询；请输入以空格隔开的关键字" ng-model="QUERY['wideArea']"/>
                        </div>
                    </div>
                </div>
                <div ng-if="queryTotal">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">制单年度</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="QUERY['operate_year']"
                                        ng-options="item.id as item.name for item in SELECT.BUSIYEAR">
                                    <option value="">-请选择-</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">专家姓名</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="QUERY['name^like']"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">年龄</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="QUERY['age^like']"/>
                            </div>
                        </div>
                    </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">从事相关工作年限</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="QUERY['yearsofworking^like']"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">所学专业</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="QUERY['subject^like']"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">职称</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="QUERY['et_name^like']"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">职级</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="QUERY['rank^like']"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">资格证书名称</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="QUERY['pk_expert']"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">项目名称</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="QUERY['projectname^like']"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">证件号码</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="QUERY['certcode^like']"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">学历</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="QUERY['education']"
                                    ng-options="item.id as item.name for item in SELECT.EDUCATIONTYPE">
                                <option value="">-请选择-</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">行业类别</label>
                        <div class="col-md-8">
                            <input class="form-control" ui-popup-ref
                                   url="'industryTypeRef/queryForGrid'" ng-click="" popup-model="VO"
                                   popup-model-field="'gra_school'"
                                   is-tree ="true"
                                   ng-verify
                                   ng-model="VO.gra_school.name" type="text" placeholder="">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">业务单位</label>
                        <div class="col-md-8">
                            <input class="form-control" ui-popup-ref
                                   url="'orgRef/queryForGridFiliale'" popup-model="QUERY"
                                   popup-model-field="'pk_org'"
                                   ng-model="QUERY.pk_org.name" type="text" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">单据状态</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="QUERY['billstatus']"
                                    ng-options="item.id as item.name for item in SELECT.REPORTSTATUSTYPE">
                                <option value="">-请选择-</option>
                            </select>
                        </div>
                    </div>
                </div>
                    </div>
            </form>
        </accordion-group>
    </accordion>
</div>

<div class="lr-grid-container">
    <div>
        <accordion>
            <accordion-group is-open="true"  grid-button="true">
                <accordion-heading class="lr-page-bg-white">
                    <div class="lr-grid-toolbar" >
                        <div class="btn lr-page-bg-indigo">
                            <i class="fa fa-database lr-page-color" aria-hidden="true"></i>
                            <span class="lr-page-color">查询结果</span>
                        </div>
                        <div class="btn-group lr-grid-btn-right" add-grid-btn>
                                   <!-- <button class="btn lr-main-btn" ng-click="onAdd()">
                                        <i class="fa fa-plus"></i>
                                    增加
                                    </button>
                                    <button class="btn lr-main-btn" ng-click="onEdit()" ng-disabled="checkStatus(gridApi,'billstatus','37',false)">
                                        <i class="fa fa-plus"></i>
                                    修改
                                    </button>
                                    <button class="btn lr-main-btn" ng-click="onDelete()" ng-disabled="checkStatus(gridApi,'billstatus','37',false)">
                                        <i class="fa fa-plus"></i>
                                    删除
                                    </button>
                                    <button class="btn lr-main-btn" ng-click="onSubmit()" ng-disabled="checkStatus(gridApi,'billstatus','37',false)">
                                        <i class="fa fa-plus"></i>
                                    提交
                                    </button>
                                    <button class="btn lr-main-btn" ng-click="onCard()">
                                        <i class="fa fa-plus"></i>
                                    卡片
                                    </button>
                                    <button class="btn lr-main-btn" ng-click="onAudit()" ng-disabled="checkStatus(gridApi,'billstatus','33',false)">
                                        <i class="fa fa-plus"></i>
                                    审核
                                    </button>
                                    <button class="btn lr-main-btn" ng-click="onRecall()">
                                        <i class="fa fa-plus"></i>
                                    撤回
                                    </button>
                                    <button class="btn lr-main-btn" ng-click="onLinkAuditFlow()">
                                        <i class="fa fa-plus"></i>
                                    查看流程图
                                    </button>
                                    <button class="btn lr-main-btn" ng-click="onRecord()">
                                        <i class="fa fa-plus"></i>
                                    查看评价记录
                                    </button>
                                   &lt;!&ndash; <button class="btn lr-main-btn" ng-click="onUpload()">
                                        <i class="fa fa-plus"></i>
                                    附件管理
                                    </button>&ndash;&gt;
                                    <button class="btn lr-main-btn" ng-click="onPrint()">
                                        <i class="fa fa-plus"></i>
                                    打印
                                    </button>
                            <button class="btn lr-main-btn" ng-click="viewClause(gridApi)" ng-disabled="checkStatus(gridApi,'','',true)" >
                                <i class="fa fa-joomla"></i>
                                查看附件
                            </button>-->
                            <button class="btn btn-azure" ng-click="viewClause(gridApi)" ng-disabled="checkStatus(gridApi,'','',true)" >
                                <i class="fa fa-joomla"></i>
                                查看附件
                            </button>
                        </div>
                    </div>
                </accordion-heading>
                <div class="clearfix lr-page-margin" ng-style="getGridHtmlStyle('','',470,0)">
                    <div ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-exporter ui-grid-resize-columns ui-grid-selection ui-grid-pinning class="grid" style="min-height: 100%"></div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div>
        <tabset justified="false" ng-if="chilbTable">
                    <tab index="1" heading="专家职称信息" select="selectTab('expertTeclGridOptions')">
                        <div ui-grid="expertTeclGridOptions"  ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height:200px"></div>
                    </tab>
                    <tab index="2" heading="专家发表学术刊物信息" select="selectTab('expertReportGridOptions')">
                        <div ui-grid="expertReportGridOptions"  ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height:200px"></div>
                    </tab>
                    <tab index="3" heading="专家调用记录及评价" select="selectTab('expertProjectGridOptions')">
                        <div ui-grid="expertProjectGridOptions"  ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height:200px"></div>
                    </tab>
                    <tab index="4" heading="专家聘用信息" select="selectTab('expertEmployedGridOptions')">
                        <div ui-grid="expertEmployedGridOptions"  ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height:200px"></div>
                    </tab>
                    <tab index="5" heading="专家项目经验" select="selectTab('expertProjectExperienceGridOptions')">
                        <div ui-grid="expertProjectExperienceGridOptions"  ui-grid-cellnav ui-grid-selection class="grid" style="height:200px"></div>
                    </tab>
                    <tab index="6" heading="专家资格证书" select="selectTab('expertCaibnoGridOptions')">
                        <div ui-grid="expertCaibnoGridOptions"  ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height:200px"></div>
                    </tab>
            <tab index="7" heading="附件信息" select="selectTab('dealAttachmentBGridOptions')">
                <div ui-grid="dealAttachmentBGridOptions"  ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns  class="grid" style="height: 200px"></div>
            </tab>
        </tabset>
    </div>
</div>