<!--附件公共界面-->
<div class="main-form-style" ng-controller="clearingBVOGridOptionsCtrl">
    <div class="form-horizontal" style="background: #fff; padding: 10px;">
        <accordion class="" close-others="oneAtATime">
            <div ng-init="status={open:true}"></div>
            <accordion-group is-open="status.open">
                <accordion-heading>
                    结算子表 <i class="pull-right glyphicon"
                            ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <div class="panel-body">
                    <form name="form">
                                <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">保单号：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.pkInsurancebill.code">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">计划往来对象：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.c0Name">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">项目名称：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.pkInsurancebill.projectname">
                                            </div>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">收付款类型：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.typeMoney">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">期数：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.receiveperiod">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">收付款对象名称：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.actualcollectionpk">
                                            </div>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">收付款对象类型：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.typeCompany">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">计划时间：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.planDate">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">本次计划金额：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.planMoney">
                                            </div>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">结算日期：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.factDate">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">本次结算金额：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.factMoney">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">未结算金额：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.noPaymentMoney">
                                            </div>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">实际往来对象：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.factActualcollection">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">银行卡号：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.cAccount">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">开户银行：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.cBank">
                                            </div>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">是否开发票：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.billing">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">是否自动生成批单：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.ischangck">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">操作：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.buttont1">
                                            </div>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">备注：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.vdef1">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">附件路径：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="clearingBVO.vdef5">
                                            </div>
                                        </div>
                                </div>
                    </form>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div class="pull-right">
        <button ng-click="onSave()"  style="margin-right: 10px;"class="btn btn-sm btn-info" >确定</button>
        <button ng-click="onCancel()" style="margin-right: 10px;"class="btn btn-sm btn-info" >返回</button>
    </div>
    <div style="clear: both"></div>
</div>
