<div class="form-horizontal" ng-if="isGrid">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="btn lr-page-bg-indigo" ng-click="changeOpen();">
                    <i class="fa fa-search lr-page-color" aria-hidden="true"></i>
                    <span class="lr-page-color">查询条件</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group pull-right buttons-widget">
                    <button class="btn btn-primary " ng-click="onQuery();">
                        <i class="fa fa-search"></i>
                        <span>查询</span>
                    </button>
                    <button class="btn btn-primary btn-o" ng-click="onReset();">
                        <i class="fa fa-undo"></i>
                        <span>重置</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 margin-bottom-10">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">申报年度</label>
                                    <div class="col-md-8">
                                        <div class="input-group " moment-picker="QUERY['report_year']" locale="zh-cn" today="true" start-view="year" format="YYYY">
                                            <span class="input-group-addon">  <i class="fa fa-calendar"></i> </span>
                                            <input class="form-control" placeholder="查询单据录入的年度" ng-model="QUERY['report_year']"
                                                   ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">申报季度</label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-model="QUERY['report_quarter']"
                                                ng-options="item.id as item.name for item in SELECT.QUARTER">
                                            <option value="">--请选择制单月度--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">项目名称</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-model="QUERY['pk_project_applay->>\'$.name\'']"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="lr-grid-toolbar">

                    <div class="buttons-widget">
                        <button class="btn btn-primary " ng-click="export()">
                            <i class="fa fa-pencil"></i>
                            导出CSV
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="clearfix lr-page-margin" ng-style="gridHtmlHeight()">
                    <div ui-grid="gridOptions" ui-grid-pagination ui-grid-exporter ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection ui-grid-pinning ui-grid-infinite-scroll class="grid" style="min-height: 100%"></div>
                </div>
            </div>

        </div>
    </div>
</div>