<form class="form-horizontal" ng-if="card">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn btn-azure" ng-click="onBack()" ng-if="!isBack">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
            <button class="btn btn-azure" ng-click="onSubmit()" ng-if="!isEdit&&(VO.billstatus==31||VO.billstatus==36||VO.ifGetFeeBill==31)">
                <i class="ti-save"></i>
                <span>提交</span>
            </button>
            <button class="btn btn-azure" ng-click="onRenew()" ng-if="!isXq">
                <i class="fa fa-plus"></i>
                <span>续签</span>
            </button>
            <button class="btn btn-azure" ng-click="onAudit()" ng-if="!isEdit&&(VO.billstatus==33||VO.billstatus==32||VO.ifGetFeeBill==32||VO.ifGetFeeBill==33)">
                <i class="ti-check"></i>
                <span>审核</span>
            </button>
            <button class="btn btn-azure" ng-click="onLinkAuditFlow()" ng-if="!isEdit">
                <i class="ti-share-alt"></i>
                <span>查看流程图</span>
            </button>
        </div>
    </div>
    <div class="main-div">
        <div class="col-md-12 title">
            <h4>{{VO.contract.name}}</h4>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span class="{{VO.billstatus == 1?'span-background-tg':VO.billstatus == 37?'span-background-zc':'' }}">{{VO.billstatus | SELECT_BILLSTATUS}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 title">
            <p style="font-size:20px">详细信息</p>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>合同编号：</span><span class="fontStyle">{{VO.contract.code}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>合同起始日期：</span><span class="fontStyle">{{VO.agreementStart | date_cell_date}}</span>
                </div>
                <div class="col-md-4">
                    <span>合同结束日期：</span><span class="fontStyle">{{VO.agreementEnd | date_cell_date}}</span>
                </div>
                <div class="col-md-4">
                    <span>有效期(月)：</span><span class="fontStyle">{{VO.term}}</span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-4">
                    <span>是否包含下级单位：</span><span class="fontStyle">{{VO.ifContainChildren | SELECT_ISEQUALZERO}}</span>
                </div>
                <div class="col-md-4">
                    <span>是否长期：</span><span class="fontStyle">{{VO.ifLongTime | SELECT_ISEQUALZERO}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>业务单位：</span><span class="fontStyle">{{VO.ourOrg.name}}</span>
                </div>
                <div class="col-md-4">
                    <span>业务部门：</span><span class="fontStyle">{{VO.ourDept.name}}</span>
                </div>
                <div class="col-md-4">
                    <span>业务经办人：</span><span class="fontStyle">{{VO.ourUser.name}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <span>备注：</span><span class="fontStyle">{{VO.remark}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 title">
            <p style="font-size:20px">客户信息</p>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>客户类型：</span><span class="fontStyle">{{VO.customerType | SELECT_CUSTOMERTYPENEW}}</span>
                </div>
                <div class="col-md-4">
                    <span>客户名称：</span><span class="fontStyle">{{VO.customer.name}}</span>
                </div>
                <div class="col-md-4">
                    <span>客户信息编码：</span><span class="fontStyle">{{VO.customer.code}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>是否包含下级单位：</span><span class="fontStyle">{{VO.ifContainChildren | SELECT_ISEQUALZERO}}</span>
                </div>

            </div>
        </div>
        <div class="col-md-12 title">
            <p style="font-size:20px">属地服务单位</p>
            <div class="col-md-12">
                <div class="check-primary checkbox-inline" ng-repeat="org in orgRows">
                    <label ng-if="VO.effectiveRange[org.pk]">
                        {{org.name}}
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-12 title" ng-if="renewRows.length>0">
            <p style="font-size:20px">续签信息</p>
            <div class="col-md-12">
                <div class="check-primary checkbox-inline" ng-repeat="renew in renewRows">
                    <span>操作人：</span><span class="fontStyle">{{renew.userVO.name}}</span>
                    <span>合同结束日期（旧）：</span><span class="fontStyle">{{renew.old_agreementEnd}}</span>
                    <span>合同结束日期（新）：</span><span class="fontStyle">{{renew.new_agreementEnd}}</span>
                    <span>续签时间：</span><span class="fontStyle">{{renew.opeate_date}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 title">
            <div class="col-md-12 card-grid">
                <div class="pull-right lr-mr10 lr-mt10">
                    <button class="btn btn-sm btn-info" ng-click="onDownLoads();">批量下载</button>
                </div>
                <tabset justified="false">
                    <tab index="1" heading="附件信息" select="selectTab('dealAttachmentBGridOptions')">
                        <div ui-grid="dealAttachmentBGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                             ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>
                    </tab>
                </tabset>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <span>制单机构：</span><span class="fontStyle">{{VO.pkOrg.name}}</span>
            </div>
            <div class="col-md-4">
                <span>制单部门：</span><span class="fontStyle">{{VO.pkDept.name}}</span>
            </div>
            <div class="col-md-4">
                <span>制单时间：</span><span class="fontStyle">{{VO.createTime}}</span>
            </div>
        </div>

    </div>
</form>
