<form class="form-horizontal" ng-if="card">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn btn-azure" ng-click="onBack()" ng-if="isBack">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
        </div>
    </div>
    <div class="main-div">
        <div class="col-md-12 title">
            <p style="font-size:20px">详细信息</p>
<!--            <div class="col-md-12">-->
<!--                <div class="col-md-4">-->
<!--                    <span>立项名称 ：</span><span class="fontStyle">{{VO.pkProject.name}}</span>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                    <span>立项编号 ：</span><span class="fontStyle">{{VO.pkProject.code}}</span>-->
<!--                </div>-->
<!--            </div>-->
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>保险公司 ：</span><span class="fontStyle">{{VO.COMPANY_INFO}}</span>
                </div>
                <div class="col-md-4">
                    <span>保单号：</span><span class="fontStyle">{{VO.INFO_NUM}}</span>
                </div>
                <div class="col-md-4">
                    <span>保单信息编号：</span><span class="fontStyle">{{VO.insuranceinfono}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>投保人：</span><span class="fontStyle">{{VO.NAME}}</span>
                </div>
                <div class="col-md-4">
                    <span>投保人证件号码：</span><span class="fontStyle">{{VO.CARD_NO}}</span>
                </div>
                <div class="col-md-4">
                    <span>投保人地址：</span><span class="fontStyle">{{VO.POSTAL_ADDRESS}}</span>
                </div>
            </div>

            <div class="col-md-12">
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>保险起始日期：</span><span class="fontStyle">{{VO.INSURE_START_DATE }}</span>
                </div>
                <div class="col-md-4">
                    <span>保险到期日期：</span><span class="fontStyle">{{VO.INSURE_END_DATE }}</span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-4">
                    <span>保险金额/赔偿限额：</span><span class="fontStyle">{{VO.ALL_FEE}}</span>
                </div>
                <div class="col-md-4">
                    <span>签单总保费：</span><span class="fontStyle">{{VO.INSURE_FEE}}</span>
                </div>
                <div class="col-md-4">
                    <span>经纪公司名称：</span><span class="fontStyle">{{VO.BROKER_NAME}}</span>
                </div>
            </div>
            <div class="col-md-12">
            </div>

            <div class="col-md-12">
                <div class="col-md-4">
                    <span>承保比例：</span><span class="fontStyle">{{VO.INSURANCENUM}}</span>
                </div>
                <div class="col-md-4">
                    <span>工程名称：</span><span class="fontStyle">{{VO.INSURE_PROJECT_NAME}}</span>
                </div>
                <div class="col-md-4">
                    <span>投保人数：</span><span class="fontStyle">{{VO.insurancenum}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>缴费方式：</span><span class="fontStyle">{{VO.PAY_MODE}}</span>
                </div>
                <div class="col-md-4">
                    <span>投保日期：</span><span class="fontStyle">{{VO.BUY_DATE}}</span>
                </div>
                <div class="col-md-4">
                    <span>缴费年限：</span><span class="fontStyle">{{VO.PAY_YEAR}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>产品名称：</span><span class="fontStyle">{{VO.PRO_NAME }}</span>
                </div>
                <div class="col-md-4">
                    <span>推送时间：</span><span class="fontStyle">{{VO.POST_TIME}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <p style="font-size: 16px;color: #8e8e93">保险险种信息</p>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>险种名称</th>
                            <th>产品名称</th>
                            <th>保险金额/赔偿限额(元)</th>
                            <th>费率(‰)</th>
                            <th>保费含税(元)</th>
                            <th>免赔额(元)</th>
                            <th class="hidden-xs">备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in VO.infoType">
                            <td >{{item.NAME}}</td>
                            <td >{{item.INSURE_LITTLE_NAME}}</td>
                            <td>{{item.ALL_FEE}}</td>
                            <td>{{item.chargerate|number:6}}</td>
                            <td>{{item.INSURE_FEE}}</td>
                            <td>{{item.franchise|AMOUNT_FILTER}}</td>
                            <td class="hidden-xs">{{item.memo}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <p style="font-size: 16px;color: #8e8e93">保险人信息</p>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>保险人名称</th>
                            <th class="center">是否代收保费</th>
                            <th class="center">是否全额解付</th>
                            <th>承保比例(%)</th>
                            <th>保险金额/赔偿限额(元)</th>
                            <th>保险保费(含税)(元)</th>
                            <th class="center">是否主承保</th>
                            <th class="hidden-xs">备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in VO.holderInfo">
                            <td>{{item.NAME}}</td>
                            <td class="center">{{item.isReplace|SELECT_YESNO}}</td>
                            <td class="center">{{item.pay|SELECT_YESNO}}</td>
                            <td>{{item.INSURE_ACCEPT_SHARE}}</td>
                            <td>{{item.ALL_FEE |AMOUNT_FILTER}}</td>
                            <td>{{item.INSURE_FEE|AMOUNT_FILTER}}</td>
                            <td class="center">{{item.IS_MAIN}}</td>
                            <td class="hidden-xs">{{item.memo}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-12" ng-if="VO.carInfo.length !=0">
                <div class="table-responsive">
                    <p style="font-size: 16px;color: #8e8e93">车辆信息</p>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>车牌号</th>
                            <th>车架号</th>
                            <th>车型号</th>
                            <th>车价</th>
                            <th>生产日期</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in VO.carInfo">
                            <td>{{item.CAR_NO}}</td>
                            <td>{{item.VIN_NO}}</td>
                            <td>{{item.CAR_TYPE}}</td>
                            <td>{{item.CAR_PRICE}}</td>
                            <td>{{item.CAR_DATE|date:"yyyy-MM-dd"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <p style="font-size: 16px;color: #8e8e93">被保人信息</p>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>被保人</th>
                            <th>证件类型</th>
                            <th>证件号码</th>
                            <th>出生日期</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(x,item) in VO.beholderInfo">
                            <td>{{x+1}}</td>
                            <td>{{item.NAME}}</td>
                            <td>{{item.CARD_TPYE}}</td>
                            <td>{{item.CARD_NO}}</td>
                            <td>{{item.birthdate|date:"yyyy-MM-dd"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-show="VO.FLAG == '人身险'">
            <div class="table-responsive">
                <p style="font-size: 16px;color: #8e8e93">受益人信息</p>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>与被保人关系</th>
                        <th>受益人名称</th>
                        <th>受益比例(%)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(x,item) in VO.beneficiary">
                        <td>{{x+1}}</td>
                        <td>{{item.T_CODE}}</td>
                        <td>{{item.NAME}}</td>
                        <td>{{item.ACCEPT_SHARE}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</form>
