<form class="form-horizontal" ng-if="isCard">
    <div class="main-div text-right" add-card-btn>
    </div>
    <div class="main-div">
        <div class="col-md-12 title">
            <h4>{{VO.pkProject.name}}</h4>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span class="{{VO.billstatus == 34?'span-background-tg':VO.billstatus == 33?'span-background-shz':VO.billstatus == 37?'span-background-zc':'' }}">{{VO.billstatus | SELECT_BILLSTATUS}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>详细信息</p>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <span>验收日期：</span><span class="fontStyle">{{VO.accDate | date_cell_date}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <p>合同扫描件</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>文件类型</th>
                            <th width="50%">文件名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="item in VO.dealAttachmentB">
                            <td>{{item.fileInstructions}}</td>
                            <td><a href="#" ng-click="onPreviewFile(item.id,item.fileName)" class="text-primary" tooltip="点击浏览文件"> {{ item.fileName }}</a></td>
                            <td nowrap>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="onDownLoadFile(item.id,item.fileName)">
                                    <span class="fa fa-download"></span> 下载
                                </button>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
