<form class="form-horizontal" name="appForm" verify-scope="tipStyle: 1">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn btn-azure" type="button" ng-click="onSave()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-if="isForm">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>
            <button class="btn btn-azure" ng-click="onCancel()" ng-if="isForm">
                <i class="fa fa-undo"></i>
                <span>取消</span>
            </button>
            <button class="btn btn-azure" ng-click="onSubmit()" ng-if="isForm&&(VO.billstatus==31||VO.billstatus==36)">
                <i class="ti-save"></i>
                <span>提交</span>
            </button>
            <button class="btn btn-azure" ng-click="onRecall()" ng-if="isForm&&(VO.billstatus==33||VO.billstatus==32)">
                <i class="ti-check"></i>
                <span>撤回</span>
            </button>
            <button class="btn btn-azure" ng-click="onLinkAuditFlow()" ng-if="isForm&&VO.billstatus!=null&&VO.billstatus!=37&&VO.billstatus!=''">
                <i class="ti-share-alt"></i>
                <span>查看流程图</span>
            </button>
            <button class="btn btn-azure" ng-click="onBack()" ng-if="isForm">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="col-md-5 control-label">商户号流水信息编号：</label>
            <div class="col-md-7">
                <input class="form-control" ng-disabled="isForm" type="text" ng-model="VO.flowNo">
            </div>
        </div>
        <div class="col-md-4">
            <label class="col-md-5 control-label">单据建立公司：</label>
            <div class="col-md-7">
                <input class="form-control" ng-disabled="isForm" type="text" ng-model="VO.pkOrg.name">
            </div>
        </div>
        <div class="col-md-4">
            <label class="col-md-5 control-label">单据建立部门：</label>
            <div class="col-md-7">
                <input class="form-control" ng-disabled="isForm" type="text" ng-model="VO.pkDept.name">
            </div>
        </div>
    </div>

    <div class="lr-contant">
        <fieldset>
            <legend>
                商户号流水信息
            </legend>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-5 control-label lr-verify">第三方支付机构类型：</label>
                    <div class="col-md-7">
                        <select class="form-control" ng-disabled="!isForm" ng-model="VO.thirdOrgType"
                                required ng-verify
                                ng-options="item.id as item.name for item in SELECT.THIRDORGTYPE">
                            <option value="">--请选择第三方支付机构类型--</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label lr-verify">账号：</label>
                    <div class="col-md-7">
                        <select class="form-control" ng-disabled="!isForm || !(VO.thirdOrgType!=null)" ng-model="VO.accountNumber"
                                required ng-verify
                                ng-options="item.id as item.name for item in accountNumberArray">
                            <option value="">--请选择账号--</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label lr-verify">交易日期：</label>
                    <div class="col-md-7">
                        <input class="form-control" ng-verify ng-disabled="!isForm" type="text" wdate-picker ng-model="VO.tradeDate">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-5 control-label">当日流入总金额（元）：</label>
                    <div class="col-md-7">
                        <input class="form-control" ng-disabled="isForm" type="text" ng-model="VO.inFlowAmount" format-number>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">当日流出总金额（元）：</label>
                    <div class="col-md-7">
                        <input class="form-control" ng-disabled="isForm" type="text" ng-model="VO.outFlowAmount" format-number>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">当日净流入总金额（元）：</label>
                    <div class="col-md-7">
                        <input class="form-control" ng-disabled="isForm" type="text" ng-model="VO.flowAmount" format-number>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="lr-contant">
        <fieldset>
            <legend>交易流水明细</legend>
            <div class="pull-right lr-mr10 lr-mt10">
<!--                <button class="btn btn-sm btn-info"  type="button" ng-click="onAddLine('balanceOrderGridOption',null)">增行</button>-->
<!--                <button class="btn btn-sm btn-info"  type="button" ng-click="onDeleteLine('balanceOrderGridOption')">减行</button>-->
            </div>
            <tabset justified="false">
                <tab index="1" heading="交易流水明细">
                    <div ui-grid="balanceOrderGridOption"  ui-grid-exporter ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize
                         ui-grid-resize-columns class="grid"></div>
                </tab>
            </tabset>
        </fieldset>
    </div>

    <div class="lr-contant">
        <fieldset>
            <legend>已选信息</legend>
            <div class="table-responsive">
                <p style="font-size: 16px;color: #8e8e93">交易流水明细</p>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="info">
                        <th class="center">流水号</th>
                        <th class="center">交易金额</th>
                        <th class="center">交易时间</th>
                        <th class="center">交易类型业务类型</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in VO.balanceOrder">
                        <td>{{item.serialNo}}</td>
                        <td>{{item.payment}}</td>
                        <td>{{item.paytime}}</td>
                        <td>{{item.busiType | SELECT_ORDER_BUSI_TYPE}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>

    <div class="lr-contant">
        <fieldset>
            <legend>附件</legend>
            <div class="pull-right lr-mr10 lr-mt10">
                <button class="btn btn-sm btn-info"  type="button" ng-click="onUploads()">上传</button>
                <button class="btn btn-sm btn-info"  type="button" ng-click="onDeleteLine('dealAttachmentBGridOptions')">减行</button>
                <button class="btn btn-sm btn-info"  type="button" ng-click="onDownLoads()">下载</button>
            </div>
            <tabset justified="false">
                <tab index="4" heading="附件">
                    <div ui-grid="dealAttachmentBGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                         ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>
                </tab>
            </tabset>
        </fieldset>
    </div>
    </div>
</form>
