<form class="form-horizontal bg-white" ng-if="isCard">
    <div class="main-div">
        <div class="title">
            <div class="row ">
                <div class="col-md-9"><h4>{{VO.projectName}}</h4>
                </div>
                <div class="col-md-3 text-right" add-card-btn>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="label {{VO.billstatus == 34?'label-success':VO.billstatus == 33?'label-warning':VO.billstatus == 37?'label-warning;':VO.billstatus == 36?'label-warning;':'label-default' }}">{{VO.billstatus | SELECT_BILLSTATUS}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <fieldset>
                    <legend>
                        基本信息
                    </legend>
                    <div class="col-md-12">
                        <h6><span class="text-bold">项目需求概括及定价规则情况</span></h6>
                        <p class="margin-bottom-30">
                            {{VO.data.requirement}}
                        </p>
                        <h6><span class="text-bold">事先明确单价或折扣率情况说明</span></h6>
                        <p class="margin-bottom-30">
                            {{VO.data.priceInfo}}
                        </p>
                        <h6><span class="text-bold">履约评价及其他事项说明</span></h6>
                        <p class="margin-bottom-30">
                            {{VO.data.evaluation}}
                        </p>
                        <h6><span class="text-bold">推荐选择服务商名单及理由说明</span></h6>
                        <p class="margin-bottom-30">
                            {{VO.data.partnerInfo}}
                        </p>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>
                        推荐选择服务商名单
                    </legend>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>服务商名称</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="item in VO.partners">
                            <td>{{ item.partnerName }}</td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <fieldset>
                <legend>
                    附件
                </legend>
                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">文件名称</th>
                        <th>文件大小</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="item in VO.dealAttachmentB">
                        <td><a href="#" ng-click="onPreviewFile(item.id,item.fileName)" class="text-primary" tooltip="点击浏览文件"> {{ item.fileName }}</a></td>
                        <td>{{ item.fileSize/1024/1024|number:2 }}MB</td>
                        <td nowrap>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="onDownLoadFile(item.id,item.fileName)">
                                <span class="fa fa-download"></span> 下载
                            </button>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</form>
