<form class="form-horizontal" name="appForm" verify-scope="tipStyle: 1" ng-if="isForm"
      xmlns="http://www.w3.org/1999/html">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-azure" type="button" ng-click="onSave()">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>
            <button type="button" class="btn btn-azure"  type="button" ng-click="onBack()" ng-if="isForm">
                <i class="fa fa-undo"></i>
                <span>返回</span>
            </button>
        </div>
    </div>
    <div class="lr-contant">
        <accordion class="">
            <accordion-group is-open="true" class="lr-page-bg-gray">
                <div class="form-group">
                    <div class="btn lr-page-bg-indigo">
                        <i class="fa fa-hand-o-right lr-page-color"></i>
                        <span class="lr-page-color">规则配置</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-4 control-label" >公司：</label>
                        <div class="col-md-8">
                            <input class="form-control" ui-popup-ref
                                   url="'orgRef/queryForGridAll'" ng-click="" popup-model="VO"
                                   popup-model-field="'selectTerritorial'"
                                   ng-model="VO.selectTerritorial.name" type="text" placeholder="">
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div style="margin-top: 5px">
        <div class="pull-right lr-mr10 lr-mt10">
            <button class="btn btn-sm btn-info" type="button" ng-click="onDeleteLine();">减行</button>
            <button class="btn btn-sm btn-info" type="button" ng-click="onUploads();" ng-if="upOrDown">上传</button>
            <button class="btn btn-sm btn-info" type="button" ng-click="onDownLoads();" ng-if="upOrDown">下载</button>
        </div>
        <tabset justified="false">
            <tab index="6" heading="附件" select="selectTab('dealAttachmentBGridOptions')">
                <div ui-grid="dealAttachmentBGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                     ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>
            </tab>
        </tabset>
    </div>
</form>
