<div class="container-fluid container-fullw" ng-controller="paymentDialogCtrl">
    <form class="form-horizontal" name="appForm">
        <div class="row margin-bottom-10">
            <div class="col-md-6">
                <div class="btn lr-page-bg-indigo">
                    <i class="fa fa-search lr-page-color" aria-hidden="true"></i>
                    <span class="lr-page-color">查询条件</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <button class="btn btn-primary" ng-click="onRefQuery()">
                        <i class="fa fa-search"></i>
                        <span>查询</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="col-md-5 control-label">供应商名称：</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" ng-model="queryData.partner">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">合同编号：</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" ng-model="queryData.contract_code">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">合同名称：</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" ng-model="queryData.contract_name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div ui-grid="paymentGridOptions" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns
                     class="grid" style="height:300px"></div>
            </div>
        </div>
        <div class="row">
            <div class="pull-right">
                <button ng-click="onCheck() && confirm(payments)" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> 确定</button>
                <button ng-click="closeThisDialog(0)" class="btn btn-sm btn-default"><i class="fa fa-times"></i>取消</button>
            </div>
        </div>
    </form>
</div>