<div class="md-content" >

    <h3 style="overflow: auto;height: 250px;padding: 0px;">
        <img src="{{imgUrl}}">
    </h3>

    <div style="overflow: hidden;">
        <div ui-grid="linkAuditFlowGridOptions" ui-grid-selection class="grid" style="height: 250px"></div>
    </div>

    <!--<textarea style="width:100%" rows="4" placeholder="请输入审批意见" ng-model="textorder"></textarea>-->
    <!--<div class="pull-right">-->
    <!--<button ng-click="onSubmitConfirm()" style="margin-right: 10px;"class="btn btn-sm btn-info" >提交审核</button>-->
    <!--<button ng-click="onSubmitCancel()" style="margin-right: 10px;"class="btn btn-sm btn-info" >取消</button>-->
    <!--</div>-->
</div>