<!--流程追踪-->
<div class="main-form-style" ng-init="init()">
    <div class="form-horizontal" >
        <iframe name="traceInst" id="traceInst" height="30%" width="100%" frameborder=0  src='{{myURL}}'></iframe>
        <!--<div class="grid-style lr-page-less-margin" data-ng-include="workFlowUrl"></div>-->
    </div>
    <div ui-grid="executeInfoGridOptions" ui-grid-auto-resize ui-grid-resize-columns
         ui-grid-selection ui-grid-pinning
         class="grid" style="height:70%; text-align: center;" >
    </div>
    <div class="pull-right" >
        <button ng-click="onSubSave()" ng-show="!isSubDisabled" style="margin-right: 10px;"class="btn btn-sm lr-sub-btn" >
            <span ng-bind="getDisName('确定')"></span></button>
        <button ng-click="onSubCancel()" style="margin-right: 10px;"class="btn btn-sm lr-sub-btn" >
            <span ng-bind="getDisName('取消')"></span></button>
    </div>
    <div style="clear: both"></div>
</div>