<form class="form-horizontal" name="appForm" verify-scope="tipStyle: 1" ng-if="isSuperForm">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-azure" type="button" ng-click="onSave(null)" ng-if="isSuperForm">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>
            <button type="button" class="btn btn-azure"  type="button" ng-click="onBack()" ng-if="isSuperForm">
                <i class="fa fa-undo"></i>
                <span>返回</span>
            </button>
        </div>
    </div>
    <div class="lr-contant">
        <accordion class="">
        <accordion-group is-open="true" class="lr-page-bg-gray">
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label">客户名称：</label>
                <div class="col-md-7">
                    <input class="form-control"  type="text" ng-model="VO.customer_name">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">项目名称：</label>
                <div class="col-md-7">
                    <input class="form-control"  ng-model="VO.project_name" type="text">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">投保险种：</label>
                <div class="col-md-7">
                    <input class="form-control" ui-popup-ref="issueRef"
                           url="'insuranceRef/queryForGrid'" ng-click=""  popup-model="VO" is-tree="true"
                           popup-model-field="'insurancetype'"
                           ng-model="VO.insurancetype.name" type="text" placeholder="请选择">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label">地域：</label>
                <div class="col-md-7">
                    <input class="form-control"  type="text" ng-model="VO.project_address">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">保单号：</label>
                <div class="col-md-7">
                    <input class="form-control"  ng-model="VO.insurance_no" type="text">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">保险人名称：</label>
                <div class="col-md-7">
                    <input class="form-control"  ng-model="VO.insurance_people" type="text">
                </div>
            </div>
        </div>
        </accordion-group>
        </accordion>
        <accordion class="">
        <accordion-group is-open="true" class="lr-page-bg-gray">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-5 control-label">签单保费：</label>
                    <div class="col-md-7">
                        <input class="form-control"  format-number="" type="text" ng-model="VO.service_premium">
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">佣金合计：</label>
                    <div class="col-md-7">
                        <input class="form-control"  format-number="" ng-model="VO.service_income" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">服务费：</label>
                    <div class="col-md-7">
                        <input class="form-control"  format-number="" ng-model="VO.service_fee" type="text">
                    </div>
                </div>
            </div>
        </accordion-group>
        </accordion>
        <accordion class="">
        <accordion-group is-open="true" class="lr-page-bg-gray">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-5 control-label">项目联系人：</label>
                    <div class="col-md-7">
                        <input class="form-control"  ng-model="VO.project_contact" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">项目联系人方式：</label>
                    <div class="col-md-7">
                        <input class="form-control"="{ pattern:/(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}/,required: false}"  ng-model="VO.project_contactway" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-5 control-label">中建联系人：</label>
                    <div class="col-md-7">
                        <input class="form-control"  ng-model="VO.contact" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">中建联系人方式：</label>
                    <div class="col-md-7">
                        <input class="form-control"="{ pattern:/(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}/,required: false}"  ng-model="VO.contactway" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-5 control-label">保险公司联系人：</label>
                    <div class="col-md-7">
                        <input class="form-control"  ng-model="VO.insurance_contact" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">保险公司联系人方式：</label>
                    <div class="col-md-7">
                        <input class="form-control"="{ pattern:/(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}/,required: false}"  ng-model="VO.insurance_contactway" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </accordion-group>
        </accordion>
        <accordion class="">
        <accordion-group is-open="true" class="lr-page-bg-gray">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-5 control-label ">保险起始日期：</label>
                    <div class="col-md-7">
                        <input class="form-control"     type="text" wdate-picker
                               ng-model="VO.begin_time">
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label ">保险到期日期：</label>
                    <div class="col-md-7">
                        <input class="form-control"   type="text" wdate-picker
                               ng-model="VO.end_time">
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">项目状态：</label>
                    <div class="col-md-7">
                        <select class="form-control"  ng-model="VO.project_state"
                                required
                                ng-options="item.id as item.name for item in SELECT.SELECTPROJECTINFORMATIONSTATETYPE">
                            <option value="">--项目状态--</option>
                        </select>
                    </div>
                </div>
            </div>

        </accordion-group>
        </accordion>
    </div>
</form>
