<div class="form-horizontal">

    <div class="lr-grid-container">
        <div class="lr-grid-toolbar">
            <div class="btn-group text-right" add-grid-btn>

                <button class="btn btn-primary btn-sm" ng-click="onAdd()">
                    <i class="fa fa-plus"></i>
                    增加
                </button>
                <button class="btn btn-primary btn-sm" ng-click="onEdit()" ng-disabled="checkStatus(gridApi,'','',true)">
                    <i class="fa fa-edit"></i>
                    修改
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="box-tree">
                            <abn-tree tree-data="orgTreeData" on-select="selectItem(branch)" expand-level="2" icon-leaf="ti-file" icon-expand="ti-plus" icon-collapse="ti-minus"></abn-tree>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-6">
                <div class="clearfix lr-page-margin" ng-style="getGridHtmlStyle()">
                    <div ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection ui-grid-pinning class="grid" style="min-height: 100%"></div>
                </div>
            </div>
        </div>

    </div>
</div>