<form class="form-horizontal" name="appForm" verify-scope="tipStyle: 1" ng-if="form">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn btn-azure" type="button" ng-click="onSave()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-if="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>
            <button class="btn btn-azure" ng-click="onCancel()" ng-if="!isGrid&&isEdit">
                <i class="fa fa-undo"></i>
                <span>取消</span>
            </button>
            <button class="btn btn-azure" ng-click="onSubmit()" ng-if="!isEdit&&(VO.billstatus==31||VO.billstatus==36)">
                <i class="ti-save"></i>
                <span>提交</span>
            </button>
            <button class="btn btn-azure" ng-click="onAudit()" ng-if="!isEdit&&(VO.billstatus==33||VO.billstatus==32)">
                <i class="ti-check"></i>
                <span>审核</span>
            </button>
            <button class="btn btn-azure" ng-click="onRecall()" ng-if="!isEdit&&(VO.billstatus==33||VO.billstatus==32)">
                <i class="ti-check"></i>
                <span>撤回</span>
            </button>
            <button class="btn btn-azure" ng-click="onLinkAuditFlow()" ng-if="!isEdit">
                <i class="ti-share-alt"></i>
                <span>查看流程图</span>
            </button>
            <button class="btn btn-azure ng-scope" ng-click="onAdd()" ng-disabled="null" ng-if="!isEdit&&(VO.billstatus==31||VO.billstatus==36||VO.billstatus==37||VO.billstatus==46||VO.billstatus==32)"> <i class="fa fa-plus"></i>增加</button>
            <button class="btn btn-azure" ng-click="onEdit()" ng-if="!isEdit&&(VO.billstatus==31||VO.billstatus==36||VO.billstatus==37)">
                <i class="fa fa-edit"></i>
                <span>修改</span>
            </button>
            <button class="btn btn-azure" ng-click="onBack()" ng-if="!isBack">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
            <button class="btn btn-azure" ng-click="onTemporary(VO)" ng-show="!isGrid&&isEdit">
            <i class="fa fa-save"></i>
            <span>暂存</span>
            </button>
        </div>
    </div>
    <div class="lr-contant">
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label">立项编号：</label>
                <div class="col-md-7" style="padding-right : 21px">
                    <input class="form-control" ng-disabled="true" ng-verify="{ required: false,max:50}" type="text" ng-model="VO.cprocode">
                </div>
            </div>
            <div class="col-md-4" ng-show="false">
                <label class="col-md-5 control-label ">业务类型：</label>
                <div class="col-md-7">
                    <input class="form-control"  ng-disabled="true" type="text"  ng-model="VO.c2Type" placeholder="0">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label lr-verify">是否为再保险业务：</label>
                <div class="col-md-7">
                    <select class="form-control" ng-disabled="true" ng-verify ng-model="VO.ifReInsurance"
                            required
                            ng-options="item.id as item.name for item in SELECT.YESNONUM">
                        <option value="">--请选择是否为再保险业务--</option>
                    </select>
                </div>
            </div>
        </div>
        <accordion class="" close-others="oneAtATime">
            <accordion-group is-open="true" class="lr-page-bg-gray">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo">
                        <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                        <span class="lr-page-color">客户信息</span>
                    </div>
                    <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">立项对象类型：</label>
                        <div class="col-md-7">
                            <select class="form-control" ng-disabled="isDisabled&&isContinue" ng-verify
                                    ng-model="VO.customerType"
                                    required
                                    ng-options="item.id as item.name for item in SELECT.PROJECTCUSTOMERTYPE">
                                <option value="">--请选择立项对象类型--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">客户名称：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="isDisabled&&isContinue" ng-verify="{ required: false}" ui-popup-ref
                                   url="'customerRef/queryForGrid'" ng-click="" popup-model="VO"
                                   popup-model-field="'cinsureman'" popup-model-value="param"
                                   ng-verify
                                   ng-model="VO.cinsureman.name" type="text" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">客户编号：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text" ng-verify="{ required: false,max:20}" ng-model="VO.cinsureman.code">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">行业类别：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-verify="{ required: false,max:20}" ng-disabled="true"
                                   ng-model="VO.cinsureman.tradetype_name" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">单位性质：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" ng-model="VO.cinsureman.enumEntkind_name"
                                   type="text">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="col-md-5 control-label">客户所在区域：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" ng-model="VO.cinsureman.c_1_Province_name"
                                   type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">员工数量范围：</label>
                        <div class="col-md-7">
                            <select class="form-control" ng-disabled="isDisabled&&isContinue" ng-model="VO.lifeStaffcountScope"
                                    required
                                    ng-options="item.id as item.name for item in SELECT.PERSONCOUNTTYPE">
                                <option value="">--请选择员工数量范围--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">社会保险情况：</label>
                        <div class="col-md-7">
                            <select class="form-control" ng-disabled="isDisabled&&isContinue" ng-model="VO.societyInsure"
                                    required
                                    ng-options="item.id as item.name for item in SELECT.CASETYPE">
                                <option value="">--请选择社会保险情况--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">商业保险投保：</label>
                        <div class="col-md-7">
                            <select class="form-control" ng-disabled="isDisabled&&isContinue"
                                    ng-model="VO.enumLifeBusinessInsure"
                                    required
                                    ng-options="item.id as item.name for item in SELECT.CASETYPE">
                                <option value="">--请选择商业保险投保--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-md-255 control-label ">客户简介：</label>
                        <div class="col-md-254">
                        <textarea class="form-control" style="resize:none" ng-verify="{ required:false, max:2048}" ng-disabled="isDisabled&&isContinue" type="text"
                                  ng-model="VO.customerMemo"></textarea>
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>

        <accordion class="" close-others="oneAtATime">
            <accordion-group is-open="true" class="lr-page-bg-gray">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo">
                        <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                        <span class="lr-page-color">项目信息</span>
                    </div>
                    <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>

                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">立项名称：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="isDisabled&&isContinue" type="text"  ng-verify="{ max:50}" placeholder="长度限制为40个字"
                                   ng-model="VO.cproname">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">项目所在区域：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="isDisabled&&isContinue" ui-popup-ref
                                   url="'deptTreeRef/queryForGridForm'" ng-click="" popup-model="VO"
                                   popup-model-field="'c1Province'" popup-model-value="param"
                                   ng-verify
                                   is-tree="true"
                                   ng-model="VO.c1Province.name " type="text" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">项目地址：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="isDisabled" type="text" ng-verify maxlength="100" ng-model="VO.cproaddress">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">客户产权关系：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="isDisabled&&isContinue" ui-popup-ref ng-verify="{ required: false,max:20}"
                                   url="'projectKindTreeRef/queryForGrid'" ng-click="" popup-model="VO"
                                   popup-model-field="'pkC0Tradetype'" popup-model-value="param"
                                   ng-verify
                                   is-tree="true"
                                   ng-model="VO.pkC0Tradetype.name" type="text" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">业务分类：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="isDisabled&&isContinue" ui-popup-ref
                                   url="'busiType/queryForGrid'" ng-click="" popup-model="VO"
                                   popup-model-field="'busi_type'" popup-model-value="VO.pkC0Tradetype"
                                   ng-verify
                                   is-tree="true"
                                   ng-model="VO.busi_type.name" type="text" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">业务分类（详细）：</label>
                        <div class="col-md-7">
                            <span class="fontStyle" style="width:1000px;">{{VO.busiTypeDetailed}}</span>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">签单方式：</label>
                        <div class="col-md-7">
                            <!-- ||isBlanketType -->
                            <select class="form-control" ng-disabled="isDisabled" ng-model="VO.blanketType"
                                    ng-options="item.id as item.name for item in SELECT.BLANKETTYPE">
                                <option value="">--请选择签单方式--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">协作类型：</label>
                        <div class="col-md-7">
                            <select class="form-control" ng-disabled="isDisabled" ng-verify="required: {{!isCooperationType}}" ng-model="VO.cooperationType"
                                    required
                                    ng-options="item.id as item.name for item in SELECT.COOPERATIONTYPE">
                                <option value="">--请选择协作类型--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">资产规模(万元)：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="isDisabled&&isContinue"
                                   type="text" format-number ng-verify
                                   ng-model="VO.f1Assets">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">控股方：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="isDisabled&&isContinue" type="text" ng-verify="{ required: false,max:256}" ng-verify
                                   ng-model="VO.propertyHoldshare">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">合作中介情况：</label>
                        <div class="col-md-7">
                            <select class="form-control" ng-disabled="isDisabled&&isContinue" ng-verify
                                    ng-model="VO.enumCoomedium"
                                    required
                                    ng-options="item.id as item.name for item in SELECT.CASETYPE">
                                <option value="">--请选择合作中介情况--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">预计业务收入(元)：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="isDisabled&&isContinue" format-number type="text" ng-verify ng-verify="{ required: false,max:20}"
                                   ng-model="VO.festimateincome">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">预计业务开发成功时间：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="isDisabled&&isContinue" type="text" wdate-picker ng-verify onChange="" onclick="WdatePicker({minDate: '%y-%M-#{%d}'})" ng-if="VO.billstatus==31||VO.billstatus==37"
                                                       ng-model="VO.planSucceedDate">

                            <input class="form-control" ng-disabled="isDisabled&&isContinue"  type="text" wdate-picker ng-verify onChange="" onclick="WdatePicker({minDate:'#F{$dp.$D(\'date0417\')}',dateFmt:'yyyy-MM-dd'})" ng-if="VO.billstatus==36"
                                   ng-model="VO.planSucceedDate">

                            <input ng-value="VO.operateDate | date_cell_date" id="date0417" ng-show="false">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">业务风险综合评价：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="isDisabled&&isContinue" type="text" ng-verify
                                   ng-model="VO.riskAssess">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">提供服务的内容：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="isDisabled&&isContinue" type="text" ng-verify
                                   ng-model="VO.serveContentType">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label lr-verify">项目周期(月)：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="isDisabled&&isContinue"  ng-verify="{ required: false,max:128}" type="text" ng-verify onKeyUp="value=value.replace(/[^\d]/g,'')"
                                  placeholder="只能输入纯数字" ng-model="VO.cperiod_new">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">立项性质：</label>
                        <div class="col-md-7">
                            <select class="form-control" ng-disabled="true" ng-model="VO.isContinue"
                                    required
                                    ng-options="item.id as item.name for item in SELECT.PROJECTPROPERTIESTYPE">
                                <option value="">--请选择立项性质--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">项目终结原因：</label>
                        <div class="col-md-7">
                            <select class="form-control" ng-disabled="true" ng-model="VO.ceaseReason"
                                    required
                                    ng-options="item.id as item.name for item in SELECT.CEASEREASONTYPE">
                                <option value="">--请选择项目终结原因--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 20px">
                    <div class="col-md-12">
                        <label class="col-md-255 control-label">客户意向及需求：</label>
                        <div class="col-md-254">
                            <div simditor ng-disabled="isDisabled&&isContinue" toolbar="[]" type="text" ng-model="VO.customerDemand"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-md-255 control-label lr-verify">项目简介：</label>
                        <div class="col-md-254">
                            <div simditor toolbar="[]"  type="text" ng-model="VO.assess"  ng-disabled="isDisabled&&isContinue"  ></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">是否投标：</label>
                        <div class="col-md-7">
                            <select class="form-control" ng-disabled="isDisabled&&isContinue" ng-verify="{ required: false,max:1}" ng-model="VO.ifBid"
                                    required
                                    ng-options="item.id as item.name for item in SELECT.YESNO">
                                <option value="">--请选择是否投标--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-md-255 control-label">投标业务需总部配合准备资料：</label>
                        <div class="col-md-254">
                            <div simditor ng-disabled="false" toolbar="[]" type="text" ng-model="VO.tenderInformation"></div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-md-255 control-label">最终批复意见：</label>
                        <div class="col-md-254">
                            <div simditor toolbar="[]" type="text" ng-model="VO.finallyOpinion" ng-disabled="isDisabled&&isContinue" ></div>
                        </div>
                    </div>
                </div>
                <!--<div class="form-group" style="margin-top: 20px">
                 </div>-->
            </accordion-group>
        </accordion>
    </div>
    <div>
        <div class="pull-right lr-mr10 lr-mt10">
            <button class="btn btn-sm btn-info" ng-if="isEdit&&!upOrDown" ng-click="onAddLine();">增行</button>
            <button class="btn btn-sm btn-info" ng-if="isEdit" ng-click="onDeleteLine();">减行</button>
            <button class="btn btn-sm btn-info" ng-click="onDownLoads();" ng-if="upOrDown">下载</button>
            <button class="btn btn-sm btn-info" ng-click="onUploads();" ng-if="upOrDown">上传</button>
        </div>
        <tabset justified="false">
            <tab index="1" heading="立项险种" select="selectTab('costscaleGridOptions')">
                <div ui-grid="costscaleGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize
                     ui-grid-resize-columns class="grid" style="height: 200px"></div>
            </tab>
            <tab index="2" heading="合作中介信息" select="selectTab('coomediumGridOptions')">
                <div ui-grid="coomediumGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize
                     ui-grid-resize-columns class="grid" style="height: 200px"></div>
            </tab>
            <tab index="3" heading="人才支持" select="selectTab('expertinfoGridOptions')">
                <div ui-grid="expertinfoGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize
                     ui-grid-resize-columns class="grid" style="height: 200px"></div>
            </tab>
            <tab index="4" heading="附件" select="selectTab('dealAttachmentBGridOptions')">
                <div ui-grid="dealAttachmentBGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize
                     ui-grid-resize-columns class="grid" style="height: 200px"></div>
            </tab>
        </tabset>
    </div>
    <accordion class="" close-others="oneAtATime">
        <accordion-group is-open="false" class="lr-page-bg-gray">
            <accordion-heading class="lr-page-bg-white">
                <div class="btn lr-page-bg-indigo">
                    <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                    <span class="lr-page-color" ng-bind="getDisName('操作信息','')"></span>
                </div>
                <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                   ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-5 control-label">单据状态：</label>
                    <div class="col-md-7">
                        {{VO.billstatus | SELECT_BILLSTATUS}}
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">经办人：</label>
                    <div class="col-md-7">
                        {{VO.pkOperator.name}}
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">业务单位：</label>
                    <div class="col-md-7">
                        {{VO.pkOrg.name}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-5 control-label">制单日期：</label>
                    <div class="col-md-7">
                        {{VO.operateDate | date_cell_date}}
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>
</form>
