<form class="form-horizontal" ng-if="card" xmlns="http://www.w3.org/1999/html">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn btn-azure" type="button" ng-click="onSave()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-if="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>
            <button class="btn btn-azure" ng-click="onCancel()" ng-if="!isGrid&&isEdit">
                <i class="fa fa-undo"></i>
                <span>取消</span>
            </button>
            <button class="btn btn-azure" ng-click="onSubmit()" ng-if="!isEdit&&(VO.billstatus==31||VO.billstatus==36)">
                <i class="ti-save"></i>
                <span>提交</span>
            </button>
            <button class="btn btn-azure" ng-click="onAudit()" ng-if="!isEdit&&(VO.billstatus==33||VO.billstatus==32)">
                <i class="ti-check"></i>
                <span>审核</span>
            </button>
            <!--<button class="btn btn-azure" ng-click="onRecall()" ng-if="!isEdit&&(VO.billstatus==33||VO.billstatus==32)">-->
                <!--<i class="ti-check"></i>-->
                <!--<span>撤回</span>-->
            <!--</button>-->
            <button class="btn btn-azure" ng-click="onLinkAuditFlow()" ng-if="!isEdit">
                <i class="ti-share-alt"></i>
                <span>查看流程图</span>
            </button>
            <!--<button class="btn btn-azure" ng-click="onEdit()" ng-if="!isEdit&&(VO.billstatus==31||VO.billstatus==36)">-->
            <!--<i class="fa fa-edit"></i>-->
            <!--<span>修改</span>-->
            <!--</button>-->
            <button class="btn btn-azure" ng-click="onBack()" ng-if="isBack">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
            <button class="btn btn-azure" ng-click="onTemporary(VO)" ng-show="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>暂存</span>
            </button>
        </div>
    </div>
    <div class="main-div">
        <div class="col-md-12 title">
            <h4>{{VO.cproname}}</h4>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span class="{{VO.billstatus == 34?'span-background-tg':VO.billstatus == 33?'span-background-shz':VO.billstatus == 37?'span-background-zc':VO.billstatus == 36?'span-background-bh':'' }}">{{VO.billstatus | SELECT_BILLSTATUS}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 title">
            <fieldset>
                <legend>
                    详细信息
                </legend>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>立项编号：</span><span class="fontStyle">{{VO.cprocode}}</span>
                </div>
                <div class="col-md-4">
                    <span>业务类型：</span><span class="fontStyle">{{VO.c2Type | SELECT_MARKETTYPE}}</span>
                </div>
                <div class="col-md-4">
                    <span>立项性质：</span><span class="fontStyle">{{VO.isContinue | SELECT_PROJECTPROPERTIESTYPE}}</span>
                </div>

            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>业务分类：</span><span class="fontStyle">{{VO.busiTypeDetailed}}/{{VO.busi_type.name}}</span>
                </div>
                <div class="col-md-4">
                    <span>客户产权关系：</span><span class="fontStyle">{{VO.pkC0Tradetype.name}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <!--<div class="col-md-4">-->
                    <!--<span>2018计划值：</span><span class="fontStyle">{{VO.temporaryPlan | SELECT_TEMPORARY_PLAN}}</span>-->
                <!--</div>-->
                <div class="col-md-4">
                    <span>立项对象类型：</span><span class="fontStyle">{{VO.customerType | SELECT_PROJECTCUSTOMERTYPE}}</span>
                </div>
                <div class="col-md-4">
                    <span>签单方式：</span><span class="fontStyle">{{VO.blanketType | SELECT_BLANKETTYPE}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>项目所在区域：</span><span class="fontStyle">{{VO.c1Province.name}}</span>
                </div>
                <div class="col-md-4">
                    <span>项目地址：</span><span class="fontStyle">{{VO.cproaddress}}</span>
                </div>
                <div class="col-md-4">
                    <span>项目周期(月)：</span><span class="fontStyle">{{VO.cperiod_new}}</span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-4">
                    <span>客户编号：</span><span class="fontStyle">{{VO.cinsureman.code}}</span>
                </div>
                <div class="col-md-4">
                    <span>客户名称：</span><span class="fontStyle">{{VO.cinsureman.name}}</span>
                </div>
                <div class="col-md-4">
                    <span>行业类别：</span><span class="fontStyle">{{VO.cinsureman.tradetype_name}}</span>
                </div>

            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>客户所在区域：</span><span class="fontStyle">{{VO.cinsureman.c_1_Province_name}}</span>
                </div>
                <div class="col-md-4">
                    <span>是否为再保险业务：</span><span class="fontStyle">{{VO.ifReInsurance | SELECT_YESNONUM}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>单位性质：</span><span class="fontStyle">{{VO.cinsureman.enumEntkind_name}}</span>
                </div>
                <div class="col-md-4">
                    <span>资产规模(万元)：</span><span class="fontStyle">{{VO.f1Assets}}</span>
                </div>
                <div class="col-md-4">
                    <span>控股方：</span><span class="fontStyle">{{VO.propertyHoldshare}}</span>
                </div>

            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>员工数量范围：</span><span
                        class="fontStyle">{{VO.lifeStaffcountScope | SELECT_PERSONCOUNTTYPE}}</span>
                </div>
                <div class="col-md-4">
                    <span>社会保险情况：</span><span class="fontStyle">{{VO.societyInsure | SELECT_CASETYPE}}</span>
                </div>
                <div class="col-md-4">
                    <span>商业保险投保：</span><span class="fontStyle">{{VO.enumLifeBusinessInsure | SELECT_CASETYPE}}</span>
                </div>

            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>是否投标：</span><span class="fontStyle">{{VO.ifBid | SELECT_YESNO}}</span>
                </div>
                <div class="col-md-4">
                    <span>协作类型：</span><span class="fontStyle">{{VO.cooperationType | SELECT_COOPERATIONTYPE}}</span>
                </div>
                <div class="col-md-4">
                    <span>合作中介情况：</span><span class="fontStyle">{{VO.enumCoomedium | SELECT_CASETYPE}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>预计业务收入(元)：</span><span class="fontStyle">{{VO.festimateincome}}</span>
                </div>
                <div class="col-md-4">
                    <span>预计业务开发成功时间：</span><span class="fontStyle">{{VO.planSucceedDate | date_cell_date}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>业务风险综合评价：</span><span class="fontStyle">{{VO.riskAssess}}</span>
                </div>
                <div class="col-md-4">
                    <span>提供服务的内容：</span><span class="fontStyle">{{VO.serveContentType}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <span>客户意向及需求：</span>
                    <p word-break="keep-all" class="fontStyle" ng-bind-html="VO.customerDemand | ntobr|trustHtml"></p>
                </div>
            </div>
        </fieldset>
            <div class="col-md-12">
                <div class="col-md-12">
                    <fieldset>
                        <legend>
                            项目简介
                        </legend>

                    <p word-break="keep-all" class="fontStyle" ng-bind-html="VO.assess | ntobr|trustHtml"></p>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-12">

                <div class="col-md-12">
                    <fieldset>
                        <legend>
                            客户简介
                        </legend>

                    <p word-break="keep-all" class="fontStyle" ng-bind-html="VO.customerMemo | ntobr|trustHtml"></p>
                    </fieldset>
                </div>

            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <fieldset>
                        <legend>
                            投标业务需总部配合准备资料
                        </legend>
                    <p word-break="keep-all" class="fontStyle" ng-bind-html="VO.tenderInformation | ntobr|trustHtml"></p>
               </fieldset>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <fieldset>
                        <legend>
                            最终批复意见
                        </legend>

                    <p word-break="keep-all" class="fontStyle" ng-bind-html="VO.finallyOpinion | ntobr|trustHtml"></p>
                    </fieldset>
                </div>
            </div>
            <fieldset>
            <legend>
                项目终结原因
            </legend>

            <div class="col-md-12">

                <div class="col-md-4">

                        <span class="fontStyle">{{VO.ceaseReason | SELECT_CEASEREASONTYPE}}</span>
                </div>

            </div>
            <div class="col-md-12">

                <div class="col-md-4">
                    <span>发起人：</span><span class="fontStyle">{{VO.pkOperator.name}}</span>
                </div>
                <div class="col-md-4">
                    <span>制单时间：</span><span class="fontStyle">{{VO.operateTime}}</span>
                </div>
                <div class="col-md-4">
                    <span>业务部门：</span><span class="fontStyle">{{VO.pkOrg.name}}-{{VO.pkDept.name}}</span>
                </div>
            </div>
            </fieldset>
           <!-- <div class="col-md-12 card-grid">
                <div>
                    <div class="pull-right lr-mr10 lr-mt10">
                        <button class="btn btn-sm btn-info" ng-click="onDownLoads();" ng-show="upOrDown">批量下载</button>
                    </div>
                    <tabset justified="false">
                        <tab index="1" heading="立项险种" select="selectTab('costscaleGridOptions')">
                            <div ui-grid="costscaleGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                                 class="grid" style="height: 200px"></div>
                        </tab>
                        <tab index="2" heading="合作中介信息" select="selectTab('coomediumGridOptions')">
                            <div ui-grid="coomediumGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                                 class="grid" style="height: 200px"></div>
                        </tab>
                        <tab index="3" heading="人才支持" select="selectTab('expertinfoGridOptions')">
                            <div ui-grid="expertinfoGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                                 class="grid" style="height: 200px"></div>
                        </tab>
                        <tab index="40" heading="附件信息" select="selectTab('dealAttachmentBGridOptions')">
                            <div ui-grid="dealAttachmentBGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                                 ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>-->
        <div class="col-md-12">
            <fieldset>
                <legend>
                    立项险种
                </legend>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="info">
                            <th class="center">推荐险种</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in VO.costscale">
                            <td>{{item.pkCommendinsure.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div class="col-md-12">
            <fieldset>
                <legend>
                    合同中介信息
                </legend>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="info">
                            <th class="center">合同中介名称</th>
                            <th class="center">委托中介类型</th>
                            <th class="center">备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in VO.coomedium">
                            <td>{{item.mediumName}}</td>
                            <td>{{item.enumBailmedium}}</td>
                            <td>{{item.compan.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div class="col-md-12">
            <fieldset>
                <legend>
                    人才支持
                </legend>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="info">
                            <th class="center">专家姓名</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in VO.expertinfo">
                            <td>{{item.expertname.name}}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <fieldset>
            <legend>
                附件
            </legend>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="info">
                        <th class="center">附件名称</th>
                        <th class="center">上载人</th>
                        <th class="center">上载时间</th>
                        <th class="center">下载</th>
                        <th class="center">在线预览</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in VO.dealAttachmentB">
                        <td>{{item.attachment_name}}</td>
                        <td>{{item.upload_operator.name}}</td>
                        <td>{{item.cUpdate}}</td>
                        <td>
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a href="#" ng-click="onDownLoadsCard(item.pk_project_id)"
                                   class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="下载" style="color: #af2b27"><i
                                        class="fa fa-download"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a href="#" ng-click="onPreviewFile(item.pk_project_id,item.attachment_name)"
                                   class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="在线预览"><i
                                        class="fa fa-eye"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
        <div class="col-md-12 font-style-audit-title title" ng-show="mess">
            <fieldset>
                <legend>
                    审批意见
                </legend>


                <div ng-repeat="item in VO.taskHis" style="color: black;border-bottom:1px solid 	#C0C0C0">
                <p><span><b>{{item.operate_name}}: </b></span><span ng-bind-html="item.pk_process.name"></span></p>
                <p>{{item.opinion}}</p>
                <p style="text-align: right">{{item.process_time}}</p>
            </div>
                </fieldset>
        </div>
    </div>

</form>
