<div class="main-form-style" ng-controller="agentClearingBCtrl">
    <div class="form-horizontal">
        <accordion>
            <accordion-group is-open="status.open" class="lr-page-bg-gray" grid-button="true">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo" ng-click="changeOpen();">
                        <i class="fa fa-search lr-page-color" aria-hidden="true"></i>
                        <span class="lr-page-color">查询条件</span>
                    </div>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button class="btn lr-main-btn" ng-click="onQueryChildren();">
                                <i class="fa fa-search"></i>
                                <span>查询</span>
                            </button>
                            <button class="btn lr-main-btn" ng-click="onResetChildren();">
                                <i class="fa fa-undo"></i>
                                <span>重置</span>
                            </button>
                        </div>
                    </div>
                </accordion-heading>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-md-6 control-label">保（批）单号</label>
                            <div class="col-md-6">
                                <input class="form-control" type="text" ng-model="QUERYCHILDREN.sourceBillCode" placeholder="支持多个查询，请用英文字符','隔开">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-6 control-label">保（批）单信息编号</label>
                            <div class="col-md-6">
                                <input class="form-control" type="text" ng-model="QUERYCHILDREN.insuranceinfono" placeholder="支持多个查询，请用英文字符','隔开">
                            </div>
                        </div>
<!--                        <div class="col-md-6">-->
<!--                            <label class="col-md-6 control-label">来源类型</label>-->
<!--                            <div class="col-md-6">-->
<!--                                <select class="form-control" ng-verify ng-model="QUERYCHILDREN.sourceBillType"-->
<!--                                        required-->
<!--                                        ng-options="item.id as item.name for item in SELECT.TYPEBUSINESS">-->
<!--                                    <option value="">&#45;&#45;请选择来源类型&#45;&#45;</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-6">-->
<!--                            <label class="col-md-6 control-label">业务单位名称</label>-->
<!--                            <div class="col-md-6">-->
<!--                                <input class="form-control" ui-popup-ref-->
<!--                                       url="'orgRef/queryForGrid'" popup-model="QUERYCHILDREN"-->
<!--                                       popup-model-field="'pkOrg'"-->
<!--                                       ng-model="QUERYCHILDREN.pkOrg.name" type="text" placeholder="">-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-md-6 control-label">手续费金额</label>
                            <div class="col-md-6">
                                <input class="form-control" type="number" ng-model="QUERYCHILDREN.planServiceCharge">
                            </div>
                        </div>
                    </div>
                </form>
            </accordion-group>
        </accordion>
    </div>
    <div class="form-horizontal" style="background: #fff; padding: 10px;">
        <div ui-grid="clearingBGridOptions" ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height:300px"></div>
    </div>
    <div class="pull-right">
        <button ng-click="onSave()" style="margin-right: 10px;" class="btn btn-sm btn-info">确定</button>
        <button ng-click="onCancel()" style="margin-right: 10px;" class="btn btn-sm btn-info">返回</button>
    </div>
    <div style="clear: both"></div>
</div>

