<form class="form-horizontal" name="appForm" verify-scope="tipStyle: 1" ng-if="form">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn btn-azure" type="button" ng-click="onSendVoucher()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-if="!isGrid&&isEdit&&isSendVoucher()">
                <i class="fa fa-save"></i>
                <span>发送凭证</span>
            </button>
            <button class="btn btn-azure" ng-click="onCancel()" ng-if="!isGrid&&isEdit">
                <i class="fa fa-undo"></i>
                <span>取消</span>
            </button>
            <button class="btn btn-azure" ng-click="onBack()">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
        </div>
    </div>
    <div>
        <accordion class="" close-others="oneAtATime">
            <accordion-group is-open="true" class="lr-page-bg-gray">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo">
                        <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                        <span class="lr-page-color">基本信息</span>
                    </div>
                    <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">业务结算编号：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text" ng-model="VO.vbillno">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">应收保费总额(元)：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text" ng-model="VO.sumReceivemount">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">解付保费总额(元)：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text" ng-model="VO.sumPaymount">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">应收佣金总额(元)：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text" ng-model="VO.sumReceivefeemount">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">应收咨询费总额(元)：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text" ng-model="VO.sumConsult">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">应收公估费总额(元)：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text" ng-model="VO.sumEvaluationfee">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">成本中心：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="isDisabled" ui-popup-ref="caibSapCostCenterRef"
                                   url="'caibSapCostCenterRef/queryForGrid'" ng-click="" popup-model="VO"
                                   popup-model-field="'sapCenter'"
                                   ng-model="VO.sapCenter.NAME" type="text" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">SAP 凭证状态：</label>
                        <div class="col-md-7">
                            <select class="form-control" ng-model="VO.sapCustomernCode" ng-disabled="true"
                                    ng-options="item.id as item.name for item in SELECT.SAPTYPE">
                                <option value="">--请选择SAP 凭证状态--</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4" ng-if="QUERY.clearingAuditSource != 2">
                        <label class="col-md-5 control-label">是否旅游业务预存：</label>
                        <div class="col-md-7">
                            <select class="form-control" ng-disabled="true" ng-model="VO.ifEpay"
                                    ng-options="item.id as item.name for item in SELECT.YESNO">
                                <option value="">--请选择是否旅游业务预存--</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-4" ng-if="VO.sumReceivefeemount != null && VO.sumReceivefeemount != 0">
                        <label class="col-md-5 control-label">税率：</label>
                        <div class="col-md-7">
                            <select class="form-control" ng-model="VO.rate" ng-disabled="isDisabled"
                                    ng-options="item.id as item.name for item in SELECT.TAX_RATE">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4" ng-if="QUERY.clearingAuditSource == 2 && VO.rechargeType != null && VO.rechargeType ==2">
                        <label class="col-md-5 control-label">保险公司：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="isDisabled" ui-popup-ref="caibSapCostCenterRef"
                                   url="'sapCustomerRef/queryForGrid'" ng-click="" popup-model="VO"
                                   popup-model-field="'sapCustomerCode'"
                                   ng-model="VO.sapCustomerCode.NAME" type="text" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-4" ng-if="VO.isRelife!='Y'&&QUERY.clearingAuditSource != 2 && VO.ifEpay == 'Y'">
                        <label class="col-md-5 control-label">往来对象名称：</label>
                        <div class="col-md-7">
                            <input class="form-control" ui-popup-ref="factCustomerRef" ng-disabled="VO.ifEpay=='N'||isDisabled"
                                   url="'sapCustomerRef/queryForGrid'" ng-click="" popup-model="VO"
                                   popup-model-field="'factCustomer'"
                                   ng-model="VO.factCustomer.NAME" type="text" placeholder="" style="display: inline-block;width: 200px">
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="VO.currency && VO.currency!='CNY'">
                    <div class="col-md-4" ng-if="VO.inoutType==1">
                        <label class="col-md-5 control-label">结算币种：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text" placeholder="" style="display: inline-block" value="人民币">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label" ng-if="VO.currency!='CNY'&&VO.replace=='N'">
                            {{VO.currency | SELECT_CURRENCY}}兑换人民币汇率：
                        </label>
                        <label class="col-md-5 control-label" ng-if="!(VO.inoutType==3&&VO.currency!='CNY'&&VO.currency!='USD'&&VO.replace=='N')">
                            美元兑换人民币汇率：
                        </label>
                        <div class="col-md-7">
                            <input type="text" ng-model="VO.againRateCNY" ng-blur="childTableValueChanged()" touchspin data-verticalbuttons="false"
                                   data-min="0.0001" data-max="1000000" data-decimals="4" data-step="0.0001" ng-disabled="true"
                                   class="form-control" style="display: block;">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-5 control-label">录单币种：</label>
                        <div class="col-md-7">
                            <select class="form-control" ng-disabled="true" ng-model="VO.currency"
                                    ng-options="item.id as item.name for item in SELECT.CURRENCY">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4" ng-if="VO.inoutType==1">
                        <label class="col-md-5 control-label">应收保费总额({{VO.currency | SELECT_CURRENCY}})：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text" ng-model="VO.sumReceivemountOld">
                        </div>
                    </div>
                    <div class="col-md-4" ng-if="VO.inoutType==2">
                        <label class="col-md-5 control-label">解付保费总额({{VO.currency | SELECT_CURRENCY}})：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text" ng-model="VO.sumPaymountOld">
                        </div>
                    </div>
                    <div class="col-md-4" ng-if="VO.inoutType==3">
                        <label class="col-md-5 control-label">应收佣金总额({{VO.currency | SELECT_CURRENCY}})：</label>
                        <div class="col-md-7">
                            <input class="form-control" ng-disabled="true" type="text" ng-model="VO.sumReceivefeemountOld">
                        </div>
                    </div>
                    <div class="col-md-4" ng-if="VO.inoutType==3&&VO.currency!='CNY'&&VO.currency!='USD'">
                        <label class="col-md-5 control-label">是否代收代付：</label>
                        <div class="col-md-7">
                            <select ng-disabled="true" class="form-control" ng-model="VO.replace"
                                    ng-options="item.id as item.name for item in SELECT.YESNO">
                            </select>
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div>
        <accordion class="" close-others="oneAtATime" ng-if="showSubscription==true&&(VO.currency=='CNY'||!VO.currency)">
            <accordion-group is-open="true" class="lr-page-bg-gray">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo">
                        <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                        <span class="lr-page-color">到账信息</span>
                    </div>
                    <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <div>
                    <tabset justified="false">
                        <tab index="1" heading="到账信息" select="selectTab('clearingGridOptions')">
                            <div ui-grid="clearingGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                                 ui-grid-auto-resize
                                 ui-grid-resize-columns class="grid" style="height: 200px"></div>
                        </tab>
                    </tabset>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div>
        <!--        <div class="pull-right lr-mr10 lr-mt10">-->
        <!--            <button class="btn btn-sm btn-info" ng-show="isEdit" ng-click="onAddLine();">增行</button>-->
        <!--            <button class="btn btn-sm btn-info" ng-show="isEdit" ng-click="onDeleteLine();">减行</button>-->
        <!--        </div>-->
        <tabset justified="false">
            <tab index="1" heading="结算子表" select="selectTab('clearingBGridOptions')">
                <div ui-grid="clearingBGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize
                     ui-grid-resize-columns class="grid" style="height: 200px"></div>
            </tab>
        </tabset>
    </div>
    <div ng-if="VO.productType==0" style="padding: 10px;width: 45%">
        <div ui-grid="feeGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize
             ui-grid-resize-columns class="grid" style="height: 130px"></div>
    </div>
    <accordion class="" close-others="oneAtATime">
        <accordion-group is-open="false" class="lr-page-bg-gray">
            <accordion-heading class="lr-page-bg-white">
                <div class="btn lr-page-bg-indigo">
                    <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                    <span class="lr-page-color" ng-bind="getDisName('操作信息','')"></span>
                </div>
                <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                   ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-5 control-label">单据状态：</label>
                    <div class="col-md-7 div-cao-zuo">
                        {{VO.billstatus}}
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">经办人：</label>
                    <div class="col-md-7 div-cao-zuo">
                        {{VO.pkOperator.name}}
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">制单日期：</label>
                    <div class="col-md-7 div-cao-zuo">
                        {{VO.operateDate}}
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>
</form>
