<!--附件公共界面-->
<div class="main-form-style" ng-controller="consultVOGridOptionsCtrl">
    <div class="form-horizontal" style="background: #fff; padding: 10px;">
        <accordion class="" close-others="oneAtATime">
            <div ng-init="status={open:true}"></div>
            <accordion-group is-open="status.open">
                <accordion-heading>
                    咨询费管理 <i class="pull-right glyphicon"
                            ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <div class="panel-body">
                    <form name="form">
                                <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">合同建立部门：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="consultVO.builddept">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">合同号：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="consultVO.consultinfo">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">咨询类别：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="consultVO.typeconsultNO">
                                            </div>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">合同起始日期：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="consultVO.newdate">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">合同结束日期：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="consultVO.enddate">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">应收合同费总期数：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="consultVO.consultperiod">
                                            </div>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">咨询费总额：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="consultVO.ctotal">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">未收咨询费总额：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="consultVO.unpayconsulttotal">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">V单据状态：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="consultVO.vbillstatus">
                                            </div>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">单据状态：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="consultVO.billstatus">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">经办人：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="consultVO.pkOperator">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">制单日期：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="consultVO.operateDate">
                                            </div>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">制单时间：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="consultVO.operateTime">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">业务单位：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="consultVO.pkOrg">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-5 control-label">部门：</label>
                                            <div class="col-md-7">
                                                <input class="form-control" ng-disabled="isDisabled" type="text"
                                                       ng-model="consultVO.pkDept">
                                            </div>
                                        </div>
                                </div>
                    </form>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div class="pull-right">
        <button ng-click="onSave()"  style="margin-right: 10px;"class="btn btn-sm btn-info" >确定</button>
        <button ng-click="onCancel()" style="margin-right: 10px;"class="btn btn-sm btn-info" >返回</button>
    </div>
    <div style="clear: both"></div>
</div>
