<form class="form-horizontal" ng-if="card">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn btn-azure" ng-click="onSubmit()" ng-if="!isEdit&&(VO.billstatus==31||VO.billstatus==36)">
                <i class="ti-save"></i>
                <span>提交</span>
            </button>
            <button class="btn btn-azure" ng-click="onAudit()" ng-if="!isEdit&&(VO.billstatus==33||VO.billstatus==32)">
                <i class="ti-check"></i>
                <span>审核</span>
            </button>
            <!--<button class="btn btn-azure" ng-click="onRecall()" ng-if="!isEdit&&(VO.billstatus==33||VO.billstatus==32)">-->
            <!--<i class="ti-check"></i>-->
            <!--<span>撤回</span>-->
            <!--</button>-->
            <button class="btn btn-azure" ng-click="onLinkAuditFlow()" ng-if="!isEdit">
                <i class="ti-share-alt"></i>
                <span>查看流程图</span>
            </button>
            <button class="btn btn-azure" ng-click="onEdit()" ng-if="!isEdit&&VO.id!=null&&(VO.billstatus==31||VO.billstatus==36||VO.billstatus==37)">
            <i class="fa fa-edit"></i>
            <span>修改</span>
            </button>
            <button class="btn btn-azure" ng-click="onBack()" ng-if="isBack">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
        </div>
    </div>
    <div class="main-div">
        <div class="col-md-12 title">
            <h4>{{VO.approvalName}}</h4>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span class="{{VO.billstatus == 34?'span-background-tg':VO.billstatus == 33?'span-background-shz':VO.billstatus == 37?'span-background-zc':VO.billstatus == 36?'span-background-bh':'' }}">{{VO.billstatus | SELECT_BILLSTATUS}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 title">
            <p style="font-size:20px">详细信息</p>
            <div class="col-md-12">
                <div class="col-md-12">
                    <span>项目背景简述：</span>
                    <p word-break="keep-all" class="fontStyle" ng-bind-html="VO.backgrounds | ntobr|trustHtml"></p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <span>项目内容简述：</span>
                    <p word-break="keep-all" class="fontStyle" ng-bind-html="VO.contexts | ntobr|trustHtml"></p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <span>预期目标与结果：</span>
                    <p word-break="keep-all" class="fontStyle" ng-bind-html="VO.aim | ntobr|trustHtml"></p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>申报金额（万元）：</span><span class="fontStyle">{{VO.amount}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <span>备注：</span>
                    <p word-break="keep-all" class="fontStyle" ng-bind-html="VO.memo | ntobr|trustHtml"></p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>项目类型：</span><span class="fontStyle">{{VO.kindType | SELECT_CONTSULT_TYPE}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>集中申报：</span><span class="fontStyle">{{VO.group| SELECT_YESNO}}</span>
                </div>
                <div class="col-md-4">
                    <span>是否纳入综合计划：</span><span class="fontStyle">{{VO.planed| SELECT_YESNO}}</span>
                </div>
            </div>

            <div class="col-md-12 card-grid">
                <div>
                    <div class="pull-right lr-mr10 lr-mt10">
                        <button class="btn btn-sm btn-info" ng-click="onDownLoads();" ng-show="upOrDown">批量下载</button>
                    </div>
                    <tabset justified="false">
                        <tab index="40" heading="附件信息" select="selectTab('dealAttachmentBGridOptions')">
                            <div ui-grid="dealAttachmentBGridOptions" ui-grid-cellnav ui-grid-selection
                                 ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
        <div class="col-md-12 font-style-audit-title title" ng-show="mess">
            <p class="taskmess">审批信息</p>

            <div ng-repeat="item in VO.taskHis" style="color: black;border-bottom:1px solid 	#C0C0C0">
                <p><span><b>{{item.operate_name}}: </b></span><span ng-bind-html="item.pk_process.name"></span></p>
                <p>{{item.opinion}}</p>
                <p style="text-align: right">{{item.process_time}}</p>
            </div>
        </div>
    </div>
</form>
