<form class="form-horizontal" name="appForm" verify-scope="tipStyle: 1" ng-if="form">
    <div class="lr-toolbar" >
        <div class="btn-group">
            <button class="btn btn-azure" type="button" ng-click="onSave()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-if="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>
            <button class="btn btn-azure" type="button" ng-click="onTemporary(VO)" ng-if="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>暂存</span>
            </button>
            <button class="btn btn-azure" type="button" ng-click="onCancel()" ng-if="!isGrid&&isEdit">
                <i class="fa fa-undo"></i>
                <span>取消</span>
            </button>
            <button class="btn btn-azure" type="button" ng-click="onSubmit()" ng-if="!isEdit&&(VO.billstatus==0||VO.billstatus==36)">
                <i class="ti-save"></i>
                <span>提交</span>
            </button>
            <button class="btn btn-azure" type="button" ng-click="onAudit()" ng-if="!isEdit&&VO.billstatus==40">
                <i class="ti-check"></i>
                <span>审核</span>
            </button>
            <button class="btn btn-azure" type="button" ng-click="onLinkAuditFlow()" ng-if="!isEdit">
                <i class="ti-share-alt"></i>
                <span>查看流程图</span>
            </button>
            <button class="btn btn-azure" type="button" ng-click="onEdit()" ng-if="!isEdit">
                <i class="fa fa-edit"></i>
                <span>修改</span>
            </button>
            <button class="btn btn-azure" type="button" ng-click="onBack()" ng-if="!isBack">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
        </div>
    </div>
    <div class="lr-contant">
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label">客户编号：</label>
                <div class="col-md-7">
                    <input class="form-control" style="margin-left: 8px;"  ng-disabled="true" type="text" ng-model="VO.c0Code">
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="lr-contant">
                <fieldset>
                    <legend>
                        <button  ng-click="Text = !Text" style="border-style: none; background: #ffffff">
                            <span>基本信息</span>
                        </button>
                    </legend>
            <accordion class="" close-others="oneAtATime" ng-if="!Text">
            <accordion-group is-open="true" class="lr-page-bg-gray">
                        <div class="form-group">
                                <div class="col-md-4">
                                    <label class="col-md-5 control-label lr-verify">个人客户名称：</label>
                                <div class="col-md-7">
                                    <input class="form-control" ng-verify="{max:512}" ng-disabled="isDisabled" type="text" ng-model="VO.c0Name">
                                </div>
                                </div>
                                    <div class="col-md-4">
                                        <label class="col-md-5 control-label lr-verify">证件类型：</label>
                                    <div class="col-md-7">
                                        <select class="form-control"  ng-verify ng-disabled="isDisabled" ng-model="VO.enumCerttype"
                                                required
                                                ng-options="item.id as item.name for item in SELECT.CERTCODETYPE">
                                            <option  value="">--请选择证件类型--</option>
                                        </select>
                                    </div>
                                    </div>
                                <div class="col-md-4">
                                    <label class="col-md-5 control-label lr-verify">证件号码：</label>
                                    <div class="col-md-7">
                                        <input class="form-control"   ng-disabled="isDisabled" type="text" ng-model="VO.c1Certcode">
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                                <div class="col-md-4">
                                    <label class="col-md-5 control-label">是否公司员工：</label>
                                <div class="col-md-7">
                                    <select class="form-control" ng-disabled="isDisabled" ng-model="VO.c0Ifele"
                                            required
                                            ng-options="item.id as item.name for item in SELECT.YESNO">
                                        <option value="">--请选择是否公司员工--</option>
                                    </select>
                                </div>
                                </div>
                                    <div class="col-md-4">
                                        <label class="col-md-5 control-label">性别：</label>
                                    <div class="col-md-7">
                                        <select class="form-control" ng-disabled="isDisabled" ng-model="VO.enumSex"
                                                required
                                                ng-options="item.id as item.name for item in SELECT.SEXTYPE">
                                            <option value="">--请选择性别--</option>
                                        </select>
                                    </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-md-5 control-label">出生日期：</label>
                                        <div class="col-md-7">
                                            <input class="form-control" ng-disabled="isDisabled" type="text" wdate-picker ng-model="VO.c1Birthday">
                                        </div>
                                    </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-5 control-label">联系地址：</label>
                            <div class="col-md-7">
                                <input class="form-control" ng-disabled="isDisabled" type="text" ng-verify="{ required: false,max:300}" ng-model="VO.c0Address">
                            </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-5 control-label">联系电话：</label>
                            <div class="col-md-7">
                                <input class="form-control" ng-disabled="isDisabled" ng-verify="{ pattern:/(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}/,required: false}" type="text" ng-model="VO.c1Phone">
                            </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-5 control-label">电子信箱：</label>
                                <div class="col-md-7">
                                    <input class="form-control" ng-disabled="isDisabled" ng-verify="{pattern:/^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$/,required: false,max:50}" type="text" ng-model="VO.c1Mail">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                        </div>
            </accordion-group>
        </accordion>
                    <div ng-if="Text" class="lr-contant">.....</div>
                </fieldset>
            </div>
        </div>

    </div>
    <div>
<!--        <div class="pull-right lr-mr10 lr-mt10">-->
<!--            <button class="btn btn-sm btn-info" type="button" ng-show="isEdit" ng-click="onAddLine();">增行</button>-->
<!--            <button class="btn btn-sm btn-info" type="button" ng-show="isEdit" ng-click="onDeleteLine();">减行</button>-->
<!--        </div>-->
<!--        <tabset justified="false">-->
<!--                    <tab index="1" heading="账户信息" select="selectTab('accountGridOptions')">-->
<!--                        <div ui-grid="accountGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>-->
<!--                    </tab>-->
<!--                    <tab index="2" heading="联系人" select="selectTab('linkmanGridOptions')">-->
<!--                        <div ui-grid="linkmanGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>-->
<!--                    </tab>-->
<!--        </tabset>-->
        <!--        账户信息-->
        <div class="col-md-12">
            <div class="lr-contant">
                <fieldset>
                    <legend>
                        <button  ng-click="Account = !Account" style="border-style: none; background: #ffffff">
                            <span>账户信息</span>
                        </button>
                    </legend>
                    <div class="col-md-12" ng-if="!Account">
                        <button class="btn lr-insureType-btn" ng-click="onAddAccount()">
                            <i class="fa fa-plus-square"></i>
                            增加账户信息
                        </button>
                        <div ng-repeat="item in AccountList" style="background:#ffffff" class="col-md-12">
                            <accordion class=""  >
                                <accordion-group is-open="true" class="lr-page-bg-gray">
                                    <div class="form-group">
                                        <div class="btn lr-page-bg-indigo">
                                        </div>
                                        <div style="text-align: right">
                                            <button type="button" class="btn btn-azure" ng-if="AccountList.length>1"
                                                    ng-click="deletelistOptions($index,1)" type="button" style="float: right;margin-right: 10px">
                                                <i class="fa fa-trash-o"></i>
                                                <span>删除</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">账户类型：</label>
                                                <div class="col-md-7">
                                                    <select class="form-control"  ng-model="item.accType" required
                                                            ng-options="iten.id as iten.name for iten in SELECT.ACCTYPE">
                                                        <option value="">--账户类型--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">开户名称：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control ng-pristine ng-untouched ng-valid ng-empty"  type="text" ng-verify="{max:200}" ng-model="item.accName">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">账号：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text" ng-verify="{max:200}" ng-model="item.accNum">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">开户银行：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text" ng-verify="{max:200}" ng-model="item.accBlank">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">银行联行号：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text" ng-verify="{max:200}" ng-model="item.jointBankNum">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                    <div ng-if="Account" class="lr-contant">.....</div>
                </fieldset>
            </div>
        </div>
        <!--        联系人信息-->
        <div class="col-md-12">
            <div class="lr-contant">
                <fieldset>
                    <legend>
                        <button  ng-click="Linkman = !Linkman" style="border-style: none; background: #ffffff">
                            <span>联系人信息</span>
                        </button>
                    </legend>
                    <div class="col-md-12" ng-if="!Linkman">
                        <button class="btn lr-insureType-btn" ng-click="onAddLinkman()">
                            <i class="fa fa-plus-square"></i>
                            增加联系人信息
                        </button>
                        <div ng-repeat="item in LinkmanList" style="background:#ffffff" class="col-md-12">
                            <accordion class=""  >
                                <accordion-group is-open="true" class="lr-page-bg-gray">
                                    <div class="form-group">
                                        <div class="btn lr-page-bg-indigo">
                                        </div>
                                        <div style="text-align: right">
                                            <button type="button" class="btn btn-azure" ng-if="LinkmanList.length>1"
                                                    ng-click="deletelistOptions($index,2)" type="button" style="float: right;margin-right: 10px">
                                                <i class="fa fa-trash-o"></i>
                                                <span>删除</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12" >
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">联系人类型：</label>
                                                <div class="col-md-7">
                                                    <select class="form-control"  ng-model="item.linkmanType" required
                                                            ng-options="iten.id as iten.name for iten in SELECT.LINKMANTYPE">
                                                        <option value="">--联系人类型--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">联系人姓名：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text" ng-verify="{max:200}" ng-model="item.name">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">联系人部门：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text"  ng-model="item.dept">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">联系人地址：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text"  ng-model="item.address">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">邮编：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text"  ng-model="item.post">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">联系人电话：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text" ng-verify="{max:200}" ng-model="item.tele">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">传真：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text"  ng-model="item.fax">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">电子邮箱：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text"  ng-model="item.mail">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">备注：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text"  ng-model="item.memo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn lr-page-bg-indigo">
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                    <div ng-if="Linkman" class="lr-contant">.....</div>
                </fieldset>
            </div>
        </div>

    </div>
    <accordion class="" close-others="oneAtATime">
    <accordion-group is-open="false" class="lr-page-bg-gray">
        <accordion-heading class="lr-page-bg-white">
            <div class="btn lr-page-bg-indigo">
                <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                <span class="lr-page-color" ng-bind="getDisName('操作信息','')"></span>
            </div>
            <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
               ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
                <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-5 control-label">单据状态：</label>
                            <div class="col-md-7 div-cao-zuo">
                                {{VO.billstatus | SELECT_BILLSTATUS}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-5 control-label">业务单位：</label>
                            <div class="col-md-7 div-cao-zuo">
                                {{VO.pkOrg.name}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-5 control-label">制单日期：</label>
                            <div class="col-md-7 div-cao-zuo">
                                {{VO.operateDate | date_cell_date}}
                            </div>
                        </div>
                </div>
                <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-5 control-label">经办人：</label>
                            <div class="col-md-7 div-cao-zuo">
                                {{VO.pkOperator.name}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-5 control-label">复核人：</label>
                            <div class="col-md-7 div-cao-zuo">
                                {{VO.pkChecker}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-5 control-label">复核日期：</label>
                            <div class="col-md-7 div-cao-zuo">
                                {{VO.checkDate}}
                            </div>
                        </div>
                </div>
                <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-5 control-label">复核时间：</label>
                            <div class="col-md-7 div-cao-zuo">
                                {{VO.checkTime}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-5 control-label">复核意见：</label>
                            <div class="col-md-7 div-cao-zuo">
                                {{VO.vapprovenote}}
                            </div>
                        </div>
                </div>
    </accordion-group>
    </accordion>
</form>
