<div class="main-form-style">
        <tabset justified="false">
            <tab heading="保险人联系人信息">
                <div id="busiTypeGridId" ui-grid="linkManOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns
                     ui-grid-selection ui-grid-pinning class="grid" style="height: 300px"></div>
            </tab>
        </tabset>
        <div class="pull-right" >
            <button ng-click="onChonseBusiType1()"  style="margin-right: 10px;" class="btn btn-sm lr-sub-btn" >
                <span >确定</span>
            </button>
            <button ng-click="onCancelBusiType()" style="margin-right: 10px;"class="btn btn-sm lr-sub-btn" >
                <span>取消</span>
            </button>
        </div>
        <div style="clear: both"></div>
</div>