<form class="form-horizontal" name="appForm" verify-scope="tipStyle: 1" ng-if="form">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn btn-azure" ng-click="onBack()">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
            <button type="button" class="btn btn-azure" ng-click="onSave(VO)"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}"
                    ng-if="!isGrid&&!isCard&&isEdit">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>
            <button type="button" class="btn btn-azure" type="button" ng-click="onTemporary(VO)"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" >
                <i class="fa fa-save"></i>
                <span>暂存</span>
            </button>



        </div>
    </div>
    <div class="lr-contant">
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label lr-verify">项目名称：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-verify ng-disabled="isDisabled" ui-popup-ref="projectRef"
                           url="localizedPath + 'projectInformation/referTo'" ng-click=""
                           popup-model="VO"
                           popup-model-field="'pkProject'" popup-model-value="param" ng-verify
                           ng-model="VO.pkProject.project_name" type="text" placeholder="">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">客户名称 ：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="true" ng-verify type="text" ng-model="VO.pkProject.customer_name">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">投保险种：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="true" type="text" ng-verify
                           ng-model="VO.pkProject.insurancetype.name">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label">保单号：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="true" type="text" ng-verify ng-model="VO.pkProject.insurance_no">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">保险人名称：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="true" ng-model="VO.pkProject.insurance_people" type="text">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label lr-verify">服务评价时间：</label>
                <div class="col-md-7">
                    <input class="form-control" wdate-picker type="text" ng-verify ng-model="VO.evaluateTime">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label">评价年度：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="true" type="text"  ng-model="VO.evaluateYear">
                </div>
            </div>
        </div>



            <div style="margin-top: 100px">
                    <div class="pull-right lr-mr10 lr-mt10">
                        <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                ng-click="onUploads();">上传
                        </button>
                        <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                                ng-click="onDeleteLine();">删除
                        </button>
                    </div>
                    <tabset justified="false">
                        <tab index="3" heading="附件" select="selectTab('dealAttachmentBGridOptions')">
                            <div ui-grid="dealAttachmentBGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                                 ui-grid-auto-resize ui-grid-resize-columns class="grid"
                                 style="height: 200px"></div>
                        </tab>
                    </tabset>
            </div>

    </div>
</form>