<form class="form-horizontal bg-white" ng-if="isCard">
    <div class="main-div">
        <div class="title">
            <div class="row ">
                <div class="col-md-9"><h4>{{VO.projectName}}</h4>
                </div>
                <div class="col-md-3 text-right" add-card-btn>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="label {{VO.billstatus == 34?'label-success':VO.billstatus == 33?'label-warning':VO.billstatus == 37?'label-warning;':VO.billstatus == 36?'label-warning;':'label-default' }}">{{VO.billstatus | SELECT_BILLSTATUS}}</span>
                    <span class="label label-success">{{VO.projectType | SELECT_PROJECT_TYPE}}</span>
                    <span class="label label-info">{{VO.projectEpibolyType | SELECT_PROJECT_EPIBOLY_TYPE}}</span>
                    <span class="label label-primary">{{VO.projectClass | SELECT_PROJECT_CLASS}}</span>
                    <span class="label label-danger">{{VO.tags}}</span>
                    <span class="label label-danger">{{VO.applyType | SELECT_APPLY_TYPE}}</span>
                </div>
            </div>

            <div class="row" ng-if="VO.usedBeforeName != null">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <span>曾用名：</span>{{VO.usedBeforeName}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <span>项目负责人：</span>{{VO.projectManger}}
                    </div>
                    <div class="col-md-3">
                        项目金额：{{VO.projectCost}}万元
                    </div>
                    <div class="col-md-3">
                        项目周期：{{VO.period}}
                    </div>
                    <div class="col-md-3">
                        申报单位：{{VO.createdOrg.pk='1002'? VO.createdDept.name:VO.createdOrg.name}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="swMain" ng-if="VO.projectStatus == -1">
                        <ul>
                            <li>
                                <a href ng-class="{'selected' : true,'done': true}">
                                    <div class="stepNumber">
                                        1
                                    </div>
                                    <span class="stepDesc text-small">项目申报</span>
                                </a>
                            </li>
                            <li>
                                <a href ng-class="{'selected' : true,'done': true}">
                                    <div class="stepNumber">
                                        2
                                    </div>
                                    <span class="stepDesc text-small">项目终止</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="swMain" ng-if="VO.projectStatus != -1">
                        <ul>
                            <li>
                                <a href ng-class="{'selected' : VO.projectStatus >= 1, 'done' : VO.projectStatus >= 1}">
                                    <div class="stepNumber">
                                        1
                                    </div>
                                    <span class="stepDesc text-small">完成需求申报、待专业评审</span>
                                </a>
                            </li>
                            <li>
                                <a href ng-class="{'selected' : VO.projectStatus >= 2, 'done' : VO.projectStatus >= 2}">
                                    <div class="stepNumber">
                                        2
                                    </div>
                                    <span class="stepDesc text-small">完成专业评审、待立项评审</span>
                                </a>
                            </li>
                            <li>
                                <a href ng-class="{'selected' : VO.projectStatus >= 3, 'done' : VO.projectStatus >= 3}">
                                    <div class="stepNumber">
                                        3
                                    </div>
                                    <span class="stepDesc text-small">完成立项评审、待项目批复</span>
                                </a>
                            </li>
                            <li>
                                <a href ng-class="{'selected' : VO.projectStatus >= 4, 'done' : VO.projectStatus >= 4}">
                                    <div class="stepNumber">
                                        4
                                    </div>
                                    <span class="stepDesc text-small">完成项目批复，待签订合同</span>
                                </a>
                            </li>
                            <li>
                                <a href ng-class="{'selected' : VO.projectStatus >= 5, 'done' : VO.projectStatus >= 5}">
                                    <div class="stepNumber">
                                        5
                                    </div>
                                    <span class="stepDesc text-small">已支付进度款</span>
                                </a>
                            </li>
                            <li>
                                <a href ng-class="{'selected' : VO.projectStatus >= 6, 'done' : VO.projectStatus >= 6}">
                                    <div class="stepNumber">
                                        6
                                    </div>
                                    <span class="stepDesc text-small">项目验收、待支付尾款</span>
                                </a>
                            </li>
                            <li>
                                <a href ng-class="{'selected' : VO.projectStatus >= 7, 'done' : VO.projectStatus >= 7}">
                                    <div class="stepNumber">
                                        7
                                    </div>
                                    <span class="stepDesc text-small">已支付尾款、项目结项</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="col-md-12 title">
                    <h6><span class="text-bold text-primary">1.项目背景、目的及意义</span></h6>
                    <h6><span class="text-bold">①项目背景</span></h6>
                    <p class="margin-bottom-30">
                        {{VO.background}}
                    </p>
                    <h6><span class="text-bold">②项目目的</span></h6>
                    <p class="margin-bottom-30">
                        {{VO.target}}
                    </p>
                    <h6><span class="text-bold">③项目意义</span></h6>
                    <p class="margin-bottom-30">
                        {{VO.meaning}}
                    </p>
                </div>
                <div class="col-md-12 title">
                    <h6><span class="text-bold text-primary">2.项目思路、内容及要求 </span></h6>
                    <h6><span class="text-bold">①项目开展基本思路</span></h6>
                    <p class="margin-bottom-30">
                        {{VO.basicIdea}}
                    </p>
                    <h6><span class="text-bold">②项目主要内容</span></h6>
                    <p class="margin-bottom-30">
                        {{VO.mainContent}}
                    </p>
                    <h6><span class="text-bold">③项目时间安排</span></h6>
                    <p class="margin-bottom-30">
                        {{VO.plans}}
                    </p>
                    <h6><span class="text-bold">④项目重点难点、创新点</span></h6>
                    <p class="margin-bottom-30">
                        {{VO.innovationPoints}}
                    </p>
                </div>
                <div class="col-md-12 title">
                    <h6><span class="text-bold text-primary">3.项目目标、成果及形式 </span></h6>
                    <h6><span class="text-bold">①项目预期目标</span></h6>
                    <p class="margin-bottom-30">
                        {{VO.expects}}
                    </p>
                    <h6><span class="text-bold">②项目成果或成效</span></h6>
                    <p class="margin-bottom-30">
                        {{VO.results}}
                    </p>
                    <h6><span class="text-bold">③项目成果推广应用前景</span></h6>
                    <p class="margin-bottom-30">
                        {{VO.promotions}}
                    </p>
                </div>
                <div class="col-md-12 title">
                    <h6><span class="text-bold text-primary">4.项目合作机构及团队要求 </span></h6>
                    <h6><span class="text-bold">①项目合作机构与业绩要求</span></h6>
                    <p class="margin-bottom-30">
                        {{VO.cooperations}}
                    </p>
                    <h6><span class="text-bold">②项目团队最低人数要求</span></h6>
                    <p class="margin-bottom-30">
                        {{VO.teams}}
                    </p>
                    <h6><span class="text-bold">③项目负责人具备的专业、职称、项目经验</span></h6>
                    <p class="margin-bottom-30">
                        {{VO.mangers}}
                    </p>
                </div>
                <div class="col-md-12 title">
                    <h6><span class="text-bold text-primary">5.项目经济性及财务合规性 </span></h6>
                    <p class="margin-bottom-30">
                        {{VO.others}}
                    </p>
                    <p class="margin-bottom-30" ng-if="VO.projectType == 1 && (VO.projectEpibolyType ==0 || VO.projectEpibolyType == 2)">
                        <span>预计收入：</span>{{VO.planIncome}}万元
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-md-12" ng-if="VO.memberEnterprise.length >0">
                    <fieldset>
                        <legend>
                            项目成员
                        </legend>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr class="info center">
                                    <th>业务单位</th>
                                    <th>项目金额（万元）</th>
                                    <th>周期</th>
                                    <th>收入（万元）</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in VO.memberEnterprise">
                                    <td>{{item.busi.name}}</td>
                                    <td>{{item.projectCost}}</td>
                                    <td>{{item.period}}</td>
                                    <td>{{item.planIncome}}</td>
                                    <td><span class="text-red text-bold">{{item.tags}}</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-12" ng-if="!(VO.projectType == 1 && (VO.projectEpibolyType == 1 || VO.projectEpibolyType ==2))">
                    <fieldset>
                        <legend>
                            费用估算明细表
                        </legend>
                        <table class="table table-bordered" id="costDetails">
                            <thead>
                            <tr>
                                <th class="center">科目</th>
                                <th class="center">金额（万元）</th>
                                <th class="hidden-xs">备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="center" rowspan="4">1.人工费</td>
                                <td class="center" rowspan="4">{{VO.costDetail[0].cost}}
                                <td>专家研究人员工作量：{{VO.costDetail[0].detail[0].months ==0 || VO.costDetail[0].detail[0].months == null ? "/" : VO.costDetail[0].detail[0].months}}({{VO.unitAccount | SELECT_UNIT_MONTH}}),费用标准：{{VO.costDetail[0].detail[0].param== null ? "/":VO.costDetail[0].detail[0].param}}({{VO.unitAccount | SELECT_UNIT_ACCOUNT}})
                                </td>
                            </tr>
                            <tr>
                                <td>高级研究人员工作量：{{VO.costDetail[0].detail[1].months == 0 || VO.costDetail[0].detail[1].months == null ? "/":VO.costDetail[0].detail[1].months}}({{VO.unitAccount | SELECT_UNIT_MONTH}}),费用标准：{{VO.costDetail[0].detail[1].param == 0 || VO.costDetail[0].detail[1].param == null ? "/":VO.costDetail[0].detail[1].param}}({{VO.unitAccount | SELECT_UNIT_ACCOUNT}})</td>
                            </tr>
                            <tr>
                                <td>一般研究人员工作量：{{VO.costDetail[0].detail[2].months==0 || VO.costDetail[0].detail[2].months==null ? "/":VO.costDetail[0].detail[2].months}}({{VO.unitAccount | SELECT_UNIT_MONTH}}),费用标准：{{VO.costDetail[0].detail[2].param == 0 || VO.costDetail[0].detail[2].param == null ? "/":VO.costDetail[0].detail[2].param}}({{VO.unitAccount | SELECT_UNIT_ACCOUNT}})</td>
                            </tr>
                            <tr>
                                <td>辅助研究人员工作量：{{VO.costDetail[0].detail[3].months==0 || VO.costDetail[0].detail[3].months == null ? "/":VO.costDetail[0].detail[3].months}}({{VO.unitAccount | SELECT_UNIT_MONTH}}),费用标准：{{VO.costDetail[0].detail[3].param == 0 || VO.costDetail[0].detail[3].param == null ? "/":VO.costDetail[0].detail[3].param}}({{VO.unitAccount | SELECT_UNIT_ACCOUNT}})</td>
                            </tr>
                            <tr>
                                <td class="center">2.设备购置及使用费</td>
                                <td class="center">{{VO.costDetail[1].cost}}</td>
                                <td>{{VO.costDetail[1].memo}}</td>
                            </tr>
                            <tr>
                                <td class="center">3.业务费</td>
                                <td class="center">{{VO.costDetail[2].cost}}</td>
                                <td>{{VO.costDetail[2].memo}}</td>
                                </td>
                            </tr>
                            <tr>
                                <td class="center">4.场地使用费</td>
                                <td class="center">{{VO.costDetail[3].cost}}</td>
                                <td>{{VO.costDetail[3].memo}}</td>
                            </tr>
                            <tr>
                                <td class="center">5.其他费用</td>
                                <td class="center">{{VO.costDetail[4].cost}}</td>
                                <td>{{VO.costDetail[4].memo}}</td>
                            </tr>
                            <tr>
                                <td class="center">费用估算总额</td>
                                <td class="center">{{VO.costDetail[5].cost}}</td>
                                <td>{{VO.costDetail[5].memo}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset>
                        <legend>
                            申报附件
                        </legend>
                        <table class="table table-condensed ">
                            <thead>
                            <tr>
                                <th width="50%">文件名称</th>
                                <th>文件大小</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="item in VO.dealAttachmentB" class="font-size-13">
                                <td><a href="#" ng-click="onPreviewFile(item.id,item.fileName)" class="text-primary" tooltip="点击浏览文件"> {{ item.fileName }}</a></td>
                                <td>{{ item.fileSize/1024/1024|number:2 }}MB</td>
                                <td nowrap>
                                    <button type="button" class="btn btn-primary btn-xs" ng-click="onDownLoadFile(item.id,item.fileName)">
                                        <span class="fa fa-download"></span> 下载
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</form>
