<form class="form-horizontal" ng-if="card">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn btn-azure" type="button" ng-click="onSave()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-if="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>
            <button class="btn btn-azure" type="button" ng-click="onCancel()" ng-if="!isGrid&&isEdit">
                <i class="fa fa-undo"></i>
                <span>取消</span>
            </button>
            <!--<button class="btn btn-azure" ng-click="onEdit()" ng-if="!isEdit&&(VO.billstatus==28||VO.billstatus==46||VO.billstatus==36)">-->
            <!--<i class="fa fa-edit"></i>-->
            <!--<span>修改</span>-->
            <!--</button>-->
            <button class="btn btn-azure" type="button" ng-click="onBack()">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
        </div>
    </div>
    <div class="main-div">
        <div class="col-md-12 title">
            <h4>{{VO.serialNo}}</h4>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span class="{{VO.billstatus == 34?'span-background-tg':VO.billstatus == 33?'span-background-shz':VO.billstatus == 37?'span-background-zc':VO.billstatus == 36?'span-background-bh':'' }}">{{VO.billstatus | SELECT_BILLSTATUS}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 title">
            <p style="font-size:20px">详细信息</p>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>客户编号：</span><span class="fontStyle">{{VO.pkCustomer.code}}</span>
                </div>
                <div class="col-md-4">
                    <span>客户名称：</span><span class="fontStyle">{{VO.pkCustomer.name}}</span>
                </div>
                <div class="col-md-4">
                    <span>客户相关部门/单位：</span><span class="fontStyle">{{VO.deptName}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>客户联系人：</span><span class="fontStyle">{{VO.contact}}</span>
                </div>
                <div class="col-md-4">
                    <span>职务：</span><span class="fontStyle">{{VO.principalship}}</span>
                </div>
                <div class="col-md-4">
                    <span>联系方式：</span><span class="fontStyle">{{VO.contactFashion}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>提交日期：</span><span class="fontStyle">{{VO.commitDate | date_cell_date}}</span>
                </div>
                <div class="col-md-4">
                    <span>提交地点：</span><span class="fontStyle">{{VO.commitAddres}}</span>
                </div>
                <div class="col-md-4">
                    <span>业务部门：</span><span class="fontStyle">{{VO.pkDept.name}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>制单时间：</span><span class="fontStyle">{{VO.operateTime}}</span>
                </div>
            </div>
            <div class="col-md-12 card-grid">
            </div>
        </div>
        <div class="col-md-12 card-grid">
            <div>
                <tabset justified="false" ng-if="chilbTable">
                    <tab index="1" heading="附件" select="selectTab('dealAttachmentBGridOptions')">
                        <div ui-grid="dealAttachmentBGridOptions" ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</form>
