<form class="form-horizontal" name="appForm" verify-scope="tipStyle: 1" ng-if="form">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-azure" type="button" ng-click="onSave()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-if="!isGrid&&isEdit||isUpdate">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>
            <button type="button" class="btn btn-azure" ng-click="onBack()"  type="button" >
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
            <button type="button" class="btn btn-azure" ng-click="onTemporary(VO)"  type="button">
                <i class="fa fa-save"></i>
                <span>暂存</span>
            </button>
            <button type="button" class="btn btn-azure"  type="button" ng-click="onSubmit()" ng-if="!isEdit&&(VO.billstatus==31||VO.billstatus==36)">
                <i class="ti-save"></i>
                <span>提交</span>
            </button>
        </div>
    </div>
    <div class="lr-contant">
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label lr-verify">修改类型：</label>
                <div class="col-md-7">
                    <select class="form-control" ng-disabled="" ng-verify ng-model="VO.reviseType"
                            required
                            ng-options="item.id as item.name for item in SELECT.REVISETYPE">
                        <option value="">--请选择修改类型--</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label lr-verify">节点名称：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="true" ng-model="VO.nodeTreeName" type="text">
                </div>
            </div>
          <!--  <div class="col-md-4">
                <label class="col-md-5 control-label lr-verify">节点名称：</label>
                <div class="col-md-7">
                    <select class="form-control" ng-disabled="" ng-model="VO.nodeTreeName"
                            required
                            ng-options="item.id as item.name for item in SELECT.NODETREE">
                        <option value="">&#45;&#45;请选择节点名称&#45;&#45;</option>
                    </select>
                </div>
            </div>-->
            <div class="col-md-4">
                <label class="col-md-4 control-label lr-verify">发起机构名称:</label>
                <div class="col-md-8">
                    <input class="form-control" ui-popup-ref ng-disabled="true"
                           url="'orgRef/queryForGrid'" popup-model="VO"
                           popup-model-field="'pk_org'"
                           ng-model="VO.pkOrg.name" type="text" placeholder="">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label lr-verify">部门名称：</label>
                <div class="col-md-7">
                    <input class="form-control" ui-popup-ref ng-disabled="true"
                           url="'deptTreeRef/queryForGrid'" popup-model="VO"
                           popup-model-field="'pkDept'"
                           ng-model="VO.pkDept.name" type="text" placeholder="">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label lr-verify">申请人：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="true" ng-model="VO.pkOperator.name" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="col-md-255 control-label lr-verify">修改原因：</label>
                <div class="col-md-254">
                                <textarea class="form-control" style="resize:none" ng-keyup="changeText()" ng-disabled="" type="text"  maxlength="300" rows="5"
                                          ng-model="VO.reasons"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
        <div class="col-md-12">
            <label class="col-md-255 control-label lr-verify">修改内容：</label>
            <div class="col-md-254">
                                <textarea class="form-control" style="resize:none" ng-keyup="changeText()" ng-disabled="" type="text"  maxlength="300" rows="5"
                                          ng-model="VO.changed"></textarea>
            </div>
        </div>
        </div>
    </div>
    <div style="margin-top: 5px">
        <accordion class="" close-others="oneAtATime">
            <accordion-group class="lr-page-bg-gray" is-open="true">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo" style="margin-left: 15px">
                        <i class="fa fa-hand-o-right lr-page-color"></i>
                        <span class="lr-page-color">修改数据列表</span>
                    </div>
                </accordion-heading>
                <div class="pull-right lr-mr10 lr-mt10">
                    <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                            ng-click="onDeleteLine('reviseDataGridOptions');">减行
                    </button>
                </div>
                <tabset justified="false" aria-expanded="true">
                    <tab heading="修改数据列表" select="selectTab('reviseDataGridOptions')">
                        <div ui-grid="reviseDataGridOptions" ui-grid-cellnav ui-grid-selection
                             ui-grid-auto-resize ui-grid-resize-columns class="grid"
                             style="height: 200px"></div>
                    </tab>
                </tabset>
            </accordion-group>
        </accordion>

        <div style="margin-top: 5px">
        <accordion class="" close-others="oneAtATime">
            <accordion-group class="lr-page-bg-gray" is-open="true">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo" style="margin-left: 15px">
                        <i class="fa fa-hand-o-right lr-page-color"></i>
                        <span class="lr-page-color">附件</span>
                    </div>
                </accordion-heading>
                <div class="pull-right lr-mr10 lr-mt10">
                    <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                            ng-click="onUploads();">上传
                    </button>
                    <button class="btn btn-sm btn-info" type="button" ng-if="isEdit&&isShow"
                            ng-click="onDeleteLine('dealAttachmentBGridOptions');">删除
                    </button>
                </div>
                <tabset justified="false" aria-expanded="true">
                    <tab heading="附件" select="selectTab('dealAttachmentBGridOptions')">
                        <div ui-grid="dealAttachmentBGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                             ui-grid-auto-resize ui-grid-resize-columns class="grid"
                             style="height: 200px"></div>
                    </tab>
                </tabset>
            </accordion-group>
        </accordion>
        </div>
    </div>



</form>
