<form class="form-horizontal" ng-if="isCard">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn btn-azure" ng-click="onBack()" ng-if="isCard">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
        </div>
    </div>
    <div class="main-div">
        <div class="col-md-12 title">
            <h4>{{VO.refSelectName}}</h4>
        </div>
        <div class="col-md-12 title">
            <p style="font-size:20px">详细信息</p>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>参照id：</span><span class="fontStyle">{{VO.refId}}</span>
                </div>
                <div class="col-md-4">
                    <span>参照名称：</span><span class="fontStyle">{{VO.refName}}</span>
                </div>
                <div class="col-md-4">
                    <span>参照大类中文：</span><span class="fontStyle">{{VO.refSelectName}}</span>
                </div>
                <div class="col-md-4">
                    <span>参照大类英文：</span><span class="fontStyle">{{VO.refSelect}}</span>
                </div>
                <div class="col-md-4">
                    <span>是否读取(1读取，2不读取)：</span><span class="fontStyle">{{VO.ifGet}}</span>
                </div>
            </div>
        </div>
    </div>
</form>
