<form class="form-horizontal" ng-if="card">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn btn-azure" type="button" ng-click="onSave()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-if="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>
            <button class="btn btn-azure" ng-click="onCancel()" ng-if="!isGrid&&isEdit">
                <i class="fa fa-undo"></i>
                <span>取消</span>
            </button>
            <button class="btn btn-azure" ng-click="onBack()" ng-if="isBack">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
            <button class="btn btn-azure" ng-click="onTemporary(VO)" ng-show="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>暂存</span>
            </button>
        </div>
    </div>
    <div class="main-div">
        <div class="col-md-12 title">
            <h4>{{VO.localizedCustomerTrain.trainTheme}}</h4>
<!--            <div class="col-md-12">-->
<!--                <div class="col-md-4">-->
<!--                    <span class="{{VO.billstatus == 34?'span-background-tg':VO.billstatus == 33?'span-background-shz':VO.billstatus == 37?'span-background-zc':VO.billstatus == 36?'span-background-bh':'' }}">{{VO.billstatus | SELECT_BILLSTATUS}}</span>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="col-md-12 title">
            <p style="font-size:20px">详细信息</p>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>申报编号：</span><span class="fontStyle">{{VO.localizedCustomerTrain.trainCode}}</span>
                </div>
                <div class="col-md-4">
                    <span>培训主题：</span><span class="fontStyle">{{VO.localizedCustomerTrain.trainTheme}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>培训起始日期：</span><span class="fontStyle">{{VO.localizedCustomerTrain.startdate | date_cell_date}}</span>
                </div>
                <div class="col-md-4">
                    <span>培训结束日期：</span><span class="fontStyle">{{VO.localizedCustomerTrain.enddate | date_cell_date}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>培训地点：</span><span class="fontStyle">{{VO.localizedCustomerTrain.trainSite.name}}</span>
                </div>
                <div class="col-md-4">
                    <span>详细培训地点：</span><span class="fontStyle">{{VO.localizedCustomerTrain.trainSiteDetail}}</span>
                </div>
                <div class="col-md-4">
                    <span>培训形式：</span><span class="fontStyle">{{VO.localizedCustomerTrain.enumTrainType | SELECT_ENUMTRAINTYPE}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>联系人：</span><span class="fontStyle">{{VO.localizedCustomerTrain.lineMan}}</span>
                </div>
                <div class="col-md-4">
                    <span>联系电话：</span><span class="fontStyle">{{VO.localizedCustomerTrain.linePhone}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>参加人员：</span><p class="fontStyle">
                    <p word-break="keep-all" class="fontStyle" ng-bind-html="VO.localizedCustomerTrain.assess | ntobr|trustHtml"></p>
                </div>

            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>发起单位：</span><span class="fontStyle">{{VO.pkOrg.name}}</span>
                </div>
                <div class="col-md-4">
                    <span>部门：</span><span class="fontStyle">{{VO.pkDept.name}}</span>
                </div>
                <div class="col-md-4">
                    <span>发起人：</span><span class="fontStyle">{{VO.pkOperator.name}}</span>
                </div>

            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>发起日期：</span><span class="fontStyle">{{VO.operateDate | date_cell_date}}</span>
                </div>
                <div class="col-md-4">
                    <span>发起时间：</span><span class="fontStyle">{{VO.operateTime}}</span>
                </div>
                <div class="col-md-12">
                    <span>单据状态：</span><span
                        class="fontStyle">{{VO.billstatus | SELECT_LOCALIZEDBILLSTATUS}}</span>
                </div>

            </div>
            <div class="col-md-12 card-grid">
                <div>
                    <div class="col-md-12"  ng-if="VO.localizedCustomerTrain.trainObject.length!=0">
                        <div class="table-responsive">
                            <p style="font-size: 14px;color: #748390;margin-left: 0px;font-weight: 600">项目信息</p>
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                    <th>客户名称</th>
                                    <th>险种</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in VO.localizedCustomerTrain.trainObject">
                                    <td>{{item.project_name}}</td>
                                    <td>{{item.customer_name}}</td>
                                    <td>{{item.insurancetype.name}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12"  ng-if="VO.localizedCustomerTrain.trainPlan.length!=0">
                        <div class="table-responsive">
                            <p style="font-size: 14px;color: #748390;margin-left: 0px;font-weight: 600">培训课程安排</p>
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>培训课题</th>
                                    <th>课时</th>
                                    <th>培训讲师</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in VO.localizedCustomerTrain.trainPlan">
                                    <td>{{item.trainContent}}</td>
                                    <td>{{item.trainCount}}</td>
                                    <td>{{item.pkExpert.name}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12"  ng-if="VO.dealAttachmentB.length!=0">
                        <div class="table-responsive">
                            <p style="font-size: 14px;color: #748390;margin-left: 0px;font-weight: 600">附件</p>
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>附件类型</th>
                                    <th>附件名称</th>
                                     <th>上载时间</th>
                                    <th>下载</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in VO.dealAttachmentB">
                                    <td>{{item.fileType|SELECT_LOCALIZEDTRAINTRANSLATEFILETYPE}}</td>
                                    <td>{{item.attachment_name}}</td>
                                    <td>{{item.cUpdate}}</td>
                                    <td>
                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                            <a href="#" ng-click="onDownLoadsCard(item.pk_project_id)"
                                               class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="下载" style="color: #af2b27"><i
                                                    class="fa fa-download"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-12 font-style-audit-title title" ng-show="mess">
            <p class="taskmess">审批信息</p>

            <div ng-repeat="item in VO.taskHis" style="color: black;border-bottom:1px solid 	#C0C0C0">
                <p><span><b>{{item.operate_name}}: </b></span><span ng-bind-html="item.pk_process.name"></span></p>
                <p>{{item.opinion}}</p>
                <p style="text-align: right">{{item.process_time}}</p>
            </div>
        </div>
    </div>
</form>
