<form class="form-horizontal" ng-if="card">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn lr-main-btn" ng-click="onAudit()" ng-if="!isEdit&&(VO.billstatus==33||VO.billstatus==32)">
                <i class="ti-check"></i>
                <span>审核</span>
            </button>
            <button type="button" class="btn btn-light" ng-click="onDownLoads()">
                批量下载<i class="fa fa-cloud-download"></i>
            </button>
            <button class="btn lr-main-btn" ng-click="onBack()" ng-show="isBack">
                <span>返回</span>
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </div>
    <div class="main-div">
        <div class="col-md-12 title">
            <span class="lr-page-color" style="font-size:14px">档案基本信息</span>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>立项名称：</span><span class="fontStyle">{{VO.pkProject.name}}</span>
                </div>
                <div class="col-md-4">
                    <span>立项编号：</span><span class="fontStyle">{{VO.pkProject.code}}</span>
                </div>
                <div class="col-md-4">
                    <span>客户产权关系：</span><span class="fontStyle">{{VO.pkProject.pkC0Tradetype_name}}</span>

                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>咨询业务档案编号：</span><span class="fontStyle">{{VO.fbillno}}</span>
                </div>
                <div class="col-md-4">
                    <span>咨询类别 ：</span><span class="fontStyle">{{VO.pkProject.typeconsultNO| SELECT_CONSULTTYPE}}</span>
                </div>
                <div class="col-md-4">
                    <span>档案所属期 ：</span><span class="fontStyle">{{VO.period}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>档案状态：</span>
                    <span class="fontStyle">{{VO.fbillstatus | SELECT_BUSSINESFILESSTATUS}}</span>
                </div>
                <div class="col-md-4">
                    <span>客户名称：</span><span class="fontStyle">{{VO.pkProject.pkCustomer_name}}</span>
                </div>
                <div class="col-md-4">
                    <span>业务状态：</span><span class="fontStyle">{{VO.bussinessStatus | SELECT_BUSSINESSSTATUS}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <span>立项经办人：</span>
                    <span class="fontStyle">{{VO.pkProject.pkOperator_name}}</span>
                </div>
                <div class="col-md-4">
                    <span>档案经办人：</span><span class="fontStyle">{{VO.pkOperator.name}}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12" style="margin-bottom: 30px;">
                    <span>备注：</span><p word-break="keep-all" class="fontStyle" style="margin-left: 36px;color:#5B5B60"
                                       ng-bind-html="VO.c1Execitem"></p>
                </div>
            </div>
            <table class="table table-striped table-hover" id="sample-table-2">
                <thead>
                <tr>
                    <th>档案状态一览(份)</th>
                    <th></th>
                    <th class="hidden-xs"></th>
                    <th class="hidden-xs"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="center">
                        <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="结算档案"><i class="fa fa-pencil"></i></a>
                        结算档案</td>
                    <td class="lr-verify">业务收入确认书：{{VO.fileStatusList.businessIncome}}</td>
                    <td class="lr-verify">发票开具申请单：{{VO.fileStatusList.billApplication}}</td>
                    <td class="lr-verify">发票扫描件：{{VO.fileStatusList.packingList}}</td>
                    <td class="lr-verify">资金到账通知书：{{VO.fileStatusList.accountIssueNotice}}</td>
                </tr>
                <tr>
                    <td class="center">
                        <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="合同档案"><i class="fa fa-pencil"></i></a>
                        合同附件</td>
                    <td class="lr-verify">咨询合同：{{VO.fileStatusList.consultContract}}</td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td class="center"></td>
                </tr>
                <tr>
                    <td class="center">
                        <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="合同档案"><i class="fa fa-pencil"></i></a>
                        咨询附件</td>
                    <td class="">咨询附件：{{VO.fileStatusList.consultFiles}}</td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td class="center"></td>
                </tr>
                <tr>
                    <td class="center">
                        <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="其他档案"><i class="fa fa-pencil"></i></a>
                        其他档案</td>
                    <td class="">其他档案：{{VO.fileStatusList.otherAttachments}}</td>
                    <td class="lr-verify">咨询成果：{{VO.fileStatusList.consultFruit}}</td>
                    <td class="lr-verify">领取报酬情况表：{{VO.fileStatusList.drawReward}}</td>
                    <td class="lr-verify">业务立项签报及批复：{{VO.fileStatusList.projectReport}}</td>
                </tr>
                </tbody>
            </table>
            <div class="col-md-12">
                <div class="col-md-12" ng-if="VO.junctionFiles.length!=0">
                    <div class="table-responsive">
                        <p style="font-size: 14px;color: #748390;margin-left: 0px;font-weight: 600">结算档案</p>
                        <table class="table table-bordered table-hover" >
                            <thead>
                            <tr>
                                <th>档案类型</th>
                                <th>档案名称</th>
                                <th>上载时间</th>
                                <th>下载</th>
                                <th>在线预览</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in VO.junctionFiles">
                                <td>{{item.file_type|SELECT_CONSULTFILETYPE1}}</td>
                                <td>{{item.attachment_name}}</td>
                                <td>{{item.cUpdate}}</td>
                                <td>
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a href="#" ng-click="onDownLoadsCard(item.pk_project_id)"
                                           class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="下载" style="color: #af2b27"><i
                                                class="fa fa-download"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a href="#" ng-click="onPreviewFile(item.pk_project_id,item.attachment_name)"
                                           class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="在线预览"><i
                                            class="fa fa-eye"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12" ng-if="VO.appendices.length!=0">
                    <div class="table-responsive">
                        <p style="font-size: 14px;color: #748390;margin-left: 0px;font-weight: 600">合同附件</p>
                        <table class="table table-bordered table-hover" >
                            <thead>
                            <tr>
                                <th>合同类型</th>
                                <th>合同编号</th>
                                <th>合同名称</th>
                                <th>合同对方信息</th>
                                <th>附件名称</th>
                                <th>附件来源</th>
                                <th>下载</th>
                                <th>在线预览</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in VO.appendices">
                                <td>{{item.file_type|SELECT_CONSULTFILETYPE2}}</td>
                                <td>{{item.CONTRACTNUMBER}}</td>
                                <td>{{item.CONTRACTNAME}}</td>
                                <td>{{item.CONTRACTCOUNTERPARTINFORMATION}}</td>
                                <td>{{item.TEXT_NAME}}</td>
                                <td>{{item.source}}</td>
                                <td>
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a href="#" ng-click="onDownLoadsCard(item.pk_project_id)"
                                           class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="下载" style="color: #af2b27"><i
                                                class="fa fa-download"></i></a>
                                    </div>
                                </td>
                                <td ng-if="item.source=='查询'">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a href="#" ng-click="onPreviewFile(item.pk_project_id,item.CONTRACTNAME)"
                                           class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="在线预览">
                                            <i class="fa fa-share"></i></a>
                                    </div>
                                </td>
                                <td ng-if="item.source=='上传'">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a href="#" ng-click="onPreviewFile(item.pk_project_id,item.TEXT_NAME)"
                                           class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="在线预览"><i
                                            class="fa fa-eye"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12" ng-if="VO.consultAttachment.length!=0">
                    <div class="table-responsive">
                        <p style="font-size: 14px;color: #748390;margin-left: 0px;font-weight: 600">咨询附件</p>
                        <table class="table table-bordered table-hover" >
                            <thead>
                            <tr>
                                <th>合同信息编号</th>
                                <th>附件类型</th>
                                <th>附件名称</th>
                                <th>上载时间</th>
                                <th>下载</th>
                                <th>在线预览</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in VO.consultAttachment">
                                <td>{{item.vbillno}}</td>
                                <td>{{item.file_type}}</td>
                                <td>{{item.attachment_name}}</td>
                                <td>{{item.cUpdate}}</td>
                                <td>
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a href="#" ng-click="onDownLoadsCard(item.pk_project_id)"
                                           class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="下载" style="color: #af2b27"><i
                                                class="fa fa-download"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a href="#" ng-click="onPreviewFile(item.pk_project_id,item.attachment_name)"
                                           class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="在线预览"><i
                                            class="fa fa-eye"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-12"  ng-if="VO.dealAttachmentB.length!=0">
                    <div class="table-responsive">
                        <p style="font-size: 14px;color: #748390;margin-left: 0px;font-weight: 600">其他附件</p>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>附件类型</th>
                                <th>附件名称</th>
                                <th>上载时间</th>
                                <th>下载</th>
                                <th>在线预览</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in VO.dealAttachmentB">
                                <td>{{item.file_type|SELECT_CONSULTFILETYPE4}}</td>
                                <td>{{item.attachment_name}}</td>
                                <td>{{item.cUpdate}}</td>
                                <td>
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a href="#" ng-click="onDownLoadsCard(item.pk_project_id)"
                                           class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="下载" style="color: #af2b27"><i
                                                class="fa fa-download"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a href="#" ng-click="onPreviewFile(item.pk_project_id,item.attachment_name)"
                                           class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="在线预览"><i
                                            class="fa fa-eye"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div></div>

    </div>
    </div>


</form>

