<div class="main-form-style" ng-controller="pullDataPageCtrl">
    <div class="form-horizontal" style="background: #fff; padding: 10px;">
        <div ui-grid="pullDataPageGridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection ui-grid-pinning class="grid" style="height:300px"></div>
    </div>
    <div class="pull-right">
        <button ng-click="onConfirm()"  style="margin-right: 10px;"class="btn btn-sm btn-info" >确定</button>
        <button ng-click="onCancel()" style="margin-right: 10px;"class="btn btn-sm btn-info" >返回</button>
    </div>
    <div style="clear: both"></div>
</div>

