<form class="form-horizontal" name="appForm" verify-scope="tipStyle: 1" ng-if="form">
    <div class="lr-toolbar">
        <div class="btn-group">
            <button class="btn btn-azure" type="button" ng-click="onSave()"
                    ng-verify="{control:'appForm',disabled:false,tipStyle:1}" ng-if="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>保存</span>
            </button>
            <button class="btn btn-azure" ng-click="onCancel()" ng-if="!isGrid&&isEdit">
                <i class="fa fa-undo"></i>
                <span>取消</span>
            </button>
            <button class="btn btn-azure" ng-click="onSubmit()" ng-if="!isEdit&&(VO.billstatus==0||VO.billstatus==31||VO.billstatus==36)">
                <i class="ti-save"></i>
                <span>提交</span>
            </button>
            <button class="btn btn-azure" ng-click="onAudit()" ng-if="!isEdit&&VO.billstatus==40">
                <i class="ti-check"></i>
                <span>复核</span>
            </button>
            <button class="btn btn-azure" ng-click="onLinkAuditFlow()" ng-if="!isEdit">
                <i class="ti-share-alt"></i>
                <span>查看流程图</span>
            </button>
            <button class="btn btn-azure" ng-click="onEdit()" ng-if="!isEdit">
                <i class="fa fa-edit"></i>
                <span>修改</span>
            </button>
            <button class="btn btn-azure" ng-click="onBack()" ng-if="!isBack">
                <i class="fa fa-chevron-left"></i>
                <span>返回</span>
            </button>
            <button class="btn btn-azure" ng-click="onTemporary(VO)" ng-show="!isGrid&&isEdit">
                <i class="fa fa-save"></i>
                <span>暂存</span>
            </button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="lr-contant">
            <fieldset>
                <legend>
                    <button  ng-click="Text = !Text" style="border-style: none; background: #ffffff">
                        <span>账户信息</span>
                    </button>
                </legend>
    <div class="lr-contant" ng-if="!Text">
        <!--<accordion class="" close-others="oneAtATime">
        <accordion-group is-open="true" class="lr-page-bg-gray">
            <accordion-heading class="lr-page-bg-white">
                <div class="btn lr-page-bg-indigo">
                    <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                    <span class="lr-page-color">基本信息</span>
                </div>
                <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                   ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>-->
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label">变更流水号：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="true" type="text" ng-model="VO.serial">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">变更类型：</label>
                <div class="col-md-7">
                    <select class="form-control" ng-disabled="isDisabled" ng-model="VO.cusChangeType"
                            required
                            ng-options="item.id as item.name for item in SELECT.MARCHANGETYPE">
                        <option value="">--请选择变更类型--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label lr-verify">变更原因：</label>
                <div class="col-md-255">
                            <textarea class="form-control"
                                      ng-keyup="changeText()" maxlength="2000"
                                      style="resize: none; width:4500%;" ng-verify  type="text" rows="4"
                                      ng-model="VO.sealReason" >
                            </textarea>
                    <span class="numLimit" style=" position: relative; color: #555556">{{VO.num}}/2000</span>
                </div>
            </div>

        </div>
<!--        <div class="form-group">-->

<!--            <div class="col-md-12">-->
<!--                <label class="col-md-255 control-label lr-verify">变更原因：</label>-->
<!--                <div class="col-md-254">-->
<!--                    <div simditor toolbar="[]" type="text" ng-model="VO.sealReason" ng-disabled="isDisabled" ></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label lr-verify">市场客户：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-verify ng-disabled="isUse" ui-popup-ref
                           url="'groupRef/queryForGrid'"  ng-click="" popup-model="VO"
                           popup-model-field="'pkCustomer'" popup-model-value="param"
                           ng-model="VO.pkCustomer.name" type="text" placeholder="" >
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">市场客户编号：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="isDisabled" type="text" ng-model="VO.c0Code">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">市场客户代码：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="isDisabled" type="text" ng-model="VO.signcustomerno">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label lr-verify">市场客户名称：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-verify="{max:512}" ng-disabled="isUseOpp" type="text" ng-model="VO.c0Name">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label lr-verify">注册号/统一社会信用代码：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-verify="{max:18}" ng-disabled="isDisabled" type="text"
                           ng-model="VO.c1Institution">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">客户级别：</label>
                <div class="col-md-7">
                    <select class="form-control" ng-disabled="isDisabled" ng-model="VO.c1Level"
                            required
                            ng-options="item.id as item.name for item in SELECT.CUSTOMERLEVELTYPE">
                        <option value="">--请选择客户级别--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label">是否是集团成员单位：</label>
                <div class="col-md-7">
                    <select class="form-control" ng-disabled="isUseOpp||ifGroup" ng-model="VO.c0HasCustomerTop"
                            required
                            ng-options="item.id as item.name for item in SELECT.YESNO">
                        <option value="">--请选择是否是集团成员单位--</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">集团名称：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="orgName" ui-popup-ref
                           url="'groupRef/queryForGrid'" ng-click="" popup-model="VO"
                           popup-model-field="'coCustomerTopName'"
                           ng-model="VO.coCustomerTopName.name" type="text" placeholder="">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">上级管理单位：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="isUseOpp" ui-popup-ref
                           url="'customerInsrcRef/queryForGrid'" ng-click="" popup-model="VO"
                           popup-model-field="'upCustomerSw'" popup-model-value = "{'c_1_type':1}"
                           ng-model="VO.upCustomerSw.name" type="text" placeholder="">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label lr-verify">行业类别：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-verify ng-disabled="isUseOpp" ui-popup-ref
                           url="'industryTypeRef/queryForGrid'" ng-click="" popup-model="VO"
                           popup-model-field="'tradetype'"
                           is-tree="true"
                           ng-model="VO.tradetype.name" type="text" placeholder="">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label lr-verify">单位性质：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-verify ng-disabled="isUseOpp" ui-popup-ref
                           url="'companyTypeRef/queryForGrid'" ng-click="" popup-model="VO"
                           popup-model-field="'enumEntkind'"
                           is-tree="true"
                           ng-model="VO.enumEntkind.name" type="text" placeholder="" >
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label lr-verify">所在区域：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-verify ng-disabled="isUseOpp" ui-popup-ref
                           url="'areaclTreeRef/queryForGrid'" ng-click="" popup-model="VO"
                           popup-model-field="'c1Province'"
                           is-tree="true"
                           ng-model="VO.c1Province.name" type="text" placeholder="">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label">地址：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-verify="{ required: false,max:300}" ng-disabled="isUseOpp" type="text" ng-model="VO.c0Address">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">传真：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="isUseOpp" type="text" ng-model="VO.c1Fax">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">公司电话：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="isUseOpp" type="text" ng-verify="{ pattern:/(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}/,required: false}" ng-model="VO.c1Phone">
                </div>
            </div>
        </div>
       <!-- <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-5 control-label">业务部门：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="isDisabled" ui-popup-ref
                           url="'deptTreeRef/queryForGrid'" ng-click="" popup-model="VO"
                           popup-model-field="'pkDept'"
                           ng-model="VO.pkDept.name" type="text" placeholder="">
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-md-5 control-label">制单时间：</label>
                <div class="col-md-7">
                    <input class="form-control" ng-disabled="isDisabled" type="text" ng-model="VO.operateTime">
                </div>
            </div>
        </div>-->
        <!-- </accordion-group>
     </accordion>-->
    </div>
                <div ng-if="Text" class="lr-contant">.....</div>
            </fieldset>
        </div>
    </div>
    <div>
<!--        <div class="pull-right lr-mr10 lr-mt10">-->
<!--            <button class="btn btn-sm btn-info" type="button" ng-show="isEdit&&!upOrDown&&!upAndDown" ng-click="onAddLine();">增行</button>-->
<!--            <button class="btn btn-sm btn-info" type="button" ng-show="isEdit&&!upAndDown" ng-click="onDeleteLine();">减行</button>-->
<!--            <button class="btn btn-sm btn-info" type="button"-->
<!--                    ng-click="onUploads();" ng-show="upOrDown">上传-->
<!--            </button>-->
<!--            <button class="btn btn-sm btn-info" type="button"-->
<!--                    ng-click="onDownLoads();" ng-show="upOrDown">下载-->
<!--            </button>-->
<!--        </div>-->
<!--        <tabset justified="false">-->
<!--            <tab index="1" heading="客户信息变更对比" select="selectTab('customerChangeCompareGridOptions')">-->
<!--                <div ui-grid="customerChangeCompareGridOptions"  ui-grid-edit ui-grid-cellnav  ui-grid-selection class="grid" style="height: 200px"></div>-->
<!--            </tab>-->
<!--            <tab index="2" heading="账户信息" select="selectTab('accountGridOptions')">-->
<!--                <div ui-grid="accountGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>-->
<!--            </tab>-->
<!--            <tab index="3" heading="联系人" select="selectTab('linkmanGridOptions')">-->
<!--                <div ui-grid="linkmanGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>-->
<!--            </tab>-->
<!--            <tab index="4" heading="客户部门信息" select="selectTab('customerDeptGridOptions')">-->
<!--                <div ui-grid="customerDeptGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>-->
<!--            </tab>-->
<!--            <tab index="5" heading="注册号/统一社会信用代码证附件" select="selectTab('dealAttachmentBGridOptions')">-->
<!--                <div ui-grid="dealAttachmentBGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns  class="grid" style="height: 200px"></div>-->
<!--            </tab>-->
<!--        </tabset>-->

        <!--        客户信息变更对比-->
        <div class="col-md-12" ng-show="CustomerChangeCompareList[0].colName!='0'">
            <div class="lr-contant">
                <fieldset>
                    <legend>
                        <button  ng-click="CustomerChange = !CustomerChange" style="border-style: none; background: #ffffff">
                            <span>客户信息变更对比</span>
                        </button>
                    </legend>
                    <div class="col-md-12" ng-if="!CustomerChange">
                        <!--                        <button class="btn lr-insureType-btn" ng-click="onAddCustomerDept()">-->
                        <!--                            <i class="fa fa-plus-square"></i>-->
                        <!--                            增加客户信息变更对比-->
                        <!--                        </button>-->
                        <div ng-repeat="item in CustomerChangeCompareList" style="background:#ffffff">
                            <accordion class=""  >
                                <accordion-group is-open="true" class="lr-page-bg-gray">
                                    <div class="form-group">
                                        <div class="col-md-12" >
                                            <div class="form-group"></div>
                                            <div class="col-md-4">
                                                <span>变更字段名称：</span><span class="fontStyle">{{item.colName}}</span>
                                                <!--                                                <label class="col-md-5 control-label">变更字段名称：</label>-->
                                                <!--                                                <div class="col-md-7">-->
                                                <!--                                                    <input class="form-control"  type="text" disabled="disabled" ng-model="item.colName">-->
                                                <!--                                                </div>-->
                                            </div>
                                            <div class="col-md-4">
                                                <span>变更前：</span><span class="fontStyle" >{{item.colOldVal}}</span>
                                                <!--                                                <label class="col-md-5 control-label">变更前：</label>-->
                                                <!--                                                <div class="col-md-7">-->
                                                <!--                                                    <input class="form-control"  type="text" disabled="disabled"  ng-model="item.colOldVal">-->
                                                <!--                                                </div>-->
                                            </div>
                                            <div class="col-md-4">
                                                <span>变更后：</span><span class="fontStyle" >{{item.colNewVal}}</span>
                                                <!--                                                <label class="col-md-5 control-label">变更后：</label>-->
                                                <!--                                                <div class="col-md-7">-->
                                                <!--                                                    <input class="form-control"  type="text" disabled="disabled"  ng-model="item.colNewVal">-->
                                                <!--                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                    <div ng-if="CustomerChange" class="lr-contant">.....</div>
                </fieldset>
            </div>
        </div>
        <!--        账户信息-->
        <div class="col-md-12">
            <div class="lr-contant">
                <fieldset>
                    <legend>
                        <button  ng-click="Account = !Account" style="border-style: none; background: #ffffff">
                            <span>账户信息</span>
                        </button>
                    </legend>
                    <div class="col-md-12" ng-if="!Account">
                        <button class="btn lr-insureType-btn" ng-click="onAddAccount()">
                            <i class="fa fa-plus-square"></i>
                            增加账户信息
                        </button>
                        <div ng-repeat="item in AccountList" style="background:#ffffff" class="col-md-12">
                            <accordion class=""  >
                                <accordion-group is-open="true" class="lr-page-bg-gray">
                                    <div class="form-group">
                                        <div class="btn lr-page-bg-indigo">
                                        </div>
                                        <div style="text-align: right">
                                            <button type="button" class="btn btn-azure" ng-if="AccountList.length>1"
                                                    ng-click="deletelistOptions($index,1)" type="button" style="float: right;margin-right: 10px">
                                                <i class="fa fa-trash-o"></i>
                                                <span>删除</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">账户类型：</label>
                                                <div class="col-md-7">
                                                    <select class="form-control"  ng-model="item.accType" required
                                                            ng-options="iten.id as iten.name for iten in SELECT.ACCTYPE">
                                                        <option value="">--账户类型--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">开户名称：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control ng-pristine ng-untouched ng-valid ng-empty"  type="text" ng-verify="{max:200}" ng-model="item.accName">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">账号：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text" ng-verify="{max:200}" ng-model="item.accNum">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">开户银行：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text" ng-verify="{max:200}" ng-model="item.accBlank">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">银行联行号：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text" ng-verify="{max:200}" ng-model="item.jointBankNum">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                    <div ng-if="Account" class="lr-contant">.....</div>
                </fieldset>
            </div>
        </div>
        <!--        联系人信息-->
        <div class="col-md-12">
            <div class="lr-contant">
                <fieldset>
                    <legend>
                        <button  ng-click="Linkman = !Linkman" style="border-style: none; background: #ffffff">
                            <span>联系人信息</span>
                        </button>
                    </legend>
                    <div class="col-md-12" ng-if="!Linkman">
                        <button class="btn lr-insureType-btn" ng-click="onAddLinkman()">
                            <i class="fa fa-plus-square"></i>
                            增加联系人信息
                        </button>
                        <div ng-repeat="item in LinkmanList" style="background:#ffffff" class="col-md-12">
                            <accordion class=""  >
                                <accordion-group is-open="true" class="lr-page-bg-gray">
                                    <div class="form-group">
                                        <div class="btn lr-page-bg-indigo">
                                        </div>
                                        <div style="text-align: right">
                                            <button type="button" class="btn btn-azure" ng-if="LinkmanList.length>1"
                                                    ng-click="deletelistOptions($index,2)" type="button" style="float: right;margin-right: 10px">
                                                <i class="fa fa-trash-o"></i>
                                                <span>删除</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12" >
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">联系人类型：</label>
                                                <div class="col-md-7">
                                                    <select class="form-control"  ng-model="item.linkmanType" required
                                                            ng-options="iten.id as iten.name for iten in SELECT.LINKMANTYPE">
                                                        <option value="">--联系人类型--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">联系人姓名：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text" ng-verify="{max:200}" ng-model="item.name">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">联系人部门：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text"  ng-model="item.dept">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">联系人地址：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text"  ng-model="item.address">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">邮编：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text"  ng-model="item.post">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">联系人电话：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text" ng-verify="{max:200}" ng-model="item.tele">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">传真：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text"  ng-model="item.fax">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">电子邮箱：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text"  ng-model="item.mail">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">备注：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text"  ng-model="item.memo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn lr-page-bg-indigo">
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                    <div ng-if="Linkman" class="lr-contant">.....</div>
                </fieldset>
            </div>
        </div>
        <!--        部门信息-->
        <div class="col-md-12">
            <div class="lr-contant">
                <fieldset>
                    <legend>
                        <button  ng-click="Customer = !Customer" style="border-style: none; background: #ffffff">
                            <span>部门信息</span>
                        </button>
                    </legend>
                    <div class="col-md-12" ng-if="!Customer">
                        <button class="btn lr-insureType-btn" ng-click="onAddCustomerDept()">
                            <i class="fa fa-plus-square"></i>
                            增加部门信息
                        </button>
                        <div ng-repeat="item in CustomerDeptList" style="background:#ffffff">
                            <accordion class=""  >
                                <accordion-group is-open="true" class="lr-page-bg-gray">
                                    <div class="form-group">
                                        <div class="btn lr-page-bg-indigo">
                                        </div>
                                        <div style="text-align: right">
                                            <button type="button" class="btn btn-azure" ng-if="CustomerDeptList.length>1"
                                                    ng-click="deletelistOptions($index,3)" type="button" style="float: right;margin-right: 10px">
                                                <i class="fa fa-trash-o"></i>
                                                <span>删除</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12" >
                                            <div class="form-group"></div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">部门名称：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text"  ng-model="item.dept">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="col-md-5 control-label">备注：</label>
                                                <div class="col-md-7">
                                                    <input class="form-control"  type="text"  ng-model="item.remark">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                    <div ng-if="Customer" class="lr-contant">.....</div>
                </fieldset>
            </div>
        </div>
        <!--        附件-->
        <div class="col-md-12">
            <div class="btn lr-insureType-btn" style="width: 100%">
                <div class="pull-right lr-mr10 lr-mt10" style="margin-right: 50px;">
                    <button class="btn btn-sm btn-info" type="button" ng-show="isEdit" ng-click="onUploads();" >上传</button>
                    <button class="btn btn-sm btn-info" type="button" ng-show="isEdit" ng-click="onDeleteLine();">删除</button>
                    <button class="btn btn-sm btn-info" type="button" ng-click="onDownLoads();" ng-show="upOrDown">下载</button>
                </div>
            </div>
            <div ui-grid="dealAttachmentBGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                 ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>
        </div>
    </div>
    <accordion class="" close-others="oneAtATime">
        <accordion-group is-open="false" class="lr-page-bg-gray">
            <accordion-heading class="lr-page-bg-white">
                <div class="btn lr-page-bg-indigo">
                    <i class="fa fa-hand-o-up lr-page-color" aria-hidden="true"></i>
                    <span class="lr-page-color" ng-bind="getDisName('操作信息','')"></span>
                </div>
                <i class="fa pull-right fa-chevron-circle-down lr-arrow-color"
                   ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-5 control-label">单据状态：</label>
                    <div class="col-md-7 div-cao-zuo">
                        {{VO.billstatus}}
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">业务单位：</label>
                    <div class="col-md-7 div-cao-zuo">
                        {{VO.pkOrg.name}}
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">制单日期：</label>
                    <div class="col-md-7 div-cao-zuo">
                        {{VO.operateDate}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-5 control-label">经办人：</label>
                    <div class="col-md-7 div-cao-zuo">
                        {{VO.pkOperator.name}}
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">复核人：</label>
                    <div class="col-md-7 div-cao-zuo">
                        {{VO.pkChecker}}
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">复核日期：</label>
                    <div class="col-md-7 div-cao-zuo">
                        {{VO.checkDate}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-5 control-label">复核日期：</label>
                    <div class="col-md-7 div-cao-zuo">
                        {{VO.checkDate}}
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">复核时间：</label>
                    <div class="col-md-7 div-cao-zuo">
                        {{VO.checkTime}}
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label">复核意见：</label>
                    <div class="col-md-7 div-cao-zuo">
                        {{VO.vapprovenote}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-5 control-label">复核意见：</label>
                    <div class="col-md-7 div-cao-zuo">
                        {{VO.vapprovenote}}
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>
</form>
