<form class="form-horizontal" name="appForm" verify-scope="tipStyle: 1" ng-if="isForm">
    <div class="lr-toolbar">
        <div class="lr-contant text-right " add-form-btn>
        </div>
    </div>
    <div class="lr-contant">
        <fieldset>
            <legend>
                项目基本信息
            </legend>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="col-md-5 control-label lr-verify">批复编号：</label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" ng-model="VO.approvalCode" ng-verify="{required:true,max:18}" placeholder="不超过18个字">
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-5 control-label lr-verify">批复日期：</label>
                    <div class="col-md-7">
                        <div class="input-group " moment-picker="VO.approvalDate" locale="zh-cn" start-view="day" format="YYYY-MM-DD">
                            <span class="input-group-addon">  <i class="fa fa-calendar"></i> </span>
                            <input class="form-control" placeholder="查询单据录入的年度" ng-model="VO.approvalDate" ng-verify="{required:true}"
                                   ng-model-options="{ updateOn: 'blur' }">
                        </div>

                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="lr-contant">
        <fieldset>
            <legend>
                批复项目详情
            </legend>
            <div class="row">
                <div class="pull-right lr-mr10 lr-mt10">
                    <button class="btn btn-sm btn-info" type="button" ng-click="onAddProjectInfo()">增行</button>
                    <button class="btn btn-sm btn-info" type="button" ng-click="onDeleteLine('applysGridOptions')">减行</button>
                </div>
            </div>
            <div class="row">
                <div ui-grid="applysGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize
                     ui-grid-resize-columns class="grid" class="min-height-250"></div>
                </tab>
            </div>
        </fieldset>
    </div>

    <div class="lr-contant">
        <fieldset>
            <legend>
                批复文件
            </legend>
            <input-file-uploader instructions="'项目批复文件扫描件'" func-code="funcCode" model-data="VO.dealAttachmentB.reply"></input-file-uploader>
        </fieldset>
        <fieldset>
            <legend>
                决策文件
            </legend>
            <input-file-uploader instructions="'项目批复决策文件'" func-code="funcCode" model-data="VO.dealAttachmentB.decision"></input-file-uploader>
        </fieldset>
    </div>
</form>
