<div class="form-horizontal" >
    <accordion>
        <accordion-group is-open="status.open" class="lr-page-bg-gray" grid-button="true">
            <accordion-heading class="lr-page-bg-white">
                <div class="btn lr-page-bg-indigo" ng-click="changeOpen();">
                    <i class="fa fa-search lr-page-color" aria-hidden="true"></i>
                    <span class="lr-page-color">查询条件</span>
                </div>
                <div class="form-group pull-right">
                    <div class="btn-group">
                        <button class="btn lr-main-btn" ng-click="queryTotal = !queryTotal">
                            <i class="fa fa-ellipsis-h"></i>
                            <span>高级查询</span>
                        </button>
                        <button class="btn lr-main-btn" ng-click="onQuery();">
                            <i class="fa fa-search"></i>
                            <span>查询</span>
                        </button>
                        <button class="btn lr-main-btn" ng-click="onReset();">
                            <i class="fa fa-undo"></i>
                            <span>重置</span>
                        </button>
                    </div>
                </div>
            </accordion-heading>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">产品类型：</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="QUERY['systype0_0eq']"
                                    ng-options="item.id as item.name for item in SELECT.INTERNETQUERYTYPE">
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="queryTotal&&selectType">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">保单信息编号：</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="QUERY['insuranceinfono']"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">保单起止时间</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" wdate-picker
                                       ng-model="QUERY['start_date0_0gt']"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">截至</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" wdate-picker ng-model="QUERY['end_date0_0lt']"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">保单号： </label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="QUERY['insuranceno']"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">投保人：</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="QUERY['estimatepk0_0Ref_name']"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="queryTotal&&!selectType">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">团体保单号</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="QUERY['INSURANCENO']"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">保单起始日期</label>
                            <div class="col-md-8">
                                <input class="form-control"  type="text" wdate-picker  ng-model="QUERY['STARTDATE']"/>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-4 control-label">保单到期日期</label>
                            <div class="col-md-8">
                                <input class="form-control"  type="text" wdate-picker  ng-model="QUERY['ENDDATE']"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">订单号</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="QUERY['INSURANCE_ID']"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">投保人</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="QUERY['ESTIMATENAME']"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">支付方式</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="QUERY['PAY_TYPE']"
                                        ng-options="item.id as item.name for item in SELECT.PAYTYPES">
                                    <option value="">-请选择-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">产品名称</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="QUERY['PRODUCT_NAME']"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </accordion-group>
    </accordion>
</div>

<div class="lr-grid-container">
    <div>
        <accordion>
            <accordion-group is-open="true"  grid-button="true">
                <accordion-heading class="lr-page-bg-white">
                    <div class="lr-grid-toolbar" >
                        <div class="btn lr-page-bg-indigo">
                            <i class="fa fa-database lr-page-color" aria-hidden="true"></i>
                            <span class="lr-page-color">查询结果</span>
                        </div>
                        <div class="btn-group lr-grid-btn-right" add-grid-btn>
                            <button class="btn btn-azure ng-scope" ng-click="moveDianShangData()">
                                <i class="fa fa-plus"></i>
                                中间表到业管
                            </button>
                            <button class="btn btn-azure ng-scope" ng-click="moveData()">
                                <i class="fa fa-plus"></i>
                                业务数据到中间表
                            </button>
                        </div>
                    </div>
                </accordion-heading>
                <div class="clearfix lr-page-margin" ng-style="getGridHtmlStyle('','',470,0)" ng-show="selectType==true">
                    <div ui-grid="gridOptions" ui-grid-pagination ui-grid-exporter ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection ui-grid-pinning class="grid" style="min-height: 100%"></div>
                </div>
                <div class="clearfix lr-page-margin" ng-style="getGridHtmlStyle('','',470,0)" ng-show="selectType==false">
                    <div ui-grid="hmbGridOptions" ui-grid-pagination ui-grid-exporter ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection ui-grid-pinning class="grid" style="min-height: 100%"></div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <input type="file" id="inputFile"  accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="display: none" onchange="angular.element(this).scope().onImportUploads(false)"/>
    <div>
        <tabset justified="false" ng-show="chilbTable&&selectType">
            <tab index="2" heading="保险人信息" select="selectTab('insurancemanGridOptions')">
                <div ui-grid="insurancemanGridOptions"  ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height:200px"></div>
            </tab>
            <tab index="6" heading="保险责任信息" select="selectTab('insuranceGLifeOptions')">
                <div ui-grid="insuranceGLifeOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize
                     ui-grid-resize-columns class="grid" style="height: 200px"></div>
            </tab>
            <tab index="4" heading="收付款信息" select="selectTab('paymentGridOptions')">
                <div ui-grid="paymentGridOptions"  ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height:200px"></div>
            </tab>
            <tab index="2" heading="被保人信息" select="selectTab('insurancedmanGridOptions')">
                <div ui-grid="insurancedmanGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                     ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height: 200px"></div>
            </tab>
            <tab index="6" heading="附件" select="selectTab('dealAttachmentBGridOptions')">
                <div ui-grid="dealAttachmentBGridOptions" ui-grid-cellnav ui-grid-selection ui-grid-auto-resize
                     ui-grid-resize-columns class="grid" style="height: 200px"></div>
            </tab>
        </tabset>
        <tabset justified="false" ng-show="chilbTable&&!selectType">
            <tab index="1" heading="险种信息" select="selectTab('insuranceinfosGridOptions')">
                <div ui-grid="insuranceinfosGridOptions" ui-grid-cellnav ui-grid-selection ui-grid-auto-resize
                     ui-grid-resize-columns class="grid" style="height:200px"></div>
            </tab>
            <tab index="2" heading="被保险人信息" select="selectTab('insurancemansGridOptions')">
                <div ui-grid="insurancemansGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                     ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height:200px"></div>
            </tab>
        </tabset>
    </div>
</div>