<div ng-controller="insuranceMsgCtrl">
   <!-- <div class="form-horizontal" >
        <accordion>
            <accordion-group is-open="status.open" class="lr-page-bg-gray" grid-button="true">
                <accordion-heading class="lr-page-bg-white">
                    <div class="btn lr-page-bg-indigo" ng-click="changeOpen();">
                        <i class="fa fa-search lr-page-color" aria-hidden="true"></i>
                        <span class="lr-page-color">查询条件</span>
                    </div>
                    <div class="form-group pull-right">
                        <div class="btn-group">
                            <button class="btn lr-main-btn" ng-click="queryTotal = !queryTotal">
                                <i class="fa fa-ellipsis-h"></i>
                                <span>高级查询</span>
                            </button>
                            <button class="btn lr-main-btn" ng-click="onQuerySub();">
                                <i class="fa fa-search"></i>
                                <span>查询</span>
                            </button>
                            <button class="btn lr-main-btn" ng-click="onResetSub();">
                                <i class="fa fa-undo"></i>
                                <span>重置</span>
                            </button>
                        </div>
                    </div>
                </accordion-heading>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">起保年度</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="QUERYSUB['subString(startdate,1,4)']"
                                        ng-options="item.id as item.name for item in SELECT.BUSIYEAR">
                                    <option value="">&#45;&#45;请选择&#45;&#45;</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">起保月度</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="QUERYSUB['subString(startdate,6,2)']"
                                        ng-options="item.id as item.name for item in SELECT.MONTH">
                                    <option value="">&#45;&#45;请选择&#45;&#45;</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-4 control-label">截止月度</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="QUERYSUB['subString(enddate,6,2)']"
                                        ng-options="item.id as item.name for item in SELECT.MONTH">
                                    <option value="">&#45;&#45;请选择&#45;&#45;</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div ng-if="queryTotal">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 control-label">保单号</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="QUERYSUB['insuranceno^like']"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-4 control-label">承保公司</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="QUERYSUB['insuranceman^like']"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-4 control-label">投保人</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="QUERYSUB['estimate_name^like']"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 control-label">险种</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="QUERYSUB['insurancename^like']"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-4 control-label">立项编号</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="QUERYSUB['c_procode^like']"/>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="col-md-4 control-label">建立部门</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="QUERYSUB['builddept^like']"/>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </accordion-group>
        </accordion>
    </div>-->

    <div class="lr-grid-container">
        <div>
            <accordion>
                <accordion-group is-open="true" grid-button="true">
                    <accordion-heading class="lr-page-bg-white">
                        <div class="lr-grid-toolbar">
                            <div class="btn lr-page-bg-indigo">
                                <i class="fa fa-database lr-page-color" aria-hidden="true"></i>
                                <span class="lr-page-color">查询结果</span>
                            </div>
                            <div class="btn-group lr-grid-btn-right">
                            </div>
                        </div>
                    </accordion-heading>
                    <div class="clearfix lr-page-margin" ng-style="getGridHtmlStyle('','',470,0)">
                        <div ui-grid="insuranceMsg" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns
                             ui-grid-selection ui-grid-pinning class="grid" style="min-height: 100%"></div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div>
              <tabset justified="false" ng-if="chilbTable">
                  <tab index="1" heading="保险险种信息" select="selectTab('insuranceinfoGridOptions')">
                      <div ui-grid="insuranceinfoGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height:200px"></div>
                  </tab>
                  <tab index="2" heading="被保人信息" select="selectTab('insurancedmanGridOptions')">
                      <div ui-grid="insurancedmanGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height:200px"></div>
                  </tab>
                  <tab index="3" heading="保险人信息" select="selectTab('insurancemanGridOptions')">
                      <div ui-grid="insurancemanGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height:200px"></div>
                  </tab>
                  <tab index="4" heading="收付款信息" select="selectTab('paymentGridOptions')">
                      <div ui-grid="paymentGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid" style="height:200px"></div>
                  </tab>
              </tabset>
        </div>
    </div>
</div>